<h1 class="editable">TinyMCE Test Page</h1>
<div class="editable">This is an editable paragraph</div>

<script>
  tinymce.init({
    selector: 'h1.editable',
    inline: true,
    toolbar: 'undo redo',
    menubar: false
  });

  tinymce.init({
    selector: 'div.editable',
    inline: true,
    toolbar: 'undo redo | bold italic | bullist | save',
    menubar: false,
    setup: function(editor) {
      editor.addButton('save', {
        tooltip: 'Save',
        icon: true,
        image: '/assets/tinymce/save_icon.png',
        onclick: function() {
          alert('save!');
        }
      })
    }
  });
</script>

