@import 'shared/layout_vars';

$block-height: 55px;

.l-form-box {
  background: #f1f7fb;
  margin: 53px auto 0 auto;
  padding: 23px 58px 15px 58px;
  max-width: 445px;

  & > form {
    margin-top: 25px;
  }

  & > h1 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
}

.txt, .txt > a {
  color: #525252;
  font-size: 14px;
}

.txt-block {
  display: block;
  margin-top: 12px;
  text-align: center;
}

.block {
  border-radius: 1.4px;
  display: block;
  font-size: 13px;
  height: $block-height;
  line-height: $block-height;
  width: 100%;
}

input[type="submit"] {
  -webkit-appearance: none; 
  background: $eol-blue;
  border: none;
  color: $white;
  cursor: pointer;
  margin-top: 11px;
}

.input {
  $height: 55px;
  border: solid 0.7px #acacac;
  margin-top: 7px;
  padding: 0 26px;
}

.field_with_errors {
  $error-red: #f00;

  .label {
    color: $error-red;
  }

  .input {
    border-color: $error-red;
  }
}

.actions {
  margin-top: 20px;
}


.links {
  margin: 20px 0;
}

.errors {
  list-style: disc outside;
  margin-top: 25px;
}

.error {
  margin-top: 5px
}

.form-notice {
  margin-top: 25px;
  width: 100%;
}
