// Dimensions/units
$unit-px: 16px;
$em: 16;
$main-col-width: 939;
$main-col-width-px: $main-col-width * 1px;
$main-col-padding: 12;
$main-col-with-padding-width: $main-col-width + 2 * $main-col-padding;
$main-col-padding-pct: percentage($main-col-padding / ($main-col-width + 2 * $main-col-padding));
$topbar-row-height: 39px;
$topbar-height: $topbar-row-height * 2;
$nav-mobile-width: 920px;

$page-padding: 250;
$page-width: ($page-padding * 2 + $main-col-width) / $em * 1em;
$page-width-px: $page-padding * 2 + $main-col-width;

$head-trans-width: 525;

// Based on card resources page -- not final
$tablet-width: 600px;
$full-width: 800px;

// Colors
$white: #fff;
$black: #000;
$background-gray: #f4f4f4;
$eol-link-color: #2e303d;
$eol-link-selected-bg-color: #a9ba30;
$eol-green: #a9ba30; 
$about-link-gray: #c6c6c6;
$section-border-gray: #979797;
$section-title-gray: #3e3e3e;
$section-intro-gray: #161616;
$nav-overlay-gray: #333;
$link-blue: #00ace8;
$eol-blue: #379dff;
$red: #f00;
$txt-gray: #53666e;
$card-field-blue: #71baff;
$navbar-gray: #f7f7f7;
$nav-link-blue: #54a3ff;
$nav-link-gray: #b3b3b3;
$nav-green: #74a561;

// Fonts
$open-sans: 'Open Sans', sans-serif;
$bold: 700;
$semibold: 600;
$light: 300;

// Mixins
@mixin main-col-horiz {
  margin: 0 auto;
  max-width: $main-col-width / $em * 1em;
  padding: 0 $main-col-padding-pct;
}

@mixin standard-link {
  color: $link-blue;
  cursor: pointer;
  font-weight: $semibold;
  text-decoration: none;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

// Functions
@function px-to-em($px) {
  @return $px / $em * 1em; 
}
