.lightbox {
  border: none;
  margin: 20px auto;
  padding: 10px;
  
  &:focus {
    outline: none;
  }
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(67, 82, 95, 0.79);
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

