@import 'layout_vars';

.arrow {
  color: $white;
  cursor: pointer;
  position: absolute;
  top: 230px; 
}

.arrowLeft {
  left: -50px; 
}

.arrowRight {
  right: -50px;
}

.isArrowDisabled {
  color: $txt-gray;
  cursor: normal;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(67, 82, 95, 0.79);
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.imageZoom {
  margin: 20px auto 0 auto;
  padding: 0;
  position: relative;
  width: 402px;

  & > button {
    display: block;
    margin: 0 auto 10px auto;
  }

  &:focus {
    outline: 0;
  }
}

.lightbox {
  border: none;
  margin: 20px auto;
  padding: 10px;
  
  &:focus {
    outline: none;
  }
}

