@import "layout_vars";
@import 'buttons';

.lightbox {
  border: none;
  margin: 20px auto;
  padding: 10px;
  
  &:focus {
    outline: none;
  }
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(67, 82, 95, 0.79);
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.dialog {
  background: $white;
  font-size: 14px;
  margin: 0 auto;
  padding: 20px 40px;
  width: 400px;

  & > p {
    margin-bottom: 20px;
  }
}

.btnDialog {
  display: block;
  font-size: 16px;
  margin: 0 auto;
  height: 40px;
  width: 80px;
}
