<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.values.each do |messages| %>
        <% messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
