<div id="Header">
  <div class="site-logo"><%= link_to "EOL L&E", root_url %></div>
  <div class="user-info">
  <% if logged_in_user %>
    <span>Hi, <%= logged_in_user.user_name %>!</span>
    <%= link_to "Sign out", logout_url %>
  <% else %> 
    <%= link_to "Sign in", login_url %>
  <% end %>
  </div>
</div>
