.hero-shim
  .hero-shim-inner{:style => "background-image: url(#{image_path large});" }
.hero-full{ :style => "background-image: url(#{image_path large});" }
.hero-small{ :style => "background-image: url(#{image_path small});"}
