.intro{class: local_assigns.fetch(:class, "")}
  %h1.intro-hdr= t header
  - paragraphs.each do |para|
    %p.text.text-p
      - if para.is_a? String
        = t para
      - else 
        -# Hash is the only other accepted type
        = t para[:key], para[:vars]

