.js-slide-menu.slide-menu
  = render :partial => "shared/user_links", :locals => { :top_class => "user-links-slide" }
  = render :partial => "shared/lang_select", :locals => { :extra_class => "lang-menu-slide" }
