<div class="field">
  <div>Published locales</div>
  <% I18n.available_locales.each do |locale| %>
    <%= check_box_tag("published_locales[]", locale, model.published_in_locale?(locale)) %>
    <%= label_tag("published_locales[]", locale) %>
  <% end %>
</div>
