.about-box#AboutBox
  .about-box-head About the Encyclopedia Learning + Education Group
  .about-box-body 
    %p The Encyclopedia of Life (EOL) is an open science project that pulls together information from over 350 partners about the world’s living nature - or biodiversity - which includes all plants, animals and microorganisms that have scientific names. All of the text, images, videos and data on EOL are free to be reused and repurposed with attribution. There are about 2 million known and named organisms in the world. That means there is a lot of information on EOL and it can be hard to navigate or make sense of it all.

    %p That’s where the EOL Learning + Education Group (L+E) comes in. Through creative partnerships with educators and institutions that support science literacy, and in collaboration with enthusiasts and amateur naturalists, we develop tools and services to view EOL’s biodiversity information in more manageable ways. For example, EOL Places provides a geographic window to explore biodiversity using food webs, observations and games, while EOL Species Cards are printable and easy to use in classroom activities to learn about organisms, their traits, adaptations and where they live.

    %p If you are interested in collaborating or have ideas for how we can improve our materials, please contact us.
