.slide
  %img{:src => img, :class => "slideshow-img"}
  .slide-overlay-wrap 
    .slide-overlay
      .slide-head-grp
        .slide-title= title
        .slide-subtitle= subtitle
      .slide-desc= desc
