#Slideshow.slideshow
  = render "slide", :img => "https://placekitten.com/1439/349",
    :title => "One Species at a Time",
    :subtitle => "The Right Whale", 
    :desc => "This 6-minute podcast on animal communication has lesson plans, transcripts, and scientist interviews, too."
  = render "slide", :img => "https://placekitten.com/1439/349",
    :title => "One Species at a Time",
    :subtitle => "The Right Whale", 
    :desc => "This 6-minute podcast on animal communication has lesson plans, transcripts, and scientist interviews, too."

