.slide
  .slideshow-shim
    .slideshow-shim-inner
  .cat.slideshow-img
  .slide-overlay-wrap 
    .slide-overlay
      .slide-overlay-inner
        .slide-head-grp
          .slide-title= title
          .slide-subtitle= subtitle
        .slide-desc= desc
