#Slideshow.slideshow
  = render "slide", :img => "right_whale",
    :title => "One Species at a Time",
    :subtitle => "The Right Whale", 
    :desc => "This 6-minute podcast on animal communication has lesson plans, transcripts, and scientist interviews, too."
  = render "slide", :img => "anole",
    :title => "One Species at a Time",
    :subtitle => "The Right Whale", 
    :desc => "This 6-minute podcast on animal communication has lesson plans, transcripts, and scientist interviews, too."
  = render "slide", :img => "dolphins",
    :title => "One Species at a Time",
    :subtitle => "The Right Whale", 
    :desc => "This 6-minute podcast on animal communication has lesson plans, transcripts, and scientist interviews, too."
  = render "slide", :img => "tube_worm",
    :title => "One Species at a Time",
    :subtitle => "The Right Whale", 
    :desc => "This 6-minute podcast on animal communication has lesson plans, transcripts, and scientist interviews, too."

