#Slideshow.slideshow
  = render "slide", :img => "right_whale",
    :title => "Podcast",
    :subtitle => "The Right Whale", 
    :desc => "This 6-minute podcast on animal communication has lesson plans, transcripts, and scientist interviews, too.",
    :url => "http://eol.org/info/podcasts_behavior#rightwhale"
  = render "slide", :img => "amphibians",
    :title => "Biodiversity Article",
    :subtitle => "What is an Amphibian?",
    :desc => "Check-out EOL’s introductory article with links to other resources to learn about amphibians.",
    :url => "http://eol.org/info/amphibians"
  = render "slide", :img => "sea_monsters",
    :title => "Memory Game",
    :subtitle => "Beautiful Sea Monsters",
    :desc => "Play this Memory Game and explore the EOL Collection to learn more.",
    :url => "/memory/play.php?xmgp=3230342a42656175746966756c2532305365612532304d6f6e73746572732a687474702533412532462532466d656469612e656f6c2e6f7267253246636f6e74656e742532463230313325324631302532463138253246313025324632363134335f38385f38382e6a70672a31"
  = render "slide", :img => "food_chain",
    :title => "Lesson Plan",
    :subtitle => "Energy Flow and Food Chain Rummy",
    :desc => "Explore this middle school classroom activity addressing NGSS benchmarks.",
    :url => "https://docs.google.com/document/d/1AX8l-hQnaeKbncVyuyAA6CjIhMfDNJPBeRBFAPEC2mY/edit"

