=link_to url do
  .slide
    = render "shared/hero_image", :large => slide_image_path(img),
      :small => small_slide_image_path(img)
    .slide-overlay-wrap 
      .slide-overlay
        .slide-overlay-inner
          .slide-head-grp
            .slide-title= title
            .slide-subtitle= subtitle
          .slide-desc= desc
