#Page
  #Topbar.topbar
    .topbar-inner
      %a#EolNav.eol-nav.nav-link
        =image_tag "welcome/eol_logo.png", :class => "eol-logo"
      %h1#Title.title 
        Learning 
        %span.title-plus + 
        Education
      #About.about.nav-link ABOUT US
  #Slideshow.slideshow
    %img{:src => "https://placekitten.com/1441/426", :class => "slideshow-img"}
  .main-col
    .welcome-box
      %h2.welcome-hdr Welcome to Learning + Education at the Encyclopedia of Life
      %p.welcome-p The Encyclopedia of Life Learning + Education group (EOL L+E) is part of the larger EOL collaborative with a mission to make information about all life on Earth - microorganisms, plants and animals - freely available to anyone with access to the internet. EOL L+E works with educators, citizen scientists and partners to put this biodiversity information into context.
      %p.welcome-p Our website is in transition. At the moment, several of our resources are found on EOL or partner websites. Thank you for your patience and we look forward to hearing from you if you have questions or feedback.
    .section-head 
      %h2.section-title EOL Learning + Education Resources
      %p.section-intro EOL L+E tools and resources are found on this website and EOL. We're working ot make the connection between the sites more seamless. At the moment, here is what you can find on this website.
    %ul.nav-items
      %li.double-width.nav-item>
        %img.image{:src => "https://placekitten.com/782/386"}
        .bar EOL Places
      %li.single-width.nav-item.last>
        %img.image{:src =>"https://placekitten.com/385/386"}
        .bar Memory Game
    .section-head
      %h2.section-title EOL.org Resources
      %p.section-intro EOL has been the main website for the organization since we launched in 2008 so that's why we have so many of our resources over there. Stay tuned for some changes.
    %ul.nav-items
      %li.single-width.nav-item>
        %img.image{:src =>"https://placekitten.com/385/386"}
        .bar Biodiversity Articles
      %li.single-width.nav-item>
        %img.image{:src =>"https://placekitten.com/385/386"}
        .bar Podcasts
      %li.single-width.nav-item.last>
        %img.image{:src =>"https://placekitten.com/385/386"}
        .bar Species Cards
      %li.double-width.nav-item>
        %img.image{:src => "https://placekitten.com/782/386"}
        .bar Google Earth Tours
      %li.single-width.nav-item.last>
        %img.image{:src =>"https://placekitten.com/385/386"}
        .bar Lesson Plans
      %li.single-width.nav-item>
        %img.image{:src =>"https://placekitten.com/385/386"}
        .bar Featured Collections

      %li.double-width.nav-item.last>
        %img.image{:src => "https://placekitten.com/782/386"}
        .bar High Resolution Images on EOL
    .section-head
      %h2.section-title EOL Partner Resources
      %p.section-intro EOL and EOL L+E work closely with many open science and open education partners to extend the possibilities for learning about biodiversity. Here are two that we find enormously useful and enjoyable.
     
    %ul.nav-items
      %li.double-width.nav-item>
        %img.image{:src => "https://placekitten.com/782/386"}
        .bar iNaturalist Observation Platform
      %li.single-width.nav-item.last>
        %img.image{:src =>"https://placekitten.com/385/386"}
        .bar BHL Coloring Books
