@import 'layout_vars';

$field-label-padding-left: 21px;
$text-input-height: 34px;
$color-btn-width: 70px;

$key-val-field-height: 34px;
$key-val-field-width: 174px;
$key-val-field-spacing: 2px;

.lField {
  margin: 0 auto;
  padding: 22px 0;
  position: relative;
  width: 300px;
}

.lTextField {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 77px;
}

.lTextInput {
  display: flex;
  flex: 0 0 auto;
  height: $text-input-height;
  margin: 0 13px;
  overflow: hidden;
  width: 294px;
}

.lTextInputCustom {
  margin: 0;
  width: 100%;
}

.textEntry {
  border: none;
  border-radius: 1.4px;
  color: #242424;
  font-size: 13px;
  outline: none;
}

.textEntryTextList {
  height: 40px;
  padding: 5px;
  width: 100%;
}

.textInput {
  height: 100%;
  padding: 0 13px;
}

  .textInputTextField {
    width: 100%;
  }

.textInputColorBtn {
  cursor: pointer;
  height: $text-input-height;
  position: absolute;
  right: 0;
  text-align: center;
  width: $color-btn-width;

  & > i {
    font-weight: bold;
    vertical-align: middle;
  }
}

.iconSelect {
  background: $white;
  cursor: pointer;
  position: relative;
  width: 100%;
}

  .iconChoices {
    background: inherit;
    display: flex;
    flex-wrap: wrap;
    position: absolute;  
    width: 100%;
  }

  .iconChoice {
    flex: 1 0 auto;
    padding: 10px 5px 0 5px;
    text-align: center;
    width: 50%;

    & > img {
      margin-top: 3px;
      max-width: 140px;
    }
  }

    .isIconChoiceSelected {
      background-color: #efefef;
      box-shadow: inset 0 1px 3px 0 rgba(100, 100, 100, 0.5);
    }

  .iconSelection {
    height: 50px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 100%;

    & > i {
      font-size: 18px;
      position: absolute;
      right: 28px;
      top: 16px;
    }

    & > img {
      height: 32px;
    }
  }

.labelText {
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  width: 100%;
}

  .labelTextStatic {
    background: $card-field-blue;
  }

.fieldLabel {
  $height: 34px;
  background-color: $white;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 0 0 rgba(7, 83, 198, 0.33);
  font-family: Merriweather;
  font-size: 14px;
  height: $height;
  line-height: $height;
  padding: 0 $field-label-padding-left;
  position: relative;
}
  .fieldLabelTabs {
    background: #000;
    padding: 0;
  }

  .fieldTab {
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 0;
  }

    .fieldTabLeft {
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      left: 0;
      padding-left: $field-label-padding-left;
      width: 56%;
    }

    .fieldTabRight {
      clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0 100%);
      right: 0;
      text-align: center;
      width: 50%;
    }

    .isFieldTabInactive {
      background: #e8e8e8;
      color: #979797;
      cursor: pointer;
    }

.colorChoices {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: $color-btn-width;

  & > li {
    height: 30px;
    width: 100%;
  }
}

  .colorChoicesKeyVal {
    width: 20%;
  }

.keyValFields {
  margin: (22px - $key-val-field-spacing) auto 22px auto;
  position: relative;
  width: $key-val-field-width * 2 + $key-val-field-spacing;
}

.keyValRow {
  height: $key-val-field-height;
  margin-top: $key-val-field-spacing;
  position: relative;
  width: 100%;
}

.lKeyVal { 
  position: relative;
  width: $key-val-field-width; 
  height: 100%;
}

.keyValField {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.keyValFieldWColor {
  border-radius: 2px 0 0 2px;
  width: 80%;
}

.keyValColorAnchor {
  background-color: #000;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  display: inline-block;
  flex: 0 0 auto;
  height: 100%;
  padding-top: 5px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 20%;
}

.cardBox {
  display: inline-block;
  margin: 0;
  padding-top: 33px;
  width: 287px;
}

.cardBoxNoImg {
  display: block;
  margin: 0 auto;
}

.cardEolLink {
  background: $white;
  color: #0353bc;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 12px auto 0 auto;
  text-align: center;
  text-decoration: none;
  width: 240px;

  & > i {
    font-size: 16px;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
}

.lFl {
  float: left;
}

.lFr {
  float: right;
}

.isDisableExempt {
  z-index: 100 !important;
}

