@import "layout_vars";

$txt-gray: #53666e;

.lPage {
  background-image: linear-gradient(to bottom, #ecf2f6, #b9cbd4);
  color: $txt-gray;
}

.lMainCol {
  margin: 0 auto;
  width: $main-col-width * 1px;
}
