@import 'layout_vars';

// TODO: standardize font colors!!!
$manager-height: 762px;
$left-rail-width: 226px;
$ctrls-height: 106px;
$cards-hdr-height: 44px;
$btn-height: 36px;
$lib-height: 32px;
$menu-bar-height: 40px;
$new-btn-width: 64px;
$new-row-height: 33px;
$search-results-width: 320px;
$deck-select-arw-width: 50px;
$resources-box-shadow: inset 45px 0px 105px -83px rgba(0,0,0,0.41);
$search-height: 53px;
$resources-height: 600px;
$disabled-gray: #9db2b8;
$deck-sel-shadow-color: #c6cfd1;
$light-gray: #ecf2f6;
$filter-bar-bg: #90b8c5;
$filter-bar-shadow-color: #48636b;
$resource-new-msg-bg: #38454e;
$resource-new-cta-bg: #537698;
$desc-btn-bg: #d8e2e6;
$bar-menu-dark-grey: #9db2b8;
$deck-bar-blue: #5893b0;
$species-search-pad-horiz: 30px;
$species-search-card-width: 170px;
$species-search-card-height: 232px;
$species-search-input-height: 45px;

/* STATES */

/* LAYOUTS */
.lLeftRail {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: $left-rail-width;
}

.lResources {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  vertical-align: top;
  width: $main-col-width-px - $left-rail-width;
} 

.lDeckMenu {
  height: 192px;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

.lDeckMenuFlex {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

/* GENERAL STATE */
.isDisabled {
  color: $disabled-gray; 
}

/* MODULES */


/* GENERAL PURPOSE (should probably be moved out of here) */

.tog {
  background: $white; 
  border-radius: 13px;
  color: $eol-blue;
  cursor: pointer;
  padding: 5px 15px;
}

.searchContain {
  background: rgba(255, 255, 255, 0.9);
  height: $search-height;
  padding-right: 10px;
  width: 100%;
}

.search {
  $icon-width: 49px;

  border: none;
  display: flex;
  height: $search-height;
  line-height: $search-height;
  width: 100%;

  & > i {
    color: $eol-blue;
    display: inline-block;
    flex: 0 0 auto;
    height: 100%;
    line-height: $search-height;
    padding-left: 23px;
    width: $icon-width;
  }

  & > input {
    background: none;
    border: none;
    flex: 1 0 auto;
    font-size: 12px;
    height: 100%;
    outline: none;
    vertical-align: top;
  }
}

.searchCards {
  float: left;
  width: 400px;
}

.searchCard {
  background: none;
  width: 300px;
}

/* END GENERAL PURPOSE */
.railCtrls {
  background: $white;
  height: 120px;
}

.cardsHdr {
  background: $white;
  color: $eol-green;
  height: 48px;
  line-height: 49px;
  padding-left: 23px;
}

.cardsHdrEolLogo {
  height: 18px;
}

.cardsHdrTwoCards {
  margin: 0 5px;
}

.cardsHdrTxt {
  display: inline-block;
  line-height: .91;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
}

.libs {
  height: 91px;
  padding: 13px 18px;
}

.lib {
  background: $white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  height: $lib-height;
  line-height: $lib-height;
  margin: 0 auto 1px auto;
  padding: 0 17px;
  /*width: 158px;*/
}

  .libIcon {
    margin-right: 7px;
  }

  .checkLib {
    float: right;
    line-height: $lib-height;
  }

.isLibActive {
  color: $eol-blue;
}

/*
  .libCtrlsActive {
    margin: 0 0 4px 8px;
  }
  */

.decks {
  background: $white;
  font-size: 12px;
  height: $resources-height + $search-height;
  list-style: none;
  overflow: auto;
  padding: 17px 23px;
  width: 100%;
}


  .deck {
    cursor: pointer;
    padding: 5px 0;
    width: 100%;
  }

    .deckNew {
      color: $eol-green;
      margin-bottom: 19px;
    }

    .deckNewPlus {
      margin-right: 10px;
    }

    .deckName {
      display: inline-block;
      max-width: 200px;
      vertical-align: middle;
      & > strong {
        font-weight: bold;
      }
    }

    .isDeckActive {
      color: $eol-blue;
    }

.bar {
  flex: 0 0 auto;
  width: 100%;
}

.barMenu {
  background: $light-gray;
  box-shadow: $resources-box-shadow;
  /*height: $menu-bar-height;*/
  height: 0;
  padding-left: 22px;
  position: relative;
}


.barMenuCount {
  display: inline-block;
  font-size: 11px;
  height: $menu-bar-height;
  line-height: $menu-bar-height;
  padding: 0 15px;
  vertical-align: top;
}


.lSort {
  $height: 40px;
  float: right;
  height: $height;
  line-height: $height;
  margin-top: 7px;

  & > div, & > span {
    height: 100%;
    line-height: inherit;
  }
}

.sortLabel {
  font-size: 12px;
  margin-right: 10px;
}

.lDesc {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin: 5px auto;
}

.desc {
  background: rgba(255, 255, 255, 0.94);
  border-radius: 2px;
  font-size: 12px;
  max-height: 110px;
  max-width: 688px;
  overflow: hidden;
  padding: 14px 48px;
}

  .descAdd {
    cursor: pointer;

    & > i {
      color: $eol-blue;
      margin-right: 17px;
    }
  }

  .descInput {
    border: none;
    height: 60px;
    width: 591px;
  }

  .descBtns {
    margin-top: 3px;
    text-align: center;
  }

    .descBtn {
      background: $light-gray;          
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      margin: 0 5px;
      padding: 5px 10px;
    }

.resourceFilterBar {
  background: rgba(#ffffff, 0.9);
  padding-left: 10px;
}

.resources {
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  height: $resources-height;
  overflow: auto;
  padding: 0 11px 11px 11px;
  text-align: center;
  width: 100%;
}

.resource {
  $width: 160px;

  align-items: center;
  cursor: pointer;
  background: $white;
  border-radius: 6px;
  display: inline-flex;
  height: (3.74 * $width) / 2.74; // cards have aspect ratio of 2.74/3.74 including bleed
  justify-content: center;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  width: $width;
  vertical-align: top;
}

.resourceOverlay {
  align-items: center;
  background: rgba(.5, .5, .5, .5);
  bottom: 0; 
  color: $white;
  display: flex;
  //flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;

  & > i {
    text-align: center;
    width: 100%;
  }
}

.resourceOverlayTwoCol {
  & > i {
    width: 50%;
  }
}

.resourcePlaceholder {
  background: #b4c2c9;
  cursor: default;
}

// TODO: rename. Too generic.
.fillParent {
  height: 100%;
  vertical-align: top;
  width: 100%;
}

.newResource {
  color: $eol-green;
  font-size: 14px;
  padding-top: 85px;
  text-align: center;
}

.new {
  background: $eol-blue;
  color: $white;
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
  width: $new-btn-width;
}

.newBtn {
  cursor: pointer;
  font-size: 12px;
  height: 100%;
  text-align: center;
}

.lightboxFlash {
  $height: 25px;
  background-color: #bcffba;
  color: #2b5929;
  height: $height;
  line-height: $height;
  margin: 10px 0;
  opacity: 1;
  text-align: center;
  transition: none;
}

.isLightboxFlashHidden {
  opacity: 0;
  transition: opacity 2s ease 2s;
}

/* Deck user lightbox */
.lightboxDeckUsers {
  background: $white;
  min-height: 300px;
  width: 500px;

  & strong {
    font-weight: bold; 
  }

  & > h2 {
    text-align: center;
  }
}

.deckUserMinus {
  cursor: pointer;
}

/* species search lightbox */
.lNewLightbox {
  background: $white;
  margin: 0 auto;
  padding: 66px 0;
  position: relative;
  width: $main-col-width-px;
}

.lNewLightboxDeckUsers {
  padding: 0 0 66px 0;
}

.lNewLightboxNewCard {
  background: $light-gray;
  padding: 0;
}

.newCardDeckBar {
  $height: 60px;
  background: $deck-bar-blue;
  height: $height;
  line-height: $height;
  position: relative;
  text-align: center;
}

.newCardDeckLabel {
  color: $white;
  font-size: 13px;
  left: 30px;
  position: absolute;
}

.deckUsersHead {
  padding: 20px 0 5px 0;

  & > h2 {
    text-align: center;
  }

  & strong {
    font-weight: bold;
  }
}

.deckUsersTitle {
  text-align: center;
  font-weight: bold;
}

.deckUsers {
  height: 155px;
  overflow: auto;

  & > li {
    border-bottom: 1px solid #000;
    padding: 2px 5px 2px 2px;
    text-align: right;
  }

  & > li:last-of-type {
    border-bottom: none;
  }
}

.deckUserName {
  float: left;
}

.lNewCol {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  & > div {
    margin: 0 auto 20px auto;
    position: relative;
    width: $search-results-width;
  }

  & > div:last-of-type {
    margin-bottom: 0;
  }
}

.lSpinCountRow {
  $height: 50px;
  height: $height;
  line-height: $height;
}

.speciesSearch {
  padding: 35px $species-search-pad-horiz 25px $species-search-pad-horiz; 
}

.lSpeciesSearchLeft {
  display: inline-block;
  width: $species-search-card-width;
}

.speciesSearchCardImg {
  height: $species-search-card-height;
  width: 100%;
}

.speciesSearchCardLabel {
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

.speciesSearchForm {
  display: inline-block;
  padding: 0 0 0 $species-search-pad-horiz;
  vertical-align: top;
  width: $main-col-width-px - 2 * $species-search-pad-horiz - $species-search-card-width;
}

.speciesSearchInput {
  display: flex;
}

.speciesSearchInputBtn {
  background: $eol-blue;
  color: $white;
  cursor: pointer;
  font-size: 20px;
  height: $species-search-input-height; 
  line-height: $species-search-input-height;
  text-align: center;
  vertical-align: middle;
  width: $species-search-input-height;
}

.speciesSearchInputInput {
  background-color: $white;
  border: none;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  height: $species-search-input-height;
  line-height: $species-search-input-height;
  padding: 0 10px;
  width: 100%;
}

.speciesResultCount {
  font-size: 14px;
  text-align: center;
}

.speciesSearchSpin {
  text-align: center;
}

.speciesSearchResults {
  font-size: 12px;
  max-height: 261px;
  margin-bottom: 10px;
  overflow: auto;
  width: 100%;
}

.speciesSearchResult {
  $height: 66px;

  background: $white;
  cursor: pointer;
  display: block;
  height: $height;
  margin: 5px 0;
  overflow: hidden;
  text-align: left;
  width: 100%;

  & > img {
    display: inline-block;
    height: $height;
    width: $height;
  }

  & > div {
    display: inline-block;
    padding: 10px 0 0 20px;
    vertical-align: top;
  }
}

.isSpeciesSearchResultSelected {
  background: $section-border-gray;
  color: $white;
}

.resultTxt {
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultTxtSciName {
  font-style: italic;
}

.deckSelectLabel {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}

.btn {
  background: $eol-blue;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
}

.btnBack {
  height: 40px;
  line-height: 40px;
  width: 100%;
}

.btnCreateCard {
  float: right;
  font-size: 16px;
  height: 100%;
  width: 200px;
}

.createBtn {
  background: $eol-blue;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  height: 55px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.createBtnTempl {
  font-size: 12px;
  height: 28px;
  line-height: 25px;
  margin-top: 5px;
}

.createBtnSearch {
  border: none;
  border-radius: 0;
  float: right;
  height: 100%;
  padding: 0 15px;
  width: auto;
}

.selectTemplateBtn {
  background-color: #e4ebef;
  border: none;
  cursor: pointer;
  height: 60px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.createCardRow {
  height: 40px;
}

.cardTemplates {
  display: flex;
  justify-content: center;
}

.cardTemplate {
  font-size: 12px;
  margin: 0 15px;
  text-align: center;
  width: 120px;

  & > img {
    width: 100%;
  }
}

.newInputLabel {
  font-size: 14px;
  text-align: center;
}

.lInputWithError {
  position: relative;

  & > div {
    color: $red;
    font-size: 10px; 
    position: absolute;
    top: -18px;
  }
}

.newInput {
  border: 1px solid $section-border-gray;
  height: 40px;
  line-height: 40px;
  position: relative;
  width: 100%;
}

.newInputDeckUrl {
  width: 450px;
}

.newInputAnchorCard {
  border: none;
  height: 40px;
  line-height: 40px;

  & > i {
    color: $eol-blue;
    top: 14px;
  }
}

.newInputError {
  color: $red;
  font-size: 10px;
  position: absolute;
  top: 12px;
}

.isNewInputError {
  border-color: $red;
}

.newInputTxt {
  padding: 0 15px;
}

.newInputColId {
  margin-top: 20px;
}

.newInputSelect {
  cursor: pointer;
  font-size: 14px;
  position: relative;
  margin: 8px auto 15px auto;
}

  .newInputSelectName {
    overflow: hidden;
    padding: 0 38px 0 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .newInputSelectArw {
    height: 100%;
    position: absolute; 
    right: 5px;
    text-align: center;
    top: 10px;
    width: $deck-select-arw-width;
  }

  .newInputSelectItems {
    $border: 1px solid $section-border-gray;
    background: $white;
    border-bottom: $border;
    border-left: $border;
    border-right: $border;
    max-height: 500px;
    overflow: auto;
    position: absolute;
    width: 100%;

    & > li {
      $height: 30px;
      height: $height;
      line-height: $height;
      overflow: hidden;
      padding: 0 10px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background: $section-border-gray;
        color: $white;
      }
    }
  }

  .newInputSelectItemsCard {
    border: none;
    max-height: 250px;
  }

.newInputSelectCard {
  background: $white;
  border-radius: 2px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 300px;
}

.loadingSpinnerImage {
  align-items: center;
  background: $white;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modalX {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modalXWhite {
  color: $white;
}

// Deck URL lightbox
.deckUrlLightbox {
  align-items: center;
  background: $white;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 600px;

  & > * {
    margin: 0 5px;
  }

  & > i {
    cursor: pointer;
  }
}

// Card zoom lightbox
.cardZoom {
  height: 549px;
  margin: 0 auto 12px auto;
  width: 100%;
}

.arrow {
  color: $white;
  cursor: pointer;
  position: absolute;
  top: 230px; 
}

.arrowLeft {
  left: -50px; 
}

.arrowRight {
  right: -50px;
}

.isArrowDisabled {
  color: $txt-gray;
  cursor: normal;
}

.imageZoom {
  margin: 20px auto 0 auto;
  padding: 0;
  position: relative;
  width: 402px;

  & > button {
    display: block;
    margin: 0 auto 10px auto;
  }

  &:focus {
    outline: 0;
  }
}


