@import "layout_vars";
@import "buttons";

$header-height: 44px;
$toolbar-height: 38px;
$deck-width: 200px;
$deck-margin: 15px;
$trans-bg: rgba($white, .9);

.simpleManager {
  background: linear-gradient(0deg, rgba(205,219,231,1) 0%, rgba(242,242,242,1) 100%);
  height: calc(100vh - #{$navbar-height});
  overflow: auto;
  padding-top: $header-height;  
}

.simpleManagerWToolbar {
  padding-top: $toolbar-height + $header-height;
}

.managerHead {
  background: $trans-bg;
  position: fixed;
  top: $navbar-height;
  width: 100%;
  z-index: 2;
}

// common styles
// Header bar
.bar {
  border-bottom: 1px solid black;
  max-width: $page-width-px * 1px;
}

.headerBar {
  font-weight: bold;
  height: $header-height;
  text-align: center;
  z-index: 2;
  width: 100%;
}

.headerBack {
  cursor: pointer;
  left: 10px;
  position: absolute;
  top: 5px;
}

.btnLib {
}

  .btnLibHeader {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .btnLibSidebar {
    margin-bottom: 20px;
  }

.btnCreateTempl {
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
  width: 100%;
}

.headerTitle {
  height: $header-height;
  line-height: $header-height;
  overflow: hidden;
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;

}

.headerTitleText {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.toolbar {
  display: none;
  height: $toolbar-height;
  width: 100%;
}

.barInner {
  height: 100%;
  padding: 0;
}

.barInnerCenter {
  text-align: center;
}

.barInnerHeader {
  padding: 0 2%;
  position: relative;
}

.toolbarItem { 
  border-right: 1px solid #000; 
  height: 100%;
  line-height: normal;
  &:first-of-type {
    border-left: 1px solid #000;
  }
}

.toolbarBtns {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: inline-flex;
  height: 100%;
  vertical-align: top;
}

.toolbarBtnsSearch {
  float: right;
}

.toolbarBtn {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: 8px 20px;
  position: relative;

  &:hover {
    background-color: $btn-hover-gray;
  }
}

.toolbarBtnMenu {
  padding-right: 8px;
  padding-left: 8px;
}

.toolbarBtnMenuSort {
  float: right;
  text-align: center;
  min-width: 180px;
}

.toolbarBtnBack {
  padding-right: 15px;
  padding-left: 15px;
}

.toolbarMenu {
  background: #fff;
  border: 1px solid #000;
  border-top: none;
  min-width: 200px;
  position: absolute;
  right: -1px;
  top: $toolbar-height;
  padding: 8px;

  & > li {
    padding: 5px;
    &:hover {
      background: $btn-hover-gray;
    }

    width: 100%; 
  }
}

.toolbarSearch {
  height: 100%;
  position: relative;
  width: 400px;

  & > div {
    height: 100%;
    width: 100%;
  }

  & > i {
    right: 15px;
    position: absolute;
    top: 10px;
  }
}

.toolbarSearchInput {
  border: none;
  font-size: 18px;
  height: 100%;
  padding: 0 15px;
  width: 100%;
}


// Deck area
.btnDesc {
  display: none;
  margin: 20px auto 10px auto;
  width: 162px;
}

.descOuter {
  margin: 20px 0;
  text-align: center;
}

.desc {
  background: $trans-bg;
  display: inline-block;
  font-size: 14px;
  max-width: 600px;
  padding: 10px 20px;
  text-align: center;

  & > i {
    color: $eol-blue;
    cursor: pointer;
    margin-left: 10px;
  }
}

@function decks-width($per-row) {
  @return $per-row * $deck-width + 
    (2 * $per-row + 2) * $deck-margin;
}

.lDecksCol {
  margin: 0 auto;
  position: relative;
  width: decks-width(5);
}

.decks {
  padding: $deck-margin;
}

.resource {
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  height: 266px;
  margin: $deck-margin;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: $deck-width;

}

  .resourceNew {
    display: none;
  }

.cardImg {
  align-items: center;
  background: $white;
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  width: 100%;

  & img {
    height: 100%;
    width: 100%; 
  }
}

.cardImgBehind {
  position: absolute;
}

.cardImgBehind0 {
  right: -2px;
  top: -2px;
}

.cardImgBehind1 {
  right: -4px;
  top: -4px;
}

.cardImgBehind2 {
  right: -6px;
  top: -6px;
}

.resourceOverlay {
  align-items: center;
  background: rgba(.5, .5, .5, .5);
  bottom: 0; 
  border-radius: 7px;
  color: $white;
  display: none;
  //flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;

  & > i {
    text-align: center;
    width: 100%;
  }
}

.resourceOverlayTwoCol {
  & > i {
    width: 50%;
  }
}

.deckText {
  background: rgba($white, .8);
  padding: 10px;
  position: relative;
  width: 100%;
}

.deckImage {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// Modals
.modal {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 40px;
  position: relative;
  max-width: 500px;
  margin: 20px auto 0 auto; 
}

.modalInput {
  border: 1px solid $black;
  border-radius: 8px;
  display: block;
  font-size: 12px;
  max-width: 500px;
  margin: 10px auto;
  width: 100%;
}

.modalInputTextarea {
  height: 200px;
  padding: 10px;
}

.modalInputText {
  $height: 40px;
  height: $height;
  line-height: $height;
  text-align: center;
}

.modalInputErr {
  color: #f00;
  font-size: 12px;
  text-align: center;
}

.btnSaveDesc {
  margin: 0 auto;
  width: 200px;
}

.showAllIcon {
  height: 46px !important;
}

.searchItemsOpen {
  float: none;
}

.deckSidebar {
  $width: 200px;

  background: $white;
  height: calc(100vh - #{$topbar-row-height});
  left: -1 * $width;
  /*
  overflow-x: visible;
  overflow-y: auto;
  */
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  transition-property: left;
  transition-timing-function: ease-in;
  width: $width;
  z-index: 10;

  & > h3 {
    font-size: 16px;
    font-weight: $semibold;
    margin-bottom: 20px;
  }
}

  .isDeckSidebarVisible {
    left: 0; 
  }

.deckSidebarInner {
  overflow-y: auto;
  padding: 30px 20px;
  height: 100%;
  width: 100%;
}

.deckSidebarHandle {
  $height: 50px;
  $width: 30px;
  background: $white;
  border-radius: 0 20px 20px 0;
  color: $black;
  cursor: pointer;
  height: $height;
  line-height: $height;
  position: absolute;
  right: -1 * $width;
  text-align: center;
  top: calc(50vh - #{$topbar-row-height} - 0.5 * #{$height});
  width: $width;

  & > i {
    line-height: $height;
    vertical-align: top;
  }
}

.sidebarOpenOverlay {
  background: rgba(#000, .4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.sidebarDecks {
  font-size: 14px;
}

.sidebarDeck {
  cursor: pointer;
  margin: 10px 0;
}

  .isSidebarDeckSelected {
    color: $eol-green;
    cursor: default;
    font-weight: $bold;
  }

.editBtn {
  display: none;
}

.editBtnHdr {
  line-height: $header-height;
  color: $eol-blue;
  cursor: pointer;
  margin-left: 10px;
  vertical-align: top;
}

.isInputErr {
  border-color: #f00;
}


@media screen and (min-width: 550px) {
  .toolbar {
    display: block;
  }

  .btnDesc {
    display: block;
  }
  
  .editBtn {
    display: inline;
  }

  .editBtnHdr {
    display: inline-block;
  }

  .resourceNew {
    display: inline-block;
  }

  .resource:hover {
    background-color: $btn-hover-gray;

    & .resourceOverlay {
      display: flex;
    }
  }

  .btnLibHeader {
    display: block;
  }
}

@media screen and (max-width: (decks-width(5) - 1px)) {
  .lDecksCol {
    width: decks-width(4);
  }
}

@media screen and (max-width: (decks-width(4) - 1px)) {
  .lDecksCol {
    width: decks-width(3);
  }
}

@media screen and (max-width: (decks-width(3) - 1px)) {
  .lDecksCol {
    width: decks-width(2);
  }
}

@media screen and (max-width: (decks-width(2) - 1px)) {
  .lDecksCol {
    width: decks-width(1);
  }
}
