@import "layout_vars";

// common styles
.btn {
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;

  &:hover {
    background-color: #eee;
  }
}

// Header bar
.bar {
  border-bottom: 1px solid black;
  position: relative;
}

.headerBar {
  font-weight: bold;
  padding: 10px 0;
  text-align: center;

  & > i {
    cursor: pointer;
    left: 10px;
    position: absolute;
    top: 5px;
  }
}

.btnLib {
  position: absolute;
  right: 10px;
  top: 5px;
}

.toolbar {
  padding-left: 10px;
  padding-right: 10px;
}

.toolbarBtns {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;

  & > li {
    border-right: 1px solid #000; 
    display: inline-block;
    padding: 8px 40px;

    &:first-of-type {
      border-left: 1px solid #000;
    }

    & > i {
      cursor: pointer;
    }
  }
}

// Deck area
.btnDesc {
  margin: 20px auto 10px auto;
  width: 162px;
}

.desc {
  font-size: 14px;
  margin: 20px auto;
  max-width: 600px;
  padding: 0 20px;
  text-align: center;

  & > i {
    color: $eol-blue;
    cursor: pointer;
    margin-left: 10px;
  }
}

.decks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

.decks::after {
  content: "";
  flex: auto;
}

.deck, .card { // I expect these styles to diverge, so separate classes
  align-items: center;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  height: 266px;
  justify-content: center;
  margin: 15px;
  overflow: hidden;
  text-align: center;
  width: 200px;

  & img {
    height: 100%;
    width: 100%; 
  }

  &:hover {
    background-color: #eee;
  }
}

.deckText {
  padding: 0 10px;
}

// Modals
.modal {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 40px;
  position: relative;
  max-width: 500px;
  margin: 20px auto 0 auto; 
}

.modalDeckDesc {
  & > textarea {
    display: block;
    max-width: 500px;
    height: 200px;
    font-size: 12px;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
  }
}

.btnSaveDesc {
  margin: 0 auto;
  width: 200px;
}
