@import "layout_vars";

$btn-hover-gray: #eee;
$header-height: 44px;
$toolbar-height: 38px;

.simpleManager {
  padding-top: $header-height;  
}

.simpleManagerWToolbar {
  padding-top: $toolbar-height + $header-height;
}

// common styles
.btn {
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;

  &:hover {
    background-color: #eee;
  }
}

// Header bar
.bar {
  border-bottom: 1px solid black;
  max-width: $page-width-px * 1px;
}

.headerBar {
  background: $white;
  font-weight: bold;
  height: $header-height;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  top: $navbar-height;
  z-index: 2;
  width: 100%;

  & > i {
    cursor: pointer;
    left: 10px;
    position: absolute;
    top: 5px;
  }
}

.btnLib {
  position: absolute;
  right: 10px;
  top: 5px;
}

.headerText {
  & > i {
    color: $eol-blue;
    cursor: pointer;
    margin-left: 10px;
  }
}

.toolbar {
  background: $white;
  height: $toolbar-height;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: $navbar-height + $header-height;
  width: 100%;
  z-index: 2;
}

.toolbarBtns {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.toolbarBtn {
  border-right: 1px solid #000; 
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: 8px 40px;
  position: relative;

  &:first-of-type {
    border-left: 1px solid #000;
  }

  &:hover {
    background-color: $btn-hover-gray;
  }
}

.toolbarBtnMenu {
  padding-right: 8px;
  padding-left: 8px;
}


.toolbarMenu {
  background: #fff;
  border: 1px solid #000;
  border-top: none;
  min-width: 200px;
  position: absolute;
  left: -1px;
  top: $toolbar-height;
  padding: 8px;

  & > li {
    padding: 5px;
    &:hover {
      background: $btn-hover-gray;
    }

    width: 100%; 
  }
}

// Deck area
.btnDesc {
  margin: 20px auto 10px auto;
  width: 162px;
}

.desc {
  font-size: 14px;
  margin: 20px auto;
  max-width: 600px;
  padding: 0 20px;
  text-align: center;

  & > i {
    color: $eol-blue;
    cursor: pointer;
    margin-left: 10px;
  }
}

$deck-width: 200px;
$deck-margin: 15px;

@function decks-width($per-row) {
  @return $per-row * $deck-width + 
    (2 * $per-row + 2) * $deck-margin;
}

.decks {
  padding: $deck-margin;
  margin: 0 auto;
  width: decks-width(5);
}

.deck, .card { // I expect these styles to diverge, so separate classes
  align-items: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  display: inline-flex;
  height: 266px;
  justify-content: center;
  margin: $deck-margin;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: $deck-width;

  & img {
    height: 100%;
    width: 100%; 
  }

  &:hover {
    background-color: $btn-hover-gray;

    & .resourceOverlay {
      display: flex;
    }
  }
}

.resourceOverlay {
  align-items: center;
  background: rgba(.5, .5, .5, .5);
  bottom: 0; 
  color: $white;
  display: none;
  //flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;

  & > i {
    text-align: center;
    width: 100%;
  }
}

.deckText {
  padding: 0 10px;
}

// Modals
.modal {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 40px;
  position: relative;
  max-width: 500px;
  margin: 20px auto 0 auto; 
}

.modalDeckDesc {
  & > textarea {
    display: block;
    max-width: 500px;
    height: 200px;
    font-size: 12px;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
  }
}

.btnSaveDesc {
  margin: 0 auto;
  width: 200px;
}

@media screen and (max-width: (decks-width(5) - 1px)) {
  .decks {
    width: decks-width(4);
  }
}

@media screen and (max-width: (decks-width(4) - 1px)) {
  .decks {
    width: decks-width(3);
  }
}

@media screen and (max-width: (decks-width(3) - 1px)) {
  .decks {
    width: decks-width(2);
  }
}

@media screen and (max-width: (decks-width(2) - 1px)) {
  .decks {
    width: decks-width(1);
  }
}
