%script#LabelTemplate{:type => "text/x-handlebars-template"}
  .label {{label}}

%script#TextInputTemplate{:type => "text/x-handlebars-template"}
  .fields
    %input.text-input.text-field{:id => "{{id}}", :value => "{{defaultVal}}"}

%script#TextareaTemplate{:type => "text/x-handlebars-template"}
  .fields
    %textarea.textarea.text-field{:id => "{{id}}"} {{defaultVal}}

%script#ImageInputTemplate{:type => "text/x-handlebars-template"}
  .fields.image-input{:id => "{{id}}"}
    .zoom-controls
      %i.fa.fa-minus-circle.fa-2x
      %i.fa.fa-plus-circle.fa-2x
    .img-selector
      :plain
        {{#each images}}
          <img class="thumb" src="{{this.src}}" data-index="{{this.index}}" data-credit="{{this.credit}}"/>
        {{/each}}
    .image-upload
      .upload-preview
      %input.image-upload-input{:type => "file"}
    .fields
      %label{:for => "{{id}}Credit"} Image credit:
      %input.text-input{:id => "{{id}}Credit", :class => "image-credit"}

%script#LabeledImageInputTemplate{:type => "text/x-handlebars-template"}
  .fields.labeled-image-input
    %select
      :plain
        {{#each images}}
          <option value="{{this.index}}">{{this.label}}</option>
        {{/each}}


%script#ColorInputTemplate{:type => "text/x-handlebars-template"}
  .fields.color-input
    .color-row
      :plain
        {{#each colors}}
          <div class="color" data-color="{{this}}" data-index="{{@index}}"></div>
        {{/each}}

%script#KeyValListInputTemplate{:type => "text/x-handlebars-template"}
  .fields.key-val-list
    :plain
      {{#each data}}
        <div class="key-val-wrap" data-index="{{this.index}}">
          <input class="key-input" type="text" value="{{this.key}}">
          <input class="val-input" type="text" value="{{this.val}}">
        </div>
      {{/each}}

%script#MultiImageTemplate{:type => "text/x-handlebars-template"}
  .fields.multi-image
    :plain
      {{#each images}}
        <div class="img-wrap" data-index="{{@index}}">
          <img src="{{this.url}}" class="img">
        </div>
      {{/each}}

%script#SpinnerTemplate{:type => "text/x-handlebars-template"}
  %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#CardPlaceholderTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap{:'data-card-id' => "{{cardId}}", :id => "Card-{{cardId}}"}
    .resource-frame.user-resource-frame
      %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder
    :plain
      {{#if decks}}
        <select class="deck-selector">
          <option value="none">(Not in deck)</option>
          {{#each decks}}
            <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      {{/if}}

%script#UserCardTemplate{:type => "text/x-handlebars-template"}
  %img.user-resource{:src => "{{src}}"}

%script#DeckTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap
    .resource-frame.user-resource-frame
      %i.fa.fa-image.fa-4x.title-card-placeholder
    .deck-name {{name}}

%script#CardOverlayTemplate{:type => "text/x-handlebars-template"}
  .card-overlay.resource-overlay
    %i.fa.fa-edit.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn

%script#DeckOverlayTemplate{:type => "text/x-handlebars-template"}
  .deck-overlay.resource-overlay
    %i.fa.fa-folder-open-o.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn

%script#UserDecksTemplate{ :type => "text/x-handlebars-template"}
  .deck-wrap.user-deck-wrap

%h1.new-card-hdr Card Generator Test Page

%h2.user-resources-hdr.card-hdr Card Manager
.card-manager-controls
  %ul#ViewSelector.view-selector
    %li.card-view.view.selected.first> Cards
    %li.deck-view.view> Decks
    %li.deck-cards-view.view.hidden>
.user-resources.user-decks#UserResources
  #NewResource.resource-wrap.new-resource
    .resource-frame
      %i.fa.fa-plus.fa-3x.new-resource-icon

.card-hdr-box
  .card-hdr-inner
    .left-blur-bg
    %h2.create-card-hdr.hdr
      = image_tag "welcome/eol_logo.png", :class => :'hdr-logo'
      Card Editor
    .right-blur-bg
.hdr-spacer
#CardGenerator.card-generator
  .card-generator-inner
    .welcome-block
      .rail.lft-rail>
      %h3.welcome-txt>
        %span.big-letter> W
        elcome to the EOL Card Editor.
      .tips-box>
        .tips-txt tips
      .rail.rt-rail>
    .cols
      .col.left-col>
        .col-inner
        .col-head-box
          .col-head-txt Preview
        .preview
          .preview-inner
          .img-select>
            .images-txt Images
            .img-wrap
              .img-title thethreebears.jpg
              .thumb
          .img-controls>
            .txt.img-controls-txt Image Controls
            .sep
            .txt.tip Flip horizontal
            .btns.ctrl
              = image_tag "card_maker/icons/rotate.png", :class => "btn top"
              = image_tag "card_maker/icons/flip_horiz.png", :class => "btn mid"
              = image_tag "card_maker/icons/flip_vert.png", :class => "btn bot"
            .sep
            .zoom-txt.txt 86%
            .zoom.ctrl
              .dir.plus +
              .stem
                .lft>
                .rt>

              .dir.minus &ndash;


      .col.right-col>
        .col-inner
        .col-head-box
          .col-head-txt Form

  -#
    .left-col
      .controls#GeneratorControls

    .right-col
      #CanvasWrap
        %canvas.canvas#Canvas
        .btns-wrap
          %i#SaveBtn.fa.fa-floppy-o.fa-3x.save-btn.btn.last
