-# ImageControls
%script#PreviewThumbTemplate{:type => "text/x-handlebars-template"}
  .img-wrap
    .img-title {{name}}
    %img.thumb{ :src => "{{url}}"}

-# CardForm
%script#FieldLabelTempl{:type => "text/x-handlebars-template"}
  .field-label
    .txt {{field.label}}

%script#FieldTempl{:type => "text/x-handlebars-template"}
  .field-wrap
    .disable-overlay.hidden
    {{> labelTempl }}
    :plain
      {{#if noBorder}}
        <div class="field no-border">{{> (fieldPart) }}</div>
      {{else}}
        <div class="field">{{> (fieldPart) }}</div>
      {{/if}}

%script#FontSizeInnerTempl{:type => "text/x-handlebars-template"}
  .font-size-label Font size:
  .font-size
  .font-size-select.hidden
    :plain
      {{#each pc.fontSizes}}
        {{#if this.selected}}
          <div class="font-size-option selected">{{this.value}}</div>
        {{else}}
          <div class="font-size-option">{{this.value}}</div>
        {{/if}}
      {{/each}}

%script#TextFieldTempl{:type => "text/x-handlebars-template"}
  .text-field-wrap
    %input.text-input.text-field-input.text-entry{:type => "text"}>
    :plain
      {{#if pc.fontSizes}}
        <div class="font-size-box">{{> fontSizeInner }}</div>
      {{/if}}

%script#MultilineTextFieldTempl{:type => "text/x-handlebars-template"}
  %textarea.text-entry.multiline-text-field-input

%script#ImageFieldTempl{:type => "text/x-handlebars-template"}
  .img-lib.img-field-sec
    .img-lib-hdr Image Library
    .img-lib-thumbs
      :plain
        {{#each pc.thumbUrls}}
          <img src="{{this}}" class="img-lib-thumb">
        {{/each}}
  .img-field-sep
  .img-url.img-field-sec
    .img-or or
    .img-url-wrap
      %input.img-url-input.text-input.text-entry{:type => :text, :placeholder => "Type/paste URL"}>
      .img-url-btn
        %i.fa.fa-upload.fa-lg
    .img-url-error.hidden Failed to load image from URL
    .url-img-preview.thumb.hidden
      %img.img
  .img-field-sep
  .img-upload.img-field-sec
    .img-or or
    .img-upload-btn
      %i.fa.fa-upload.fa-lg.img-upload-btn-icon{:'aria-hidden' => true}
      .img-upload-btn-txt Upload an image
      %input.img-upload-file{:type => "file"}
    .upload-img-preview.thumb.hidden
      %img.img
  .img-field-sep
  .img-credit.img-field-sec
    .img-credit-label Image Credit
    %input.img-credit-input.text-input.text-entry{:type => :text}

%script#FieldSepTempl{:type => "text/x-handlebars-template"}
  .field-sep

%script#ImageLibTempl{:type => "text/x-handlebars-template"}
  .fixed-center-wrap
    .img-gallery-wrap
      .field-label.img-gallery-label Image Library
      .img-gallery.field
        .img-gallery-thumbs
          :plain
            {{#each choices}}
              <img src="{{this.thumbUrl}}" data-index="{{@index}}" class="img-lib-thumb">
            {{/each}}

%script#ColorSchemeFieldTempl{:type => "text/x-handlebars-template"}
  .color-schemes
    :plain
      {{#each pc.colorSchemes}}
        <div class="color-scheme noselect" data-bg="{{this.colors.bg}}" data-text="{{this.colors.text}}" data-index="{{@index}}">{{{this.tip}}}</div>
      {{/each}}

%script#LabeledChoiceImageFieldTempl{:type => "text/x-handlebars-template"}
  .labeled-choice-drop
    .selected-txt
    %ul.choices
      .choice{:data => {:index => -1, :text => "Select one"}} &mdash;
      :plain
        {{#each pc.labels}}
          <li class="choice" data-index="{{@index}}" data-text="{{this}}">{{this}}</li>
        {{/each}}

%script#KeyValListFieldTempl{:type => "text/x-handlebars-template"}
  %ul.key-val-fields
    :plain
      {{#each pc.fieldDatas}}
        <li class="key-val-row" data-index={{@index}}>
          <input type="text" class="key text-input text-entry key-val-field" value="{{this.key}}">
          <input type="text" class="val text-input text-entry key-val-field" value="{{this.val}}">
        </li>
      {{/each}}

%script#ThumbSpinTempl{:type => "text/x-handlebars-template"}
  %i.fa.fa-spinner.fa-lg.fa-spin.spinner

%script#SuggestionsTempl{:type => "text/x-handlebars-template"}
  .suggestions
    = image_tag "card_maker/menu_arrow_blue.png", :class => "arrow"
    .hdr Suggestions
    %ul.items
      :plain
        {{#each items}}
          <li class="item" data-index="{{@index}}">{{this}}</li>
        {{/each}}
