%script#CardPlaceholderTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap{:'data-card-id' => "{{cardId}}", :id => "Card-{{cardId}}"}
    .resource-frame.user-resource-frame
      %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#CardImgTemplate{:type => "text/x-handlebars-template"}
  %img.user-resource{:src => "{{src}}"}

%script#CardOverlayTemplate{:type => "text/x-handlebars-template"}
  .card-overlay.resource-overlay
    %i.fa.fa-edit.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn

%script#SpinnerTemplate{:type => "text/x-handlebars-template"}
  %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#DeckTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap
    .resource-frame.user-resource-frame
      %i.fa.fa-image.fa-4x.title-card-placeholder
    .deck-name {{name}}

%script#DeckOverlayTemplate{:type => "text/x-handlebars-template"}
  .deck-overlay.resource-overlay
    %i.fa.fa-folder-open-o.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn

%script#DeckFilterItemTemplate{:type => "text/x-handlebars-template"}
  .filter-item

%script#SpeciesSearchTemplate{:type => "text/x-handlebars-template"}
  .species-search.lightbox
    .field-label.lightbox-label Search
    .search-area
      %input.search-field{:type => :text, :placeholder => "Search for a species or taxon"}
    .search-results-wrap.hidden
      .result-count-wrap
        .result-count.hidden 0 results
      %ul.search-results
    .create-menu.hidden
      %select.deck-select
      .create-btn-wrap.disabled
        .create-btn-label Create a card from selection
        .create-btn-body

%script#NewDeckLightboxTemplate{:type => "text/x-handlebars-template"}
  .new-deck.lightbox
    %input.deck-name{:type => "text", :placeholder => "Enter deck name"}>
    .create-deck-btn>

%script#LightboxTemplate{:type => "text/x-handlebars-template"}
  .fixed-center-wrap {{> (templ) }}

%script#SearchResultTemplate{:type => "text/x-handlebars-template"}
  %li.search-result{:data => { :id => "{{id}}"}} {{sciName}}

%script#SearchResultDetailsTemplate{:type => "text/x-handlebars-template"}
  .result-details
    %img{ :src => "{{thumbUrl}}" }
    .common-name Common name: {{commonName}}

%script#ResultDetailSpinnerTemplate{:type => "text/x-handlebars-template"}
  %i.fa.fa-spin.fa-spinner.fa-3x.result-detail-spinner

%script#SearchSpinnerTemplate{:type => "text/x-handlebars-template"}
  %li.search-spin
    %i.fa.fa-spinner.fa-spin.fa-3x

%script#DeckOptionsTemplate{:type => "text/x-handlebars-template"}
  :plain
    <option value="{{noSelectionId}}">Select a deck (optional)</div>
    {{#each decks}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
