%script#CardPlaceholderTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap{:'data-card-id' => "{{cardId}}", :id => "Card-{{cardId}}"}
    .resource-frame.user-resource-frame
      %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#CardImgTemplate{:type => "text/x-handlebars-template"}
  %img.user-resource{:src => "{{src}}"}

%script#CardOverlayTemplate{:type => "text/x-handlebars-template"}
  .card-overlay.resource-overlay
    %i.fa.fa-edit.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn

%script#SpinnerTemplate{:type => "text/x-handlebars-template"}
  %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#DeckTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap
    .resource-frame.user-resource-frame
      %i.fa.fa-image.fa-4x.title-card-placeholder
    .deck-name {{name}}

%script#DeckOverlayTemplate{:type => "text/x-handlebars-template"}
  .deck-overlay.resource-overlay
    %i.fa.fa-folder-open-o.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn

%script#DeckFilterItemTemplate{:type => "text/x-handlebars-template"}
  .filter-item

%script#SpeciesSearchTemplate{:type => "text/x-handlebars-template"}
  .species-search
