%script#UserResourceTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap{:'data-id' => "{{id}}"}
    .deck-assign-select
      .deck-assign-top
        .deck-name
        .open-msg &mdash;
      %ul.deck-assign-choices.hidden
        :plain
          <li class="deck-assign-choice" data-id="-1" data-display-name="No deck assigned" data-open-msg="assign to deck">&mdash;</li>
          {{#each decks}}
            <li class="deck-assign-choice" data-id="{{this.id}}" data-display-name="{{this.name}}" data-open-msg="move">{{this.name}}</li>
          {{/each}}
    .resource-frame.user-resource-frame
      {{> (inner) }}

%script#CardResourceTemplate{:type => "text/x-handlebars-template"}
  .resource-frame.user-resource-frame
    %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#CardPlaceholderTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap{:'data-card-id' => "{{cardId}}", :id => "Card-{{cardId}}"}
    .resource-frame.user-resource-frame
      %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#CardImgTemplate{:type => "text/x-handlebars-template"}
  %img.user-resource{:src => "{{src}}"}

%script#CardOverlayTemplate{:type => "text/x-handlebars-template"}
  .card-overlay.resource-overlay
    %i.fa.fa-edit.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn

%script#SpinnerTemplate{:type => "text/x-handlebars-template"}
  %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#DeckTemplate{:type => "text/x-handlebars-template"}
  .resource-wrap.user-resource-wrap.deck-resource
    .deck-name {{deckName}}
    .resource-frame.user-resource-frame
      %i.fa.fa-image.fa-4x.title-card-placeholder

%script#DeckOverlayTemplate{:type => "text/x-handlebars-template"}
  .deck-overlay.resource-overlay
    %i.fa.fa-folder-open-o.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn

%script#DeckFilterItemTemplate{:type => "text/x-handlebars-template"}
  .filter-item

%script#SpeciesSearchTemplate{:type => "text/x-handlebars-template"}
  .species-search.lightbox
    .field-label.lightbox-label Search
    .search-area
      %input.search-field{:type => :text, :placeholder => "Search for a species or taxon"}
    .search-results-wrap.hidden
      .result-count-wrap
        .result-count.hidden 0 results
      %ul.search-results
    .create-menu.hidden
      .deck-select-wrap
        .deck-select-label Save card to a deck:
      .create-btn-wrap.disabled
        .btn-disable
        .create-btn-label Create a card from selection
        .create-btn-body

%script#DeckOptionsTemplate{:type => "text/x-handlebars-template"}
  :plain
    <li data-id="{{noSelectionId}}" class="filter-item">&mdash;</li>
    {{#each decks}}
      <li data-id="{{this.id}}" class="filter-item">{{this.name}}</option>
    {{/each}}

%script#NewDeckLightboxTemplate{:type => "text/x-handlebars-template"}
  .new-deck.lightbox
    .deck-name-wrap.wrap
      %input.deck-name.input{:type => "text", :placeholder => "Enter deck name"}>
      .create-deck-btn>
    .col-id-wrap.wrap
      %input.col-id.input{:type => "text", :placeholder => "Enter EOL collection id (optional)"}

%script#LightboxTemplate{:type => "text/x-handlebars-template"}
  .fixed-center-wrap {{> (templ) }}

%script#SearchResultTemplate{:type => "text/x-handlebars-template"}
  %li.search-result{:data => { :id => "{{id}}"}}
    .sci-name {{sciName}}

%script#SearchResultDetailsTemplate{:type => "text/x-handlebars-template"}
  .result-details
    %img.img{ :src => "{{thumbUrl}}" }
    .common-name Common name: {{commonName}}

%script#ResultDetailSpinnerTemplate{:type => "text/x-handlebars-template"}
  %i.fa.fa-spin.fa-spinner.fa-3x.result-detail-spinner

%script#SearchSpinnerTemplate{:type => "text/x-handlebars-template"}
  %li.search-spin
    %i.fa.fa-spinner.fa-spin.fa-3x

%script#NewCardInDeckTemplate{:type => "text/x-handlebars-template"}
  .user-resource-wrap.resource-wrap
    .empty-new-item
      .no-items-msg There are no cards in this deck yet.
      .new-btn Create a card in this deck

%script#EmptyNewTemplate{:type => "text/x-handlebars-template"}
  .user-resource-wrap.resource-wrap
    .empty-new-item
      .no-items-msg {{noItemsMsg}}
      .new-btn {{createItemMsg}}

%script#DeckFilterItemsTemplate{:type => "text/x-handlebars-template"}
  :plain
    <li class="filter-item selected" data-id="{{allId}}">All decks</li>
    {{#each decks}}
      <li class="filter-item" data-id="{{this.id}}">{{this.name}} ({{this.cardIds.length}})</li>
    {{/each}}

%script#LoadingTemplate{:type => "text/x-handlebars-template"}
  .global-loading.lightbox
    %i.fa.fa-spin.fa-spinner.fa-4x
