<h1>Foodweb Test Page</h1>
<div id="GRAPH_CONTROLS">
  <span id="LAYOUT_BF">Breadth-first</span>
  <span>|</span>
  <span id="LAYOUT_GRID">Grid</span>
</div>

<div id="WRAP">
  <div id="FOODWEB_CONTAINER"></div>

  <div id="SIDEBAR">
    <ul id="SPECIES_LIST">
      
    </ul>
  </div>
</div>


<script type="text/javascript">
var interactions = {
    "links": [
        {
            "from": "597748",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1107478",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "1107478",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1107478",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "597748",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "1050637"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "582347",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "582347",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "582347",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "582347",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "1050637"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "1047051"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "1050637"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "328482"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "1050637"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "456481"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "456481"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "916843"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "594658",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "594658",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "594658",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "594658",
            "int_id": "9",
            "strength": "1",
            "to": "390368"
        },
        {
            "from": "1154991",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "1154991",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1154991",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "596915",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "596915",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "596915",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "1047051"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "795271"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "795271"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "795271"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "795271"
        },
        {
            "from": "795271",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "795271",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "795271",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "795271",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "456481"
        },
        {
            "from": "1124877",
            "int_id": "9",
            "strength": "1",
            "to": "456481"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328482"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "856046",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "1047051"
        },
        {
            "from": "1047051",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1047051",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "460646",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "328611",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "390368",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "328482"
        },
        {
            "from": "328501",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "328501",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328501",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328652",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328598",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328652",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "460646",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "328663",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328663",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "328482",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "390368",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1124877",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1124877",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1050637",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1050637",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        },
        {
            "from": "390368",
            "int_id": "9",
            "strength": "1",
            "to": "916843"
        },
        {
            "from": "916843",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1124877",
            "int_id": "9",
            "strength": "1",
            "to": "1052548"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "1052548"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "1052548"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "1052548"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1178540",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1178540",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1178540",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "1178540"
        },
        {
            "from": "856046",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "856046",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "328598",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        }
    ],
    "nodes": [
        {
            "comname_alt": "",
            "group": "4",
            "id": "1049046",
            "isHidden": 0,
            "label": "Cooper's Hawk",
            "sciname": "Accipiter cooperii (Bonaparte, 1828)"
        },
        {
            "comname_alt": "",
            "group": "9",
            "id": "390368",
            "isHidden": 0,
            "label": "Luna Moth",
            "sciname": "Actias luna Linnaeus 1758"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1050637",
            "isHidden": 0,
            "label": "Cedar Waxwing",
            "sciname": "Bombycilla cedrorum Vieillot 1808"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1124877",
            "isHidden": 0,
            "label": "Baltzell's Sedge",
            "sciname": "Carex baltzellii Chapm."
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "594770",
            "isHidden": 0,
            "label": "Sweet Pignut",
            "sciname": "Carya glabra (Mill.) Sweet"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1049187",
            "isHidden": 0,
            "label": "Northern Bobwhite",
            "sciname": "Colinus virginianus (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "582707",
            "isHidden": 0,
            "label": "Flowering Dogwood",
            "sciname": "Cornus florida L."
        },
        {
            "comname_alt": "",
            "group": "14",
            "id": "795271",
            "isHidden": 0,
            "label": "Eastern Diamondback Rattlesnake",
            "sciname": "Crotalus adamanteus Palisot de Beauvois, 1799"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "856046",
            "isHidden": 0,
            "label": "Blue Jay",
            "sciname": "Cyanocitta cristata (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328482",
            "isHidden": 0,
            "label": "Nine-banded Armadillo",
            "sciname": "Dasypus novemcinctus Linnaeus, 1758"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328501",
            "isHidden": 0,
            "label": "Virginia Opossum",
            "sciname": "Didelphis virginiana Kerr, 1792"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "595775",
            "isHidden": 0,
            "label": "Common Persimmon",
            "sciname": "Diospyros virginiana L."
        },
        {
            "comname_alt": "",
            "group": "14",
            "id": "1056377",
            "isHidden": 0,
            "label": "Eastern Indigo Snake",
            "sciname": "Drymarchon couperi HOLBROOK 1842"
        },
        {
            "comname_alt": "",
            "group": "14",
            "id": "456481",
            "isHidden": 0,
            "label": "(Florida) Gopher Tortoise",
            "sciname": "Gopherus polyphemus DAUDIN 1802"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "582644",
            "isHidden": 0,
            "label": "Yaupon Holly",
            "sciname": "Ilex vomitoria Aiton"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "594658",
            "isHidden": 0,
            "label": "American Sweetgum",
            "sciname": "Liquidambar styraciflua L."
        },
        {
            "comname_alt": "",
            "group": "1",
            "id": "1039130",
            "isHidden": 0,
            "label": "Carolina Gopher Frog",
            "sciname": "Lithobates capito (LeConte, 1855)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328602",
            "isHidden": 0,
            "label": "Bobcat",
            "sciname": "Lynx rufus (Schreber, 1777)"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1154991",
            "isHidden": 0,
            "label": "Magnolia",
            "sciname": "Magnolia grandiflora L."
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1107478",
            "isHidden": 0,
            "label": "Partridge Berry",
            "sciname": "Mitchella repens L."
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "916843",
            "isHidden": 0,
            "label": "Great Crested Flycatcher",
            "sciname": "Myiarchus crinitus (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328652",
            "isHidden": 0,
            "label": "White-tailed Deer",
            "sciname": "Odocoileus virginianus (Zimmermann, 1780)"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "596915",
            "isHidden": 0,
            "label": "Red Bay",
            "sciname": "Persea borbonia (L.) Spreng."
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1047051",
            "isHidden": 0,
            "label": "Downy Woodpecker",
            "sciname": "Picoides pubescens (Linnaeus, 1766)"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1052548",
            "isHidden": 0,
            "label": "Eastern Towhee",
            "sciname": "Pipilo erythrophthalmus (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1178540",
            "isHidden": 0,
            "label": "Carolina Chickadee",
            "sciname": "Poecile carolinensis (Audubon, 1834)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328598",
            "isHidden": 0,
            "label": "Northern Raccoon",
            "sciname": "Procyon lotor (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "632490",
            "isHidden": 0,
            "label": "Flatwoods Plum",
            "sciname": "Prunus umbellata Elliott"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "597748",
            "isHidden": 0,
            "label": "Bracken Fern",
            "sciname": "Pteridium aquilinum (L.) Kuhn"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1151588",
            "isHidden": 0,
            "label": "Sand Live Oak",
            "sciname": "Quercus geminata Small"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1151496",
            "isHidden": 0,
            "label": "Turkey Oak",
            "sciname": "Quercus laevis Walter"
        },
        {
            "comname_alt": "",
            "group": "14",
            "id": "460646",
            "isHidden": 0,
            "label": "Brown Bark Skink",
            "sciname": "Scincella lateralis SAY 1823"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "347685",
            "isHidden": 0,
            "label": "Eastern Gray Squirrel",
            "sciname": "Sciurus carolinensis Gmelin, 1788"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1130738",
            "isHidden": 0,
            "label": "Saw Palmetto",
            "sciname": "Serenoa repens (W. Bartram) Small"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1082791",
            "isHidden": 0,
            "label": "Wild Sarsaparilla Vine",
            "sciname": "Smilax glauca Walter"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328663",
            "isHidden": 0,
            "label": "Wild Boar",
            "sciname": "Sus scrofa Linnaeus, 1758"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "976910",
            "isHidden": 0,
            "label": "Eastern Cottontail",
            "sciname": "Sylvilagus floridanus (J. A. Allen, 1890)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328611",
            "isHidden": 0,
            "label": "Gray Fox",
            "sciname": "Urocyon cinereoargenteus (Schreber, 1775)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "1265750",
            "isHidden": 0,
            "label": "Florida Black Bear.",
            "sciname": "Ursus americanus floridanus Merriam, 1896"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "583659",
            "isHidden": 0,
            "label": "Sparkleberry",
            "sciname": "Vaccinium arboreum Marsh."
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "582347",
            "isHidden": 0,
            "label": "Muscadine Grape",
            "sciname": "Vitis rotundifolia Michx."
        }
    ],
    "timer:": "Time: 1461254153, 0, , 0, 0"
}

var thumbnailUrls = {
    "1039130": "http://media.eol.org/content/2011/10/06/08/45422_98_68.jpg",
    "1047051": "http://media.eol.org/content/2015/06/04/10/78038_98_68.jpg",
    "1049046": "http://media.eol.org/content/2012/06/14/23/86848_98_68.jpg",
    "1049187": "http://media.eol.org/content/2012/07/26/22/69982_98_68.jpg",
    "1050637": "http://media.eol.org/content/2015/03/05/06/04615_98_68.jpg",
    "1052548": "http://media.eol.org/content/2013/04/29/02/62139_98_68.jpg",
    "1056377": "http://media.eol.org/content/2012/06/15/15/27361_98_68.jpg",
    "1082791": "http://media.eol.org/content/2015/12/08/16/50125_98_68.jpg",
    "1107478": "http://media.eol.org/content/2012/07/04/05/77015_98_68.jpg",
    "1124877": "http://media.eol.org/content/2013/05/12/12/16787_98_68.jpg",
    "1130738": "http://media.eol.org/content/2011/10/06/00/79248_98_68.jpg",
    "1151496": "http://media.eol.org/content/2012/12/18/05/81146_98_68.jpg",
    "1151588": "http://media.eol.org/content/2011/11/01/15/26276_98_68.jpg",
    "1154991": "http://media.eol.org/content/2013/02/17/16/16408_98_68.jpg",
    "1178540": "http://media.eol.org/content/2013/02/26/17/16086_98_68.jpg",
    "1265750": "http://media.eol.org/content/2016/03/28/19/48970_98_68.jpg",
    "328482": "http://media.eol.org/content/2013/03/13/14/36742_98_68.jpg",
    "328501": "http://media.eol.org/content/2014/03/13/19/46885_98_68.jpg",
    "328598": "http://media.eol.org/content/2013/01/24/10/86040_98_68.jpg",
    "328602": "http://media.eol.org/content/2014/05/02/13/65718_98_68.jpg",
    "328611": "http://media.eol.org/content/2013/03/13/14/02475_98_68.jpg",
    "328652": "http://media.eol.org/content/2015/01/12/14/03185_98_68.jpg",
    "328663": "http://media.eol.org/content/2015/01/20/12/99909_98_68.jpg",
    "347685": "http://media.eol.org/content/2013/06/17/16/13267_98_68.jpg",
    "390368": "http://media.eol.org/content/2014/05/22/09/25899_98_68.jpg",
    "456481": "http://media.eol.org/content/2012/12/03/01/97906_98_68.jpg",
    "460646": "http://media.eol.org/content/2011/10/06/00/23048_98_68.jpg",
    "582347": "http://media.eol.org/content/2009/04/21/09/96102_98_68.jpg",
    "582644": "http://media.eol.org/content/2012/02/21/01/05087_98_68.jpg",
    "582707": "http://media.eol.org/content/2012/06/15/04/08055_98_68.jpg",
    "583659": "http://media.eol.org/content/2013/04/18/02/33640_98_68.jpg",
    "594658": "http://media.eol.org/content/2013/02/26/12/81796_98_68.jpg",
    "594770": "http://media.eol.org/content/2012/11/10/03/22227_98_68.jpg",
    "595775": "http://media.eol.org/content/2012/10/18/00/08289_98_68.jpg",
    "596915": "http://media.eol.org/content/2011/11/02/16/41573_98_68.jpg",
    "597748": "http://media.eol.org/content/2013/11/15/04/80335_98_68.jpg",
    "632490": "http://media.eol.org/content/2012/10/07/00/13786_98_68.jpg",
    "795271": "http://media.eol.org/content/2013/10/22/12/69079_98_68.jpg",
    "856046": "http://media.eol.org/content/2015/06/04/10/69322_98_68.jpg",
    "916843": "http://media.eol.org/content/2014/03/05/06/56446_98_68.jpg",
    "976910": "http://media.eol.org/content/2014/02/26/10/79094_98_68.jpg"
}

function buildSidebar() {
  //"label": "Cooper's Hawk",
  //"sciname": "Accipiter cooperii (Bonaparte, 1828)"

  var enrichedNodes = []
    , speciesList = $('#SPECIES_LIST');

  $.each(interactions.nodes, function(index, node) {
    var item = speciesList.append(
      '<li class="species" data-id="' + node.id + '">' +
        '<div class="speciesThumbWrap">' + 
          '<img class="speciesThumb" alt="" src="' + thumbnailUrls[node.id] + '">' +
        '</div>' +
        '<div class="commonName">' + node.label + '</div>' +
//        '<div class="sciName">' + node.sciname + '</div>' +
      '</li>' 
    );
  }); 
}

/*
  interactions.nodes = [
  {
      "comname_alt": "",
      "group": "14",
      "id": "795271",
      "isHidden": 0,
      "label": "Eastern Diamondback Rattlesnake",
      "sciname": "Crotalus adamanteus Palisot de Beauvois, 1799"
  },
  ...
  ]
*/
function buildNodes() {
  var nodes = [];
  var nodesByEolId = {};
  
  $(interactions.nodes).each(function(i, nodeData) {
    var node = {
      eolId: nodeData.id,
      label: nodeData.label,
      id: i,
      photoUrl: thumbnailUrls[nodeData.id]
    };

    nodes.push(node);
    nodesByEolId[node.eolId] = node;
  });

  return {
    nodes: nodes,
    nodesByEolId: nodesByEolId
  };
}

/*
  interactions.links = [
    {
        "from": "596915",
        "int_id": "9",
        "strength": "1",
        "to": "1265750"
    },
    ...
  ]
*/
function buildLinks(nodesByEolId) {
  var links = [];

  $(interactions.links).each(function(i, linkData) {
    var sourceId = nodesByEolId[linkData.from].id;
    var targetId = nodesByEolId[linkData.to].id;

    links.push({
      source: sourceId,
      target: targetId,
      id: sourceId + '-' + targetId
    });
  });

  return links;
}

function FoodWeb(nodeData, linkData, photoUrls) {
  var width = 600;
  var height = 600;
  var nodeRadius = 20;
  var arrowWidth = 7;
  var arrowHeight = 7;
  var charge = -600;
  var imgSize = nodeRadius * 2;

  var self = this;

  self.nodes = null;
  self.origNodes = null;
  self.nodesById = null;
  self.links = null;
  self.origLinks = null;
  self.selectedNode = null;
  self.layout = null;
  self.svg = null;

  var Node = function(nodeData, photoUrl, index) {
    var self = this;

    self.id = nodeData.id;
    self.label = nodeData.label;
    self.photoUrl = photoUrl;
    self.index = index;
  };

  var Link = function(source, target) {
    var self = this;
    
    self.source = source;
    self.target = target
  };

  var initNodes = function(nodeData, photoUrls) {
    var nodes = [];
    var nodesById = {};

    $(nodeData).each(function(i, nodeDatum) {
      var node = new Node(nodeDatum, photoUrls[nodeDatum.id], i);
      nodes.push(node);
      nodesById[node.id] = node;
    });

    self.nodes = nodes;
    self.nodesById = nodesById;

    self.origNodes = $.extend({}, nodes, true);

    console.log(self.nodes);
  } 

  var initLinks = function(linkData) {
    var links = [];

    $(linkData).each(function(i, linkDatum) {
      var source = self.nodesById[linkDatum.from];
      var target = self.nodesById[linkDatum.to];

      var link = new Link(source, target);

      links.push(link);
    });

    self.links = links;
    console.log(self.links);
    self.origLinks = $.extend([], self.links);
  }

  function nodeToSvgId(node) {
    return 'node-' + node.id;
  }

  function linkDataToSvgId(link) {
    return 'link-' + link.source.id + '-' + link.target.id;
  }

  function nodeClicked(nodeData, svgNode) {
    if (self.selectedNode) {
      d3.select(self.selectedNode).classed('selected', false);
    }

    if (svgNode !== self.selectedNode) {
      self.selectedNode = svgNode;
      d3.select(self.selectedNode).classed('selected', true);
      var newNodesEdges = {
        nodes: self.nodes,
        edges: self.edges
      };

      self.nodes = newNodesEdges.nodes;
      self.edges = newNodesEdges.edges;
    } else {
      self.nodes = self.origNodes;
      self.edges = self.origLinks;
      self.selectedNode = null;
    }


    redraw();
  }

  var redraw = function() {
    // order matters here - draw links first so nodes are on top
    var linkSelection = self.svg.selectAll('.link')
      .data(self.links, linkDataToSvgId);

    console.log('links entered: ' + self.links.length);

    linkSelection.enter().append("path")
        .attr("class", "link")
        .attr('id', linkDataToSvgId)
        .style('marker-end', 'url(#end-arrow)');

    linkSelection.exit().remove();
    
    // Draw nodes
    nodeSelection = self.svg.selectAll('.node')
      .data(self.nodes, function(d) { return d.id });

    nodeSelection.enter().append("circle")
      .attr("class", "node")
      .attr('id', nodeToSvgId)
      .attr("r", nodeRadius)
      .style("fill", function(d) { return "url(#img-" + d.id + ")" })
      .on('click', function(d) {
        nodeClicked(d, this);
      })
      .call(self.layout.drag);

    nodeSelection.exit().remove();

    self.layout.on("tick", function() {
      linkSelection.attr('d', function(d) {
        var dx = d.target.x - d.source.x,
        dy = d.target.y - d.source.y,
        dist = Math.sqrt(dx * dx + dy * dy);
        normX = dx / dist,
        normY = dy / dist,
        sourcePadding = nodeRadius - 1,
        targetPadding = nodeRadius + 3,
        sourceX = d.source.x + (sourcePadding * normX),
        sourceY = d.source.y + (sourcePadding * normY),
        targetX = d.target.x - (targetPadding * normX),
        targetY = d.target.y - (targetPadding * normY);
        return 'M' + sourceX + ', ' + sourceY + 'L' + targetX + ', ' + targetY;
      });

      nodeSelection
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
    });

    self.layout.nodes(self.nodes);
    self.layout.links(self.links);
    self.layout.start();
  }

  var initD3 = function() {
    self.svg = d3.select('#FOODWEB_CONTAINER').append("svg")
      .attr("width", width)
      .attr("height", height);

    var defs = self.svg.append('svg:defs');
    
    defs.append('svg:marker')
       .attr('id', 'end-arrow')
       .attr('viewBox', '0 -5 10 10')
       .attr('refX', 6)
       .attr('markerWidth', arrowWidth)
       .attr('markerHeight', arrowHeight)
       .attr('markerUnits', 'userSpaceOnUse') // prevent marker resize based on line stroke width
       .attr('orient', 'auto')
       .append('svg:path')
       .attr('d', 'M0,-5L10,0L0,5');

    // Patterns for node background images
    $(self.nodes).each(function(i, node) {
      defs.append('svg:pattern')
        .attr('id', 'img-' + node.id)
        .attr('patternUnits', 'objectBoundingBox')
        .attr('preserveAspectRatio', 'xMidYMid slice')
        .attr('width', '100%')
        .attr('height', '100%')
        .attr('viewBox', '0 0 1 1')
        .append('svg:image')
        .attr('width', 1)
        .attr('height', 1)
        .attr('preserveAspectRatio', 'xMidYMid slice')
        .attr('xlink:href', node.photoUrl);
    });

    self.layout = d3.layout.force()
      .charge(charge)
      .linkDistance(150)
      .size([width, height]);
  }

  initNodes(nodeData, photoUrls);
  initLinks(linkData);
  initD3();
  redraw();
}

function Graph(nodeData, linkData) {
  var Node = function(nodeDatum) {
    self.data = nodeDatum;
    self.edges = [];

    self.addEdge = function(edge) {
      self.edges.push(edge); 
    };
  }

  var nodes = [];
  $(nodeData).each(function(i, nodeDatum) {
    nodes.push(new Node(nodeDatum));
  });

  $(linkData).each(function(i, linkDatum) {
    nodes[linkDatum.source].addEdge(linkDatum);
    nodes[linkDatum.target].addEdge(linkDatum); 
  });

  this.nodes = nodes;

  this.incomingOutgoingNodesEdges = function(nodeData) {
    var accumulatedNodeData = [];
    var accumulatedEdgeData = [];

    var searchNode = this.nodes[nodeData.id];
    
    // directed bfs on outgoing edges
    var bfsNodes = [searchNode];
    var node = null;
    var visited = {}

    while (bfsNodes.length) {
      node = bfsNodes.pop();
      visited[node.data.id] = true;

      if (node !== searchNode) {
        accumulatedNodeData.push(node.data);
      }

      $(node.edges).each(function(i, edge) {
        if (edge.source.id === node.data.id) {
          accumulatedEdgeData.push(edge);

          if (!visited[edge.target.id]) {
            bfsNodes.unshift(nodes[edge.target.id]);
          }
        }
      });
    }

    // directed bfs on incoming edges
    bfsNodes = [searchNode];
    node = null;

    var logNodeArray = function(xs) {
      var repr = '[';

      $(xs).each(function(i, x) {
        repr += x.data.id + ',';
      });

      repr += ']';

      console.log(repr);
    }

    while (bfsNodes.length) {
      logNodeArray(bfsNodes);
      node = bfsNodes.pop();

      if (visited[node.data.id] && node !== searchNode ) {
        continue;
        console.log('double visited ' + node.data.id);
      }

      visited[node.data.id] = true;

      if (node !== searchNode) {
        accumulatedNodeData.push(node.data);
      }

      $(node.edges).each(function(i, edge) {
        if (edge.target.id === node.data.id) {
          accumulatedEdgeData.push(edge);

          if (!visited[edge.source.id]) {
            bfsNodes.unshift(nodes[edge.source.id]);
          }
        }
      });
    }

    return {
      nodes: [nodes[nodeData.id].data].concat(accumulatedNodeData),
      edges: accumulatedEdgeData  
    };
  }
}

function nodeIdToSvgId(nodeId) {
  return 'node-' + nodeId;
}

function linkDataToSvgId(link) {
  return 'link-' + link.source.id + '-' + link.target.id;
}

function initGraph() {
  var width = 600;
  var height = 600;
  var nodeRadius = 20;
  var arrowWidth = 7;
  var arrowHeight = 7;
  var charge = -600;
  var imgSize = nodeRadius * 2;


  var origNodes = buildNodes();
  var origLinks = buildLinks(origNodes.nodesByEolId);

  var svg = d3.select('#FOODWEB_CONTAINER').append("svg")
    .attr("width", width)
    .attr("height", height);

  var defs = svg.append('svg:defs');

  defs.append('svg:marker')
     .attr('id', 'end-arrow')
     .attr('viewBox', '0 -5 10 10')
     .attr('refX', 6)
     .attr('markerWidth', arrowWidth)
     .attr('markerHeight', arrowHeight)
     .attr('markerUnits', 'userSpaceOnUse') // prevent marker resize based on line stroke width
     .attr('orient', 'auto')
     .append('svg:path')
     .attr('d', 'M0,-5L10,0L0,5');

  // Patterns for node background images
  $(origNodes.nodes).each(function(i, node) {
    defs.append('svg:pattern')
      .attr('id', 'img-' + node.id)
      .attr('patternUnits', 'objectBoundingBox')
      .attr('preserveAspectRatio', 'xMidYMid slice')
      .attr('width', '100%')
      .attr('height', '100%')
      .attr('viewBox', '0 0 1 1')
      .append('svg:image')
      .attr('width', 1)
      .attr('height', 1)
      .attr('preserveAspectRatio', 'xMidYMid slice')
      .attr('xlink:href', node.photoUrl);
  });

  var nodeSelection = null; 
  var linkSelection = null; 

  var selectedNode = null;

  var force = d3.layout.force()
    .charge(charge)
    .linkDistance(150)
    .size([width, height])
    .nodes(origNodes.nodes)
    .links(origLinks);

  var nodes = force.nodes();
  var links = force.links();

  console.log(links);
  console.log(nodes);

  var graph = new Graph(origNodes.nodes, origLinks);

  function redraw() {
    // order matters here - draw links first so nodes are on top
    linkSelection = svg.selectAll('.link')
      .data(links, function(d) { return d.id });

    linkSelection.enter().append("path")
        .attr("class", "link")
        .attr('id', linkDataToSvgId)
        .style('marker-end', 'url(#end-arrow)');

    linkSelection.exit().remove();


    nodeSelection = svg.selectAll('.node')
      .data(nodes, function(d) { return d.id });
    nodeSelection.enter().append("circle")
      .attr("class", "node")
      .attr('id', function(d) { return nodeIdToSvgId(d.id) })
      .attr("r", nodeRadius)
      .style("fill", function(d) { return "url(#img-" + d.id + ")" })
      .on('click', function(d) {
        if (selectedNode) {
          d3.select(selectedNode).classed('selected', false);
        }

        var newNodes = null;
        var newEdges = null;

        if (this !== selectedNode) {
          selectedNode = this;
          d3.select(this).classed('selected', true);
          var newNodesEdges = graph.incomingOutgoingNodesEdges(d);
          newNodes = newNodesEdges.nodes;
          newEdges = newNodesEdges.edges;
        } else {
          newNodes = origNodes.nodes;
          newEdges = origLinks;
          selectedNode = null;
        }

        console.log('new nodes: ');
        console.log(newNodes);

        console.log('new edges: ');
        console.log(newEdges);

        nodes.splice(0, nodes.length);
        $(newNodes).each(function(i, node) {
          nodes.push(node);
        });

        links.splice(0, links.length);
        $(newEdges).each(function(i, edge) {
          links.push(edge);
        });

        redraw();
      })
      .call(force.drag);
    nodeSelection.exit().remove();


      nodeSelection.attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });

    force.start();
  }

  redraw();
}

$(function() {
  buildSidebar();
  var foodweb = new FoodWeb(interactions.nodes, interactions.links, thumbnailUrls);
});
</script>
