<h1>Foodweb Test Page</h1>
<div id="GRAPH_CONTROLS">
  <span id="CLEAR_SELECTIONS">Clear all selections</span>
</div>

<div id="WRAP">
  <div id="FOODWEB_CONTAINER"></div>

  <div id="SIDEBAR">
    <ul id="SPECIES_LIST">
      
    </ul>
  </div>
</div>


<script type="text/javascript">
var interactions = {
    "links": [
        {
            "from": "597748",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1107478",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "1107478",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1107478",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "597748",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "1050637"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "582347",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "582347",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "582347",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "582347",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "1050637"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "1047051"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "582707",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "1050637"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "328482"
        },
        {
            "from": "582644",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "1050637"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "595775",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "456481"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "632490",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "456481"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1130738",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "916843"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "594658",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "594658",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "594658",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "594658",
            "int_id": "9",
            "strength": "1",
            "to": "390368"
        },
        {
            "from": "1154991",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "1154991",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1154991",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "596915",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "596915",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "596915",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "1047051"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "328652"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "1049187"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "795271"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "795271"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "795271"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "795271"
        },
        {
            "from": "795271",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "795271",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "795271",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "795271",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1082791",
            "int_id": "9",
            "strength": "1",
            "to": "456481"
        },
        {
            "from": "1124877",
            "int_id": "9",
            "strength": "1",
            "to": "456481"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328482"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "856046",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "1047051"
        },
        {
            "from": "1047051",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1047051",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "456481",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "460646",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "328611",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "390368",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "347685",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "328482"
        },
        {
            "from": "328501",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "328501",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328501",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328652",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328598",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328652",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "460646",
            "int_id": "9",
            "strength": "1",
            "to": "328663"
        },
        {
            "from": "328663",
            "int_id": "9",
            "strength": "1",
            "to": "328602"
        },
        {
            "from": "328663",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "328482",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "390368",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1124877",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "1124877",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "976910",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1039130",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1050637",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1050637",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        },
        {
            "from": "390368",
            "int_id": "9",
            "strength": "1",
            "to": "916843"
        },
        {
            "from": "916843",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1124877",
            "int_id": "9",
            "strength": "1",
            "to": "1052548"
        },
        {
            "from": "1151588",
            "int_id": "9",
            "strength": "1",
            "to": "1052548"
        },
        {
            "from": "1151496",
            "int_id": "9",
            "strength": "1",
            "to": "1052548"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "1052548"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        },
        {
            "from": "1052548",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "1178540",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "1178540",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1178540",
            "int_id": "9",
            "strength": "1",
            "to": "1049046"
        },
        {
            "from": "583659",
            "int_id": "9",
            "strength": "1",
            "to": "1178540"
        },
        {
            "from": "856046",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "856046",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "328501"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "1056377"
        },
        {
            "from": "1049187",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "328598",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "347685"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "328598"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "1265750"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "328611"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "976910"
        },
        {
            "from": "594770",
            "int_id": "9",
            "strength": "1",
            "to": "856046"
        }
    ],
    "nodes": [
        {
            "comname_alt": "",
            "group": "4",
            "id": "1049046",
            "isHidden": 0,
            "label": "Cooper's Hawk",
            "sciname": "Accipiter cooperii (Bonaparte, 1828)"
        },
        {
            "comname_alt": "",
            "group": "9",
            "id": "390368",
            "isHidden": 0,
            "label": "Luna Moth",
            "sciname": "Actias luna Linnaeus 1758"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1050637",
            "isHidden": 0,
            "label": "Cedar Waxwing",
            "sciname": "Bombycilla cedrorum Vieillot 1808"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1124877",
            "isHidden": 0,
            "label": "Baltzell's Sedge",
            "sciname": "Carex baltzellii Chapm."
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "594770",
            "isHidden": 0,
            "label": "Sweet Pignut",
            "sciname": "Carya glabra (Mill.) Sweet"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1049187",
            "isHidden": 0,
            "label": "Northern Bobwhite",
            "sciname": "Colinus virginianus (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "582707",
            "isHidden": 0,
            "label": "Flowering Dogwood",
            "sciname": "Cornus florida L."
        },
        {
            "comname_alt": "",
            "group": "14",
            "id": "795271",
            "isHidden": 0,
            "label": "Eastern Diamondback Rattlesnake",
            "sciname": "Crotalus adamanteus Palisot de Beauvois, 1799"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "856046",
            "isHidden": 0,
            "label": "Blue Jay",
            "sciname": "Cyanocitta cristata (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328482",
            "isHidden": 0,
            "label": "Nine-banded Armadillo",
            "sciname": "Dasypus novemcinctus Linnaeus, 1758"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328501",
            "isHidden": 0,
            "label": "Virginia Opossum",
            "sciname": "Didelphis virginiana Kerr, 1792"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "595775",
            "isHidden": 0,
            "label": "Common Persimmon",
            "sciname": "Diospyros virginiana L."
        },
        {
            "comname_alt": "",
            "group": "14",
            "id": "1056377",
            "isHidden": 0,
            "label": "Eastern Indigo Snake",
            "sciname": "Drymarchon couperi HOLBROOK 1842"
        },
        {
            "comname_alt": "",
            "group": "14",
            "id": "456481",
            "isHidden": 0,
            "label": "(Florida) Gopher Tortoise",
            "sciname": "Gopherus polyphemus DAUDIN 1802"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "582644",
            "isHidden": 0,
            "label": "Yaupon Holly",
            "sciname": "Ilex vomitoria Aiton"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "594658",
            "isHidden": 0,
            "label": "American Sweetgum",
            "sciname": "Liquidambar styraciflua L."
        },
        {
            "comname_alt": "",
            "group": "1",
            "id": "1039130",
            "isHidden": 0,
            "label": "Carolina Gopher Frog",
            "sciname": "Lithobates capito (LeConte, 1855)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328602",
            "isHidden": 0,
            "label": "Bobcat",
            "sciname": "Lynx rufus (Schreber, 1777)"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1154991",
            "isHidden": 0,
            "label": "Magnolia",
            "sciname": "Magnolia grandiflora L."
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1107478",
            "isHidden": 0,
            "label": "Partridge Berry",
            "sciname": "Mitchella repens L."
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "916843",
            "isHidden": 0,
            "label": "Great Crested Flycatcher",
            "sciname": "Myiarchus crinitus (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328652",
            "isHidden": 0,
            "label": "White-tailed Deer",
            "sciname": "Odocoileus virginianus (Zimmermann, 1780)"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "596915",
            "isHidden": 0,
            "label": "Red Bay",
            "sciname": "Persea borbonia (L.) Spreng."
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1047051",
            "isHidden": 0,
            "label": "Downy Woodpecker",
            "sciname": "Picoides pubescens (Linnaeus, 1766)"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1052548",
            "isHidden": 0,
            "label": "Eastern Towhee",
            "sciname": "Pipilo erythrophthalmus (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "4",
            "id": "1178540",
            "isHidden": 0,
            "label": "Carolina Chickadee",
            "sciname": "Poecile carolinensis (Audubon, 1834)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328598",
            "isHidden": 0,
            "label": "Northern Raccoon",
            "sciname": "Procyon lotor (Linnaeus, 1758)"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "632490",
            "isHidden": 0,
            "label": "Flatwoods Plum",
            "sciname": "Prunus umbellata Elliott"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "597748",
            "isHidden": 0,
            "label": "Bracken Fern",
            "sciname": "Pteridium aquilinum (L.) Kuhn"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1151588",
            "isHidden": 0,
            "label": "Sand Live Oak",
            "sciname": "Quercus geminata Small"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1151496",
            "isHidden": 0,
            "label": "Turkey Oak",
            "sciname": "Quercus laevis Walter"
        },
        {
            "comname_alt": "",
            "group": "14",
            "id": "460646",
            "isHidden": 0,
            "label": "Brown Bark Skink",
            "sciname": "Scincella lateralis SAY 1823"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "347685",
            "isHidden": 0,
            "label": "Eastern Gray Squirrel",
            "sciname": "Sciurus carolinensis Gmelin, 1788"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1130738",
            "isHidden": 0,
            "label": "Saw Palmetto",
            "sciname": "Serenoa repens (W. Bartram) Small"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "1082791",
            "isHidden": 0,
            "label": "Wild Sarsaparilla Vine",
            "sciname": "Smilax glauca Walter"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328663",
            "isHidden": 0,
            "label": "Wild Boar",
            "sciname": "Sus scrofa Linnaeus, 1758"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "976910",
            "isHidden": 0,
            "label": "Eastern Cottontail",
            "sciname": "Sylvilagus floridanus (J. A. Allen, 1890)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "328611",
            "isHidden": 0,
            "label": "Gray Fox",
            "sciname": "Urocyon cinereoargenteus (Schreber, 1775)"
        },
        {
            "comname_alt": "",
            "group": "10",
            "id": "1265750",
            "isHidden": 0,
            "label": "Florida Black Bear.",
            "sciname": "Ursus americanus floridanus Merriam, 1896"
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "583659",
            "isHidden": 0,
            "label": "Sparkleberry",
            "sciname": "Vaccinium arboreum Marsh."
        },
        {
            "comname_alt": "",
            "group": "12",
            "id": "582347",
            "isHidden": 0,
            "label": "Muscadine Grape",
            "sciname": "Vitis rotundifolia Michx."
        }
    ],
    "timer:": "Time: 1461254153, 0, , 0, 0"
}

var thumbnailUrls = {
    "1039130": "http://media.eol.org/content/2011/10/06/08/45422_98_68.jpg",
    "1047051": "http://media.eol.org/content/2015/06/04/10/78038_98_68.jpg",
    "1049046": "http://media.eol.org/content/2012/06/14/23/86848_98_68.jpg",
    "1049187": "http://media.eol.org/content/2012/07/26/22/69982_98_68.jpg",
    "1050637": "http://media.eol.org/content/2015/03/05/06/04615_98_68.jpg",
    "1052548": "http://media.eol.org/content/2013/04/29/02/62139_98_68.jpg",
    "1056377": "http://media.eol.org/content/2012/06/15/15/27361_98_68.jpg",
    "1082791": "http://media.eol.org/content/2015/12/08/16/50125_98_68.jpg",
    "1107478": "http://media.eol.org/content/2012/07/04/05/77015_98_68.jpg",
    "1124877": "http://media.eol.org/content/2013/05/12/12/16787_98_68.jpg",
    "1130738": "http://media.eol.org/content/2011/10/06/00/79248_98_68.jpg",
    "1151496": "http://media.eol.org/content/2012/12/18/05/81146_98_68.jpg",
    "1151588": "http://media.eol.org/content/2011/11/01/15/26276_98_68.jpg",
    "1154991": "http://media.eol.org/content/2013/02/17/16/16408_98_68.jpg",
    "1178540": "http://media.eol.org/content/2013/02/26/17/16086_98_68.jpg",
    "1265750": "http://media.eol.org/content/2016/03/28/19/48970_98_68.jpg",
    "328482": "http://media.eol.org/content/2013/03/13/14/36742_98_68.jpg",
    "328501": "http://media.eol.org/content/2014/03/13/19/46885_98_68.jpg",
    "328598": "http://media.eol.org/content/2013/01/24/10/86040_98_68.jpg",
    "328602": "http://media.eol.org/content/2014/05/02/13/65718_98_68.jpg",
    "328611": "http://media.eol.org/content/2013/03/13/14/02475_98_68.jpg",
    "328652": "http://media.eol.org/content/2015/01/12/14/03185_98_68.jpg",
    "328663": "http://media.eol.org/content/2015/01/20/12/99909_98_68.jpg",
    "347685": "http://media.eol.org/content/2013/06/17/16/13267_98_68.jpg",
    "390368": "http://media.eol.org/content/2014/05/22/09/25899_98_68.jpg",
    "456481": "http://media.eol.org/content/2012/12/03/01/97906_98_68.jpg",
    "460646": "http://media.eol.org/content/2011/10/06/00/23048_98_68.jpg",
    "582347": "http://media.eol.org/content/2009/04/21/09/96102_98_68.jpg",
    "582644": "http://media.eol.org/content/2012/02/21/01/05087_98_68.jpg",
    "582707": "http://media.eol.org/content/2012/06/15/04/08055_98_68.jpg",
    "583659": "http://media.eol.org/content/2013/04/18/02/33640_98_68.jpg",
    "594658": "http://media.eol.org/content/2013/02/26/12/81796_98_68.jpg",
    "594770": "http://media.eol.org/content/2012/11/10/03/22227_98_68.jpg",
    "595775": "http://media.eol.org/content/2012/10/18/00/08289_98_68.jpg",
    "596915": "http://media.eol.org/content/2011/11/02/16/41573_98_68.jpg",
    "597748": "http://media.eol.org/content/2013/11/15/04/80335_98_68.jpg",
    "632490": "http://media.eol.org/content/2012/10/07/00/13786_98_68.jpg",
    "795271": "http://media.eol.org/content/2013/10/22/12/69079_98_68.jpg",
    "856046": "http://media.eol.org/content/2015/06/04/10/69322_98_68.jpg",
    "916843": "http://media.eol.org/content/2014/03/05/06/56446_98_68.jpg",
    "976910": "http://media.eol.org/content/2014/02/26/10/79094_98_68.jpg"
}


function FoodWeb(nodeData, linkData, photoUrls) {
  var width = 600;
  var height = 600;
  var nodeRadius = 20;
  var arrowWidth = 10;
  var arrowHeight = 10;
  var charge = -700;
  var imgSize = nodeRadius * 2;

  var self = this;

  self.nodes = [];
  self.origNodes = [];
  self.nodesById = {};
  self.links = [];
  self.validLinkIds = {};
  self.origLinks = [];
  self.selectedNodes = {};
  self.layout = null;
  self.svg = null;
  self.speciesList = null;

  var Node = function(nodeData, photoUrl, index) {
    var self = this;

    self.id = nodeData.id;
    self.label = nodeData.label;
    self.photoUrl = photoUrl;
    self.index = index;
    self.links = [];
  };

  var Link = function(source, target) {
    var self = this;
    
    self.source = source;
    self.target = target;
    self.classes = {};

    self.getClassString = function() {
      var classes = ['link'];

      for (var key in self.classes) {
        classes.push(key);
      }

      return classes.join(' ');
    }

    self.addClass = function(className) {
      self.classes[className] = true;
    }

    self.clearClasses = function() {
      self.classes = {};
    }
  };

  self.clearSelections = function() {
    self.selectedNodes = {};
    updateGraph();
  };

  self.selectNode = function(nodeId) {
    toggleNodeSelect(self.nodesById[nodeId]);  
  }

  function initNodes(nodeData, photoUrls) {
    var nodes = [];
    var nodesById = {};

    $(nodeData).each(function(i, nodeDatum) {
      var node = new Node(nodeDatum, photoUrls[nodeDatum.id], i);
      nodes.push(node);
      nodesById[node.id] = node;
    });

    self.nodes = nodes;
    self.nodesById = nodesById;

    self.origNodes = $.extend([], nodes);
  } 

  function initLinks(linkData) {
    var links = [];

    $(linkData).each(function(i, linkDatum) {
      var source = self.nodesById[linkDatum.from];
      var target = self.nodesById[linkDatum.to];

      var link = new Link(source, target);

      links.push(link);
      source.links.push(link);
      target.links.push(link);
    });

    self.links = links;
    self.origLinks = $.extend([], self.links);
  }

  function buildSidebar(foodWeb) {
    //"label": "Cooper's Hawk",
    //"sciname": "Accipiter cooperii (Bonaparte, 1828)"
    self.speciesList = $('#SPECIES_LIST');

    $.each(self.nodes, function(index, node) {
      var item = self.speciesList.append(
        '<li class="species" data-id="' + node.id + '">' +
          '<div class="speciesThumbWrap">' + 
            '<img class="speciesThumb" alt="" src="' + thumbnailUrls[node.id] + '">' +
          '</div>' +
          '<div class="commonName">' + node.label + '</div>' +
  //        '<div class="sciName">' + node.sciname + '</div>' +
        '</li>' 
      );
    }); 

    $('.species').click(function(e) {
      var id = $(this).data('id');
      self.selectNode(id);
    });
  }

  function nodeToSvgId(node) {
    return nodeIdToSvgId(node.id);
  }

  function nodeIdToSvgId(nodeId) {
    return 'node-' + nodeId;
  }

  function linkDataToSvgId(link) {
    return 'link-' + link.source.id + '-' + link.target.id;
  }

  function updateGraph() {
    d3.selectAll('.node').classed('selected', false);
    self.speciesList.find('.species').removeClass('selected');

    self.links = self.origLinks;
    self.nodes = self.origNodes;
    self.validLinkIds = {};

    var first = true;
    var node = null;

    for (var key in self.selectedNodes) {
      node = self.selectedNodes[key]
      d3.select('#' + nodeToSvgId(node)).classed('selected', true);
      self.speciesList.find('.species[data-id=' + node.id + ']').addClass('selected');
      filterToFoodChainNodesLinks(node, first); 
      first = false;
    }

    redraw();
  }

  function filterToFoodChainNodesLinks(rootNode, followAllLinks) {

    var nodes = [];
    var links = [];
    var newValidLinkIds = {};

    // directed bfs on outgoing links
    var bfsNodes = [rootNode];
    var curNode = null;
    var rootNodeId = rootNode.id
    var addedToFrontier = { rootNodeId: true };

    var bfs = function (linkVisitFn) { 
      while (bfsNodes.length) {
        curNode = bfsNodes.pop();

        if (curNode !== rootNode) {
          nodes.push(curNode);
        }

        $(curNode.links).each(function(i, link) {
          var linkId = linkDataToSvgId(link);
          var linkNodes = null;

          if (followAllLinks || self.validLinkIds[linkId]) {
            linkNodes = linkVisitFn(link, linkId);

            if (linkNodes.addIfEqCurNode === curNode) {
              links.push(link);
              newValidLinkIds[linkId] = true;

              if (!addedToFrontier[linkNodes.nodeToAdd]) {
                bfsNodes.unshift(linkNodes.nodeToAdd);
                addedToFrontier[linkNodes.nodeToAdd.id] = true;
              }
            }
          }
        });
      }
    };

    bfs(function(link, linkId) {
      return {
        addIfEqCurNode: link.source,
        nodeToAdd: link.target
      };
    });

    bfsNodes = [rootNode];

    bfs(function(link, linkId) {
      return {
        addIfEqCurNode: link.target,
        nodeToAdd: link.source
      };
    });

    // Only add the root if there are other nodes
    if (nodes.length) {
      nodes.push(rootNode);
    }

    self.nodes = nodes;
    self.links = links;
    self.validLinkIds = newValidLinkIds;
  }

  function clearLinkClasses() {
    $(self.links).each(function(i, link) {
      link.clearClasses();
    });
  }

  function toggleNodeSelect(node) {
    var selectedNode = self.selectedNodes[node.id];

    if (selectedNode) {
      delete self.selectedNodes[node.id];
    } else {
      self.selectedNodes[node.id] = node;
    }
    
    updateGraph();
  }

  function nodeClicked(node) {
    // This lets us know if we're in the middle of a drag (or some other event that wants to prevent the click behavior).
    // If we are, suppress the click behavior.
    if (d3.event.defaultPrevented) {
      return;
    }

    toggleNodeSelect(node);
  }

  function linkClassFn(d) {
    return d.getClassString();
  }

  function redraw() {
    var linkSelection = self.svg.select('#links').selectAll('.link')
      .data(self.links, linkDataToSvgId);

    // update existing link classes
    linkSelection.attr('class', linkClassFn);

    linkSelection.enter().append("path")
        .attr("class", linkClassFn)
        .attr('id', linkDataToSvgId)
        .style('marker-end', 'url(#end-arrow)');

    linkSelection.exit().remove();
    
    // Draw nodes
    var nodeSelection = self.svg.select('#nodes').selectAll('.node')
      .data(self.nodes, function(d) { return d.id });

    var nodeEnterGroup = nodeSelection.enter()
      .append('svg:g')
        .attr('class', 'node')
        .attr('id', nodeToSvgId)
        .call(self.layout.drag)
        .on('click', nodeClicked);

    var circleSelection = nodeEnterGroup.append('svg:circle')
      .attr('r', nodeRadius)
      .style('fill', function(d) { return 'url(#img-' + d.id + ')' });

    var labelSelection = nodeEnterGroup.append('svg:g')
      .attr('class', 'label');

    labelSelection.append('svg:text')
      .attr('class', 'highlightText')
      .text(function(d, i) { return d.label });

    labelSelection.append('svg:text')
      .attr('class', 'innerText')
      .text(function(d, i) { return d.label });

    nodeSelection.exit().remove();

    self.layout.on("tick", function() {
      var linkTargetPadding = 5

      linkSelection.attr('d', function(d) {
        var dx = d.target.x - d.source.x,
        dy = d.target.y - d.source.y,
        dist = Math.sqrt(dx * dx + dy * dy);
        normX = dx / dist,
        normY = dy / dist,
        sourcePadding = nodeRadius,
        targetPadding = nodeRadius + linkTargetPadding,
        sourceX = d.source.x + (sourcePadding * normX),
        sourceY = d.source.y + (sourcePadding * normY),
        targetX = d.target.x - (targetPadding * normX),
        targetY = d.target.y - (targetPadding * normY);
        return 'M' + sourceX + ', ' + sourceY + 'L' + targetX + ', ' + targetY;
      });

      nodeSelection.attr("transform", 
        function(d) { return "translate(" + d.x + "," + d.y + ")"; }
      );

      labelSelection.attr('transform', function(d) {
        var elem = this;
        var bbox = elem.getBBox();
        var newX = -1 * bbox.width / 2
        var newY = 30; // Circle/text height should be the same for all, so just pick a value that looks good
        return 'translate(' + newX + ',' + newY + ')';
      })

      /*
      labelSelection.attr('transform', function(d) {
        var parentGroup = $(this).parent()[0];
        var parentBbox = parentGroup.getBBox();

        console.log(parentBbox);
        console.log(d.x);
        console.log(d.y);
        return 'translate(, 0)';
      });
      */
    });

    self.layout.nodes(self.nodes);
    self.layout.links(self.links);
    self.layout.start();
  }

  function initD3() {
    self.svg = d3.select('#FOODWEB_CONTAINER').append("svg")
      .attr("width", width)
      .attr("height", height);

    // Groups to ensure links are below nodes since svg doesn't use z-index
    self.svg.append('g').attr('id', 'links');
    self.svg.append('g').attr('id', 'nodes');

    var defs = self.svg.append('svg:defs');
    
    defs.append('svg:marker')
       .attr('id', 'end-arrow')
       .attr('viewBox', '0 -5 10 10')
       .attr('refX', 6)
       .attr('markerWidth', arrowWidth)
       .attr('markerHeight', arrowHeight)
       .attr('markerUnits', 'userSpaceOnUse') // prevent marker resize based on line stroke width
       .attr('orient', 'auto')
       .append('svg:path')
       .attr('d', 'M0,-5L10,0L0,5');

    // Patterns for node background images
    $(self.nodes).each(function(i, node) {
      defs.append('svg:pattern')
        .attr('id', 'img-' + node.id)
        .attr('patternUnits', 'objectBoundingBox')
        .attr('preserveAspectRatio', 'xMidYMid slice')
        .attr('width', '100%')
        .attr('height', '100%')
        .attr('viewBox', '0 0 1 1')
        .append('svg:image')
        .attr('width', 1)
        .attr('height', 1)
        .attr('preserveAspectRatio', 'xMidYMid slice')
        .attr('xlink:href', node.photoUrl);
    });

    self.layout = d3.layout.force()
      .charge(charge)
      .linkDistance(150)
      .size([width, height]);
  }

  initNodes(nodeData, photoUrls);
  initLinks(linkData);
  buildSidebar();
  initD3();
  redraw();
}

$(function() {
  var foodweb = new FoodWeb(interactions.nodes, interactions.links, thumbnailUrls);

  $('#CLEAR_SELECTIONS').click(function(e) {
    foodweb.clearSelections();
  });
});
</script>
