%li{:class => "featured-deck hoverable #{class_str}"}
  .featured-deck-wrap
    =image_tag "cards/#{image_name}.png", :class => "featured-deck-img"
    .overlay= t "cards.featured_descriptions.#{desc_key}"
