%script#TextInputTemplate{:type => "text/x-handlebars-template"}
  .fields
    %label{:for => "{{id}}"} {{label}}:
    %input.text-input{:id => "{{id}}"}

%script#ImageInputTemplate{:type => "text/x-handlebars-template"}
  .fields.image-input{:id => "{{id}}"}
    %label{:for => "{{id}}"} {{label}}:
    .zoom-controls
      %i.fa.fa-minus-circle.fa-2x
      %i.fa.fa-plus-circle.fa-2x
    .img-selector
      :plain
        {{#each images}}
          <img class="thumb" src="{{this.src}}" data-index="{{this.index}}" data-credit="{{this.credit}}"/>
        {{/each}}
    .image-upload
      .upload-preview
      %input.image-upload-input{:type => "file"}
    .fields
      %label{:for => "{{id}}Credit"} Image credit:
      %input.text-input{:id => "{{id}}Credit", :class => "image-credit"}

%script#ColorInputTemplate{:type => "text/x-handlebars-template"}
  .fields.color-input
    %label{:for => "{{id}}"} {{label}}:
    .color-row
      :plain
        {{#each colors}}
          <div class="color" data-color="{{this}}" data-index="{{@index}}"></div>
        {{/each}}

%h1.new-card-hdr Card Generator Test Page

.card-generator
  .left-col
    %form#TemplateParams.template-params
      %label{:for => "TaxonId"}Taxon Id:
      %input#TaxonId.taxon-id{:type => "text", :value => "327940"}

      %input{:type => "submit", :value => "Create card"}

    .controls#GeneratorControls
    %i.fa.fa-floppy-o.fa-3x.save-btn.hidden#SaveBtn{:'aria-hidden' => "true"}

  .right-col
    %h2.preview-hdr Browser preview:
    %canvas.canvas#Canvas
