%script#TextInputTemplate{:type => "text/x-handlebars-template"}
  .fields
    %label{:for => "{{id}}"} {{label}}:
    %input.text-input{:id => "{{id}}"}

%script#ImageInputTemplate{:type => "text/x-handlebars-template"}
  .fields.image-input{:id => "{{id}}"}
    %label{:for => "{{id}}"} {{label}}:
    .zoom-controls
      %i.fa.fa-minus-circle.fa-2x
      %i.fa.fa-plus-circle.fa-2x
    .img-selector
      = image_tag "leatherback1.jpg", :class => "thumb", :id => "Leatherback1"
      = image_tag "leatherback2.jpg", :class => "thumb", :id => "Leatherback2"
    .image-upload
      .upload-preview
      %input.image-upload-input{:type => "file"}

%script#ColorInputTemplate{:type => "text/x-handlebars-template"}
  .fields.color-input
    %label{:for => "{{id}}"} {{label}}:
    .color-row
      .color.red
      .color.blue
      .color.green

%h1.new-card-hdr Card Generator Test Page

.card-generator
  .left-col
    .controls#GeneratorControls
    %i.fa.fa-floppy-o.fa-3x.save-btn#SaveBtn{:'aria-hidden' => "true"}

  .right-col
    %h2.preview-hdr Browser preview:
    %canvas.canvas#Canvas
