%h1{:class => "new-card-hdr"} Card Generator Test Page

.card-generator
  .controls#GeneratorControls
  %canvas.canvas#Canvas

.img-selector.hidden#ImgSelector
  = image_tag "leatherback1.jpg", :id => "Leatherback1"
  = image_tag "leatherback2.jpg", :id => "Leatherback2"
