%script#LabelTemplate{:type => "text/x-handlebars-template"}
  .label {{label}}

%script#TextInputTemplate{:type => "text/x-handlebars-template"}
  .fields
    %input.text-input.text-field{:id => "{{id}}", :value => "{{defaultVal}}"}

%script#TextareaTemplate{:type => "text/x-handlebars-template"}
  .fields
    %textarea.textarea.text-field{:id => "{{id}}"} {{defaultVal}}

%script#ImageInputTemplate{:type => "text/x-handlebars-template"}
  .fields.image-input{:id => "{{id}}"}
    .zoom-controls
      %i.fa.fa-minus-circle.fa-2x
      %i.fa.fa-plus-circle.fa-2x
    .img-selector
      :plain
        {{#each images}}
          <img class="thumb" src="{{this.src}}" data-index="{{this.index}}" data-credit="{{this.credit}}"/>
        {{/each}}
    .image-upload
      .upload-preview
      %input.image-upload-input{:type => "file"}
    .fields
      %label{:for => "{{id}}Credit"} Image credit:
      %input.text-input{:id => "{{id}}Credit", :class => "image-credit"}

%script#LabeledImageInputTemplate{:type => "text/x-handlebars-template"}
  .fields.labeled-image-input
    %select
      :plain
        {{#each images}}
          <option value="{{this.index}}">{{this.label}}</option>
        {{/each}}


%script#ColorInputTemplate{:type => "text/x-handlebars-template"}
  .fields.color-input
    .color-row
      :plain
        {{#each colors}}
          <div class="color" data-color="{{this}}" data-index="{{@index}}"></div>
        {{/each}}

%script#KeyValListInputTemplate{:type => "text/x-handlebars-template"}
  .fields.key-val-list
    :plain
      {{#each data}}
        <div class="key-val-wrap" data-index="{{this.index}}">
          <input class="key-input" type="text" value="{{this.key}}">
          <input class="val-input" type="text" value="{{this.val}}">
        </div>
      {{/each}}

%script#MultiImageTemplate{:type => "text/x-handlebars-template"}
  .fields.multi-image
    :plain
      {{#each images}}
        <div class="img-wrap" data-index="{{@index}}">
          <img src="{{this.url}}" class="img">
        </div>
      {{/each}}

%script#CardPlaceholderTemplate{:type => "text/x-handlebars-template"}
  .card-wrap.user-card-wrap{:'data-card-id' => "{{cardId}}", :id => "Card-{{cardId}}"}
    %i.fa.fa-spinner.fa-spin.fa-2x.img-placeholder

%script#UserCardTemplate{:type => "text/x-handlebars-template"}
  %img.user-card{:src => "{{src}}"}

%script#CardOverlayTemplate{:type => "text/x-handlebars-template"}
  .card-overlay
    %i.fa.fa-edit.fa-3x.edit-btn.btn
    %i.fa.fa-trash-o.fa-3x.trash-btn.btn


%h1.new-card-hdr Card Generator Test Page

%h2.user-cards-hdr.card-hdr User Cards
.user-cards#UserCards
  #NewCard.card-wrap.new-card
    %i.fa.fa-plus.fa-3x.new-card-icon

%h2.create-card-hdr.card-hdr Card Editor
#CardGenerator.card-generator.hidden
  .left-col
    .controls#GeneratorControls

  .right-col
    #CanvasWrap
      %h2.preview-hdr Browser preview:
      %canvas.canvas#Canvas
      .btns-wrap
        %i#SaveBtn.fa.fa-floppy-o.fa-3x.save-btn.btn.last
