= render "shared/intro_section", header: "cards.observer_cards.intro_header", paragraphs: %w(cards.observer_cards.intro_text)
= render "observer_cards_section", type: "bee"
= render "observer_cards_section", type: "frog"
= render "shared/image_credits", images: [{ title: "Bee",
    author: "Markus Trienke",
    license: "CC-BY-SA"}]
