/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require navbar
 *= require edu_icons
 *= require lesson_plan_icons
 *= require_self
 */
@import "shared/layout_vars.scss";

$section-v-margin: 54px;
$nav-menu-width: 120px;

@mixin hero-fluid($width, $height) {
  margin: 0 auto;
  padding-top: percentage($height / $width);
  width: 100%;
  background-size: cover;
  background-position: center;
}

$hero-width: $main-col-width + 2 * $main-col-padding;

*, *:before, *:after {
  box-sizing: border-box; *behavior: asset-url("polyfill/box-sizing.htc");
}

html {
  -webkit-text-size-adjust: 100%; // Prevent Safari on iOS from resizing text
}

body { 
  margin: 0; 
  padding: ($topbar-height) 0 0 0; 
}

body, p {
  font: normal 100% $open-sans;
}

main {
  padding-bottom: percentage(50 / $page-width-px);
}


a, .std-link {
  @include standard-link;
}

textarea {
  resize: none;
}

.hidden {
  display: none !important;
}

.is-hidden {
  display: none !important;
}

.is-nopad-bot {
  padding-bottom: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Page {
  max-width: $page-width;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.noscroll {
  overflow: hidden;
}

/* FLASH NOTICE */
.notice {
  background: #57657c;
  color: $white;
  left: 50%;
  margin: 0 auto;
  max-width: 350px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  z-index: 100;
}

/* FOOTER */
.footer {
  $footer-v-spacing: 23 / $em * 1em;

  background-color: #f0f0f0;
  padding: percentage(23 / $page-width-px) 0 percentage(37 / $page-width-px) 0;

  a {
    color: #50558d;
  }

  .footer-head {
    display: block;
    font-size: 13 / $em * 1em;
    font-weight: $semibold;
    text-align: center;
  }

  .mcz-logo {
    display: block;
    margin: $footer-v-spacing auto 0 auto;
    width: 199px;
  }

  .addr-line {
    font-size: 14 / $em * 1em;
    text-align: center;
  }

  .addr-line.top {
    margin-top: $footer-v-spacing;
  }

  @media screen and (max-width: 646px) {
    .addr-line {
      font-size: .75em;
    }
  }
}

.l-abs-l {
  position: absolute;
  top: 0;
  left: 0;
}

.l-abs-r {
  position: absolute;
  top: 0;
  right: 0;
}

.hero-image {
  position: relative;
  max-width: 100%;
  max-height: (385px / $unit-px) + em;
  overflow: hidden;
  z-index: 1;
}

.hero-full {
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  padding-top: 349 / $em * 1em;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  z-index: 1;
}

.hero-shim {
  position: relative;
  background-position: center;
  margin: 0 auto;
  max-width: $hero-width * 1px;
  z-index: 2;

  .hero-shim-inner {
    @include hero-fluid($hero-width, 349);
  }
}

.hero-slim {
  height: 60px;
  object-fit: cover;
  width: 100%;
}

.hero-small {
  display: none;
}

$hero-transition-width: 525;
@media screen and (max-width: $hero-transition-width * 1px) {
  .hero-shim, .hero-full {
    display: none;
  }

  .hero-small {
    display: block;
    @include hero-fluid($hero-transition-width, 300);
  }

  .about {
    display: none;
  }

  .nav-link {
    background: transparent;
  }

  .nav-menu-user {
    display: none;
  }
}

// PAGE INTRO
.intro-box {
  text-align: center;
  width: 100%;
  margin-top: percentage(37 / $main-col-width);
}

.intro-hdr {
  color: $nav-green;
  font-size: 15px;
  font-weight: normal;
  margin: 12px 0 10px 0;
  text-align: center;
}

.text {
  font-size: 12px;
}

.text-p {
  margin: 10px auto;
  max-width: 385px;
  padding: 0;
  text-align: center;
  width: 90%;
}

@media only screen and (min-width: $tablet-width) {
  .intro-hdr {
    font-size: 23px;
  }

  .text {
    font-size: 14px;
  }
}

@media only screen and (min-width: $full-width) {
  .text-p {
    max-width: 600px;
  }
}

// New intro
.intro-text {
  font-size: 12px;
  max-width: 90%;
  text-align: center;
}

// MAIN COLUMN
.main-col {
  box-sizing: content-box;
  overflow: hidden;
  @include main-col-horiz;
}

// IMAGE CREDITS
.image-credits-section {
  background-color: #eef1f1;
  color: $black;
  padding: 20px 0;
  text-align: center;

  a {
    @include standard-link;
  }
}

.image-credits-hdr {
  font-size: 19px;
  font-weight: $semibold;
  margin: 0;
  padding: 0;
}

.image-credits-text {
  font-size: 10px;
  margin: 16px 0 0 0;
  padding: 0;
}


.image-title {
  font-style: italic;
}

.section-head {
  border-bottom: 1px solid $section-border-gray;
  margin: $section-v-margin 0 0 0;
}

.section-head-top {
  margin-top: percentage(45 / $main-col-width);
}

.section-title {
  font-size: 20px;
  font-weight: $semibold;
  margin-bottom: 5px;
}

.section-intro {
  color: $section-intro-gray;
  font-weight: $light;
  margin: 1.4419% 0;
}

@media screen and (max-width: $head-trans-width * 1px) {
  .section-title {
    font-size: 16px;
  }
}

@media screen and (max-width: $nav-mobile-width) {
  body {
    padding-top: $topbar-row-height;
  }
}

@media only screen and (min-width: $tablet-width) {
  .hero-slim {
    height: 80px;
  }
}

@media only screen and (min-width: $full-width) {
  .hero-slim {
    height: 100px;
  }

  .image-credits-section {
    padding: 42px 0;
  }

  .image-credits-hdr {
    font-size: 20px;
  }

  .image-credits-text {
    font-size: 14px;
    margin: 22px auto 0 auto;
    width: 90%;
  }
}
