/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require galleria/themes/classic/galleria.classic
 *= require_tree .
 *= require_self
 */
@import "layout_vars.scss";

body { margin: 0; padding: 0; }

body, p {
  font: normal 100% $open-sans;
}

p a { 
  color: $link-blue;
  font-weight: $semibold;
  text-decoration: none;
}

#Page {
  max-width: $page-width;
  margin: 0 auto;
}

/* FOOTER */
.footer { 
  $footer-v-spacing: 23 / $em * 1em;

  background-color: #f0f0f0;
  height: 234 / $em * 1em;
  margin-top: percentage(192 / $main-col-width); 

  a {
    color: #50558d;
  }

  .footer-head {
    display: block;
    font-size: 13 / $em * 1em;
    font-weight: $semibold;
    padding-top: 23 / $em * 1em;
    text-align: center;
  }

  .mcz-logo {
    display: block;
    margin: $footer-v-spacing auto 0 auto;
  }

  .addr-line {
    font-size: 14 / $em * 1em;
    text-align: center;
  }

  .addr-line.top {
    margin-top: $footer-v-spacing;
  }

  @media screen and (max-width: 646px) {
    .addr-line {
      font-size: .75em;
    }
  }
}

//HEADER
.topbar-inner {
  @include main-col-horiz;
}

.topbar-inner {
  height: 100%;
  position: relative;
}

.topbar {
  background: $black;
  color: $white;
  height: $topbar-height;
}

.eol-nav {
  left: 0;
  top: 0;
  height: $topbar-height;

  &:hover .eol-dropdown {
    display: block;
  }
}

.eol-nav-a {
  display: block;
  height: 100%;
  width: 100%;
}

.eol-dropdown {
  $eol-link-padding-px: 13;
  $font-size-px: 14;

  display: none;
  position: absolute;
  font-size: $font-size-px / $em * 1em;
  font-weight: $semibold;
  width: 170 / $font-size-px * 1em;
  top: $topbar-height-px / $font-size-px * 1em;
  left: 0;
  z-index: 2;

  .eol-link {
    $height-em: 37 / $em;
    background: $background-gray;
    height: $height-em * 1em;
    line-height: $height-em;
    padding-left: $eol-link-padding-px / $font-size-px * 1em;

    a {
      color: $eol-link-color;
      text-decoration: none;
    }
  }
}

.eol-link.selected {
  background: $eol-link-selected-bg-color;

  a {
    color: $white;
  }
}

.eol-logo {
  $height-em: 19 / $em;
  position: absolute; 
  height: $height-em * 1em;
  line-height: $height-em;
  left: 38 / $em * 1em;
  top: 8 / $em * 1em;
}

.about {
  $font-size-px: 14;
  color: $about-link-gray;
  font-size: 14 / $em * 1em;
  font-weight: $semibold;
  right: 0;
  top: 0;
  line-height: $topbar-height-px / $font-size-px;
  text-align: center;
}

.title {
  $font-size-px: 20;
  margin: 0;   
  font-size: $font-size-px / $em * 1em;
  font-weight: $semibold;
  line-height: $topbar-height-px / $font-size-px * 1em;
  text-align: center;
}

.title-plus {
  color: $eol-green;
}

.nav-link {
  cursor: pointer;
  position: absolute;
  height: 100%;
  text-decoration: none;
  width: 120 / $em * 1em;
}

.hero-image {
  position: relative;
  max-width: 100%;
  max-height: (385px / $unit-px) + em;
  overflow: hidden;
  z-index: 1;
}

.hero-full {
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  padding-top: 349 / $em * 1em;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  z-index: 1;
}

.hero-shim {
  $width: $main-col-width + 2 * $main-col-padding;

  position: relative;
  background-position: center;
  margin: 0 auto;
  max-width: $width * 1px;
  z-index: 2;

  .hero-shim-inner {
    margin: 0 auto;
    padding-top: percentage(349 / $width);
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

// MAIN COLUMN
.main-col {
  @include main-col-horiz;
}

/*
.editor-content p { margin: 0; padding: 0; }
#DraftHeader { background-color: #FAF55A; height: 20px; text-align: center; vertical-align: middle; }
.field input, .field label { display: block; }
*/
