@import "layout_vars.scss";

$editor-width: 940;

.new-card-hdr {
  font-size: 24px;
  font-weight: $bold;
  margin: 20px 0;
  text-align: center;
}

.card-hdr-box {
  $height: 147px;

  height: $height;
  background-color: $white;
  min-width: $editor-width * 1px;

  .card-hdr-inner {
    height: 100%;
    position: relative;
  }

  .hdr {
    color: #7f7f7f;
    font-size: 48px;
  	font-weight: $light;
    line-height: $height;
    text-align: center;
    vertical-align: top;
  }

  $left-blur-bg-width: 282px;
  $right-blur-bg-width: 149px;


  .left-blur-bg {
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0.27;
    position: absolute;
    top: 0;
    width: $left-blur-bg-width;
    background-image: linear-gradient(302deg, #e1ebff, #89c2ff);
    -webkit-filter: blur(12.7px);
    filter: blur(12.7px);
  }

  .right-blur-bg {
    display: inline-block;
    height: 100%;
    opacity: 0.27;
    position: absolute;
    right: 0;
    top: 0;
    width: $right-blur-bg-width;
    -webkit-filter: blur(12.7px);
    filter: blur(12.7px);
    background-color: rgba(179, 205, 255, 0.39);
  }

  .hdr-logo {
    height: 38px;
  }
}

.hdr-spacer {
  background-color: #23d15e;
  height: 8px;
}

.card-generator {
  background-image: image-url("card_maker/editor_bg_tree.jpg");
  overflow: hidden;
}

.card-generator-inner {
  box-sizing: content-box;
  margin: 0 auto;
  width: $editor-width * 1px;
}

.welcome-block {
  $height: 81px;
  $tips-width: 144px;

  background-color: #4aa86a;
  height: $height;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  z-index: 2;

  .welcome-txt {
    color: $white;
    display: inline-block;
    font-family: Merriweather;
  	font-size: 17px;
    height: 100%;
    line-height: $height;
    padding-left: $tips-width;
    width: $editor-width - $tips-width ;
    text-align: center;
    vertical-align: top;

    .big-letter {
      font-size: 26px;
    }
  }

  .tips-box {
    background-color: $white;
    box-shadow: inset 0 1px 17px 0 rgba(127, 205, 255, 0.5);
    display: inline-block;
    height: 100%;
    padding-left: 44px;
    vertical-align: top;
    width: $tips-width;

    .tips-txt {
      color: #428cff;
      font-size: 14px;
      font-style: italic;
      line-height: $height;
    }
  }
}

$col-width: ($editor-width / 2) * 1px;
$head-box-height: 109px;
$col-border-width: 5px;

.cols {
  align-items: stretch;
  background-color: #43525f;
  display: flex;
}

.col {
  border-radius: 4px;
  min-height: $head-box-height;
  overflow: hidden;
  padding-bottom: 50px;
  position: relative;
  vertical-align: top;
  z-index: 1;
}

.col-inner {
  $margin: 5px;

  margin: $margin;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.col-head-box {
  $height: $head-box-height;

  color: $white;
  font-size: 18px;
  font-weight: $light;
  height: $height;
  left: 0;
  overflow: hidden;
  padding-top: 25px;
  position: relative;
  text-align: center;
  width: $col-width;
}

.col-head-txt {
  $height: 27px;

  font-size: 20px;
	font-weight: $semibold;
  height: $height;
  line-height: $height;
	text-align: center;
}

.col-head-sub-txt {
  font-weight: $light;
  font-size: 12px;
  font-style: italic;
  margin-top: 6px;
}

.left-col {
  $preview-left-width: 110px;

  padding: 0 19px 0 35px;
  width: 490px;

  .preview {
    position: absolute;
    top: $head-box-height;
    width: 436px;
  }

  .preview-btns {
    display: flex;
    font-family: Merriweather;
    font-size: 13px;
    justify-content: space-between;
    margin-top: 14px;
    overflow: hidden;
    padding: 9px;
    position: relative;

    .btn {
      cursor: pointer;
      height: 60px;
      width: 135px;

      &.close {
        background-image: radial-gradient(circle at 50% 50%, #d56f4f, #dc5a31);
        text-shadow: 0 1px 1px #d11616;
      }

      &.save-exit {
        background-image: radial-gradient(circle at 50% 50%, #3a8ff9, #289ff6);
        text-shadow: 0 1px 1px #0d5196;
      }

      &.save {
        background-color: #4aa86a;
        text-shadow: 0 1px 1px rgba(28, 78, 0, 0.68);
      }
    }

    .btn-txt {
      color: $white;
      font-family: Merriweather;
    	font-size: 13px;
      margin-top: 40px;
    	text-align: center;
    }
  }

  .img-select {
    background-color: #586475;
    height: 114px;
    overflow: hidden;
    position: relative;
  }

  .img-wrap {
    $thumb-size: 80px;

    margin-top: 7px;

    .img-title {
      font-family: Merriweather;
      font-size: 10px;
      text-align: center;
      color: $white;
    }

    .thumb {
      background-color: $white;
      cursor: pointer;
      display: block;
      height: $thumb-size;
      margin: 5px auto 0 auto;
      box-sizing: content-box;
      object-fit: cover;
      width: $thumb-size;

      &.selected {
        border: 3px solid #3c9e60;
      }
    }
  }

  .controls-card-wrap {
    background-color: #667683;
    margin-top: 2px;
  }

  .img-controls {
    display: inline-block;
    margin-right: 2px;
    position: relative;
    vertical-align: top;
    width: $preview-left-width;

    .sep {
      background-color: #4d557f;
      box-shadow: 0 1px 1px 0 #91a8cc;
      height: 1px;
      margin: 0 auto;
      width: 48px;
    }

    .btn {
      cursor: pointer;
      display: block;
      height: 45px;
      width: 45px;
      margin: 0 auto;

      &.mid {
        margin-bottom: 3px;
        margin-top: 3px;
      }
    }
  }

  .txt {
    color: $white;
    font-size: 11px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }

  .img-controls-txt {
    margin-bottom: 10px;
  }

  .tip {
    height: 15px;
    margin-top: 25px;
  }

  .zoom-txt {
    $height: 18px;

    height: $height;
    line-height: $height;
    font-size: 13px;
    margin-top: 7px;
  }

  .ctrl {
    border-radius: 4px;
    background-color: #586475;
    height: 158px;
    margin: 0 auto;
    padding: 9px 0;
    width: 62px;
  }

  .img-btns {
    margin-top: 15px;
    margin-bottom: 17px;
  }

  .zoom {
    $dir-border-radius: 3px;
    $width: 45px;

    height: 159px;
    margin-top: 10px;
    padding: 8px 0;

    .dir {
      background-color: $white;
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
      height: 24px;
      line-height: 24px;
      margin: 0 auto;
      text-align: center;
      color: #428cff;
      width: $width;
    }

    .plus {
      border-radius: $dir-border-radius $dir-border-radius 0 0;
    }

    .minus {
      border-radius: 0 0 $dir-border-radius $dir-border-radius;
    }

    .stem {
      $line-color: #3a66ab;

      background-color: rgba(180, 222, 255, 0.25);
      height: 96px;
      margin: 0 auto;
      position: relative;
      width: $width;

      .lft, .rt {
        display: inline-block;
        height: 100%;
        width: $width / 2;
      }

      .lft {
        border-right: 1px solid $line-color;
      }

      .rt {
        border-left: 1px solid $line-color;
      }
    }

    .knob {
      cursor: ns-resize;
      width: 15px;
      height: 3px;
      border-radius: 1px;
      background-color: $white;
      box-shadow: 0 2px 2px 0 #236375;
      left: ($width / 2) - 7px;
      margin: 1px 0 2px 0;
      position: absolute;
      top: 10px;
    }
  }

  .card-box {
    display: inline-block;
    width: 287px;
  }

  .card-canvas {
    box-shadow: 0 2px 4px #43525f;
    display: block;
    margin: 33px auto 0 auto;
    position: relative;
  }
}

.right-col {
  height: 1200px;
  width: 450px;
}

/*
.card-hdr {
  border: 1px solid #000;
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}


.create-card-hdr {
  margin-top: 20px;
}
*/

.user-resources {
  background-color: #ddd;
  height: 400px;
  overflow: auto;
  padding: 0 0 10px 20px;
  position: relative;

  .user-resources-overlay {
    background-color: #fff;
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .resource-wrap {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    position: relative;
    vertical-align: top;
  }

  .deck-selector, .deck-name {
    height: 28px;
    width: 100%;
  }

  .deck-name {
    line-height: 28px;
    text-align: center;
  }

  .title-card-placeholder {
    display: block;
    margin: 98px auto 0 auto;
    text-align: center;
  }

  .resource-frame {
    $height: 268.8px;
    $width: 192.8px;

    background-color: #fff;
    border: 2px solid #000;
    box-sizing: content-box;
    height: $height;
    position: relative;
    width: $width;

    .resource-overlay {
      background: rgba(50, 50, 50, .5);
      display: flex;
      flex-direction: column;
      height: $height;
      justify-content: space-around;
      position: absolute;
      top: 0;
      left: 0;
      width: $width;

      .btn {
        color: #fff;
        text-align: center;
      }

      .edit-btn.active {
        color: #f00;
      }
    }
  }

  .img-placeholder {
    display: block;
    margin: 124px auto 0 auto;
    width: 32px;
  }

  .new-resource-icon {
    display: block;
    margin: 116px auto 0 auto;
    width: 38px
  }

  .user-resource {
    width: 100%;
  }
}

#CanvasWrap {
  margin-top: 35px;
}

#CanvasWrap.fixed {
  position: fixed;
  top: 0;
}

.canvas {
  display: block;
}

.card-manager-controls {
  .view-selector {
    border: 1px solid #000;
    display: inline-block;
    margin-top: -1px;

    .view {
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      font-size: 20px;
      border-left: 1px solid #000;

      &.first {
        border-left: none;
      }

      &.selected {
        background-color: #555;
        color: #fff;
      }
    }
  }
}

#GeneratorControls {
  max-width: 425px;

  .img-selector {
    max-height: 230px;
    overflow: auto;
  }

  .fields {
  }

  .label {
    font-weight: bold;
    margin-top: 12px;
  }

  .textarea {
    width: 200px;
    height: 100px;
  }

  .multi-image {
    .img-wrap {
      display: inline-block;
      margin-right: 5px;
      height: 45px;

      &.selected {
        background: #757575;
      }
    }

    .img {
      height: 100%;
    }
  }
}

.thumb {
  height: 100px;

  &.selected {
    border: 2px solid #000;
  }
}

.btns-wrap {
  background-color: #ddd;
  border: 1px solid #000;
  display: flex;

  .btn {
    border-right: 1px solid #000;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;

    &.last {
      border-right: none;
    }
  }
}

.server-img {
  margin-top: 20px;
}

.color-row {
  .color {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;

    &.red {
      background-color: rgb(150, 56, 37);
    }

    &.green {
      background-color: #0e7718;
    }

    &.blue {
      background-color: #1d2999;
    }

    &.selected {
      border: 2px solid #000;
    }
  }
}
