@import "layout_vars.scss";

// CARD RESOURCES
$activities-yellow: #bdb261;
$tutorials-blue: #69a4bd;
$standards-red: #d57070;
$border-gray: #ddd;
$hover-gray: #eee;

$mobile-col-width: 270px;

h1 {
  color: $nav-green;
  font-size: 20px;
  font-weight: normal;
  margin: 31px 0 18px 0;
  text-align: center;
}

p {
  margin: 15px auto 21px auto;
  text-align: center;
  max-width: $mobile-col-width;
}

.text {
  font-size: 14px;
}

.anchor-links {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: $mobile-col-width;
}

.anchor-link { 
  border: 1px solid black;
  border-radius: 8px;
  height: 43px;
  font-size: 13px;
  margin-top: 15px;
  width: 100%;
  
  & > a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    width: 100%;
  }

  &:hover {
    background-color: $hover-gray;
  }
}
  .anchor-link-types > a {
    color: $nav-green;
  }

  .anchor-link-activities > a {
    color: $activities-yellow;
  }

  .anchor-link-tutorials > a {
    color: $tutorials-blue;
  }

  .anchor-link-standards > a {
    color: $standards-red;
  }

.section {
  margin-top: 50px;
}

.section-head-cards {
  box-shadow: inset 0 1px 2px 0 rgba(91, 91, 91, 0.5);
  color: $white;
  font-size: 14px;
  padding: 13px 0 15px 0;
  text-align: center;
  width: 100%;
}
  .section-head-cards-types {
    background-color: $nav-green;
  }

  .section-head-cards-tutorials {
    background-color: $tutorials-blue;
  }

  .section-head-cards-activities {
    background-color: $activities-yellow;
  }

  .section-head-cards-standards {
    background-color: $standards-red;
  }

.card-type {
  font-size: 13px;
  margin: 21px auto 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 182px;

  & > img {
    width: 100%;
  }
}

  .card-type-name {
    font-size: 18px;
    font-weight: $semibold;
    margin: 5px 0;
  }

.section-anchor {
  display: block;
  position: relative;
  top: -1 * $topbar-height;
  visibility: hidden;
}

.tutorial {
  border-top: 1px solid $border-gray;
  color: $tutorials-blue;
  font-size: 17px;
  font-weight: $semibold;
  height: 231px;
  text-align: center;
  width: 100%;

  & > a {
    align-items: center;
    color: $tutorials-blue;
    display: flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    width: 100%;
  }

  &:hover {
    background-color: $hover-gray;
  }
}

  .tutorial-icon {
    display: block;
    margin: 0 auto 12px auto;
    width: 128px;
  }

.activity {
  border-top: 1px solid $border-gray;
  font-size: 14px;
  height: 132px;
  text-align: center;

  & > a {
    align-items: center;
    color: $black;
    display: flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
  }

  &:hover {
    background-color: $hover-gray;
  }
}
  .activity-text {
    width: 254px;
  }

@media only screen and (min-width: $tablet-width) {
  .text {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    max-width: 525px;
  }

  .anchor-links {
    overflow: hidden;
    width: 400px;
  }

    .anchor-link {
      font-size: 18px;
      height: 60px;
      margin-top: 16px;
      width: 187px;
    }

  .card-types {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 332px;
  }

    .card-type {
      flex: 0 0 auto;
      width: 150px;
    }

      .card-type-name {
        margin: 10px 0 5px 0;
      }

  .tutorial {
    display: inline-block;
    font-size: 13px;
    padding: 40px 0 36px 0;
    width: 50%;
  }

    li:nth-of-type(odd).tutorial {
      border-right: 1px solid $border-gray;
    }

    .tutorial-icon {
      margin: 0 auto 10px auto;
      width: 97px;
    }

  .activity {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    width: 50%;
  }

    li:nth-of-type(odd).activity {
      border-right: 1px solid $border-gray;
    }

  .tutorial {
    display: inline-block;
    font-size: 16px;
    padding: 40px 0 36px 0;
    width: 50%;
  }

    .tutorial-icon {
      margin: 0 auto 10px auto;
      width: 120px;
    }

  .section-head-cards {
    font-size: 16px;
  }
}

@media only screen and (min-width: $full-width) {
  .anchor-links {
    width: 790px;
  }

  .card-types {
    width: 100%;
  }

  .section-head-cards {
    font-size: 18px;
    padding: 16px 0 18px;
  }

}

@media screen and (max-width: $nav-mobile-width) {
  .section-anchor {
    display: block;
    position: relative;
    top: -1 * $topbar-row-height;
    visibility: hidden;
  }
}
