@import "layout_vars.scss";

$editor-width: 940;

.new-card-hdr {
  font-size: 24px;
  font-weight: $bold;
  margin: 20px 0;
  text-align: center;
}

.card-hdr-box {
  $height: 147px;

  height: $height;
  background-color: $white;
  min-width: $editor-width * 1px;

  .card-hdr-inner {
    height: 100%;
    position: relative;
  }

  .hdr {
    color: #7f7f7f;
    font-size: 48px;
  	font-weight: $light;
    line-height: $height;
    text-align: center;
    vertical-align: top;
  }

  $left-blur-bg-width: 282px;
  $right-blur-bg-width: 149px;


  .left-blur-bg {
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0.27;
    position: absolute;
    top: 0;
    width: $left-blur-bg-width;
    background-image: linear-gradient(302deg, #e1ebff, #89c2ff);
    -webkit-filter: blur(12.7px);
    filter: blur(12.7px);
  }

  .right-blur-bg {
    display: inline-block;
    height: 100%;
    opacity: 0.27;
    position: absolute;
    right: 0;
    top: 0;
    width: $right-blur-bg-width;
    -webkit-filter: blur(12.7px);
    filter: blur(12.7px);
    background-color: rgba(179, 205, 255, 0.39);
  }

  .hdr-logo {
    height: 38px;
  }
}

.hdr-spacer {
  background-color: #ffc318;
  height: 8px;
}

.card-generator {
  overflow: hidden;
}

.card-generator-inner {
  box-sizing: content-box;
  margin: 0 auto;
  width: $editor-width * 1px;
}

.welcome-block {
  $height: 81px;
  $tips-width: 144px;
  $rail-width: 6px;

  background-color: #ffc417;
  height: $height;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  z-index: 2;

  .rail {
    display: inline-block;
    height: 100%;
    width: $rail-width;
    vertical-align: top;
  }

  .lft-rail {
    background-color: #e4a900;
  }

  .rt-rail {
    background-color: #e0e4d3;
  }

  .welcome-txt {
    color: $white;
    display: inline-block;
    font-family: Merriweather;
  	font-size: 17px;
    height: 100%;
    line-height: $height;
    padding-left: $tips-width;
    width: $editor-width - $rail-width * 2 - $tips-width ;
    text-align: center;
    vertical-align: top;

    .big-letter {
      font-size: 26px;
    }
  }

  .tips-box {
    background-color: $white;
    display: inline-block;
    height: 100%;
    padding-left: 44px;
    vertical-align: top;
    width: $tips-width;

    .tips-txt {
      color: #428cff;
      font-size: 14px;
      font-style: italic;
      line-height: $height;
    }
  }
}

$col-width: ($editor-width / 2) * 1px;
$head-box-height: 58px;
$col-border-width: 5px;

.cols {
  align-items: stretch;
  display: flex;
}

.col {
  border-radius: 4px;
  min-height: $head-box-height;
  height: 500px;
  margin-top: 50px;
  position: relative;
  width: $col-width;
  vertical-align: top;
  z-index: 1;
}

.col-inner {
  $margin: 5px;

  margin: $margin;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.col-head-box {
  $height: $head-box-height;

  font-size: 18px;
  font-weight: $light;
  height: $height;
  left: 0;
  overflow: hidden;
  padding: 19px 0 0 23px;
  position: absolute;
  top: -50px;
  width: $col-width;
}

.col-head-txt {
  width: 396px;
}

.left-col {
  background-color: #3aa160;
  box-shadow: inset 0 7px 6px 0 #12710b;

  .col-inner {
    background-image: linear-gradient(#485050, #485050), linear-gradient(to bottom, #208f4e, #169954 2%, #18af58 14%, #179771);
    box-shadow: inset 0 3px 14px 0 rgba(27, 46, 37, 0.79);
  }

  .col-head-box {
    background-image: linear-gradient(to bottom, #2db064, #0eae5c);
    box-shadow: inset 0 0 7px 1px rgba(16, 119, 57, 0.6);
  }

  .col-head-txt {
    $color: #1f753d;

    border-bottom: 1px solid $color;
    color: $color;
  }

  .preview-outer {
    border-radius: 5px;
    background-color: #2cb871;
    box-shadow: 0 5px 9px 0 rgba(17, 61, 4, 0.5), inset 0 0 3px 0 rgba(21, 128, 9, 0.5);
    height: 200px;
    position: absolute;
    top: $head-box-height + 20px;
    width: $col-width;
  }

  .preview {
    border-radius: 2px;
  	background-image: linear-gradient(to bottom, #3c9e60, #52ac83);
  	box-shadow: inset 0 0 7px 1px #285e3f;
    margin: 5px;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
  }

  .img-select {
  	background-image: linear-gradient(to bottom, #636765, #555555);
  	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    height: 114px;
    margin: 8px 0 0 107px;
    overflow: hidden;
    position: relative;
    width: 330px;
  }

  .images-txt {
    color: #c9c9c9;
    font-size: 11px;
    font-weight: 600;
    height: 15px;
    left: 11px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 39px;
  }

  .img-wrap {
    $thumb-size: 80px;

    margin-top: 7px;

    .img-title {
      font-family: Merriweather;
      font-size: 10px;
      text-align: center;
      color: $white;
    }

    .thumb {
      background-color: $white;
      height: $thumb-size;
      margin: 5px auto 0 auto;
      width: $thumb-size;
    }
  }
}

.right-col {
  background-color: #4f8ce3;
	box-shadow: inset 0 6px 5px 0 #1462dc;

  .col-inner {
    background-image: linear-gradient(to bottom, #003279, #445e83);
    box-shadow: inset 0 5px 16px 0 #184378;
  }

  .col-head-box {
    background-color: #4b91ff;
  	box-shadow: inset 0 0 14px 1px rgba(41, 78, 193, 0.5);
  }

  .col-head-txt {
    $color: #2361b4;

    border-bottom: 1px solid $color;
    color: $color;
  }
}

/*
.card-hdr {
  border: 1px solid #000;
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}


.create-card-hdr {
  margin-top: 20px;
}
*/

.user-resources {
  background-color: #ddd;
  height: 400px;
  overflow: auto;
  padding: 0 0 10px 20px;
  position: relative;

  .user-resources-overlay {
    background-color: #fff;
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .resource-wrap {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    position: relative;
    vertical-align: top;
  }

  .deck-selector, .deck-name {
    height: 28px;
    width: 100%;
  }

  .deck-name {
    line-height: 28px;
    text-align: center;
  }

  .title-card-placeholder {
    display: block;
    margin: 98px auto 0 auto;
    text-align: center;
  }

  .resource-frame {
    $height: 268.8px;
    $width: 192.8px;

    background-color: #fff;
    border: 2px solid #000;
    box-sizing: content-box;
    height: $height;
    position: relative;
    width: $width;

    .resource-overlay {
      background: rgba(50, 50, 50, .5);
      display: flex;
      flex-direction: column;
      height: $height;
      justify-content: space-around;
      position: absolute;
      top: 0;
      left: 0;
      width: $width;

      .btn {
        color: #fff;
        text-align: center;
      }

      .edit-btn.active {
        color: #f00;
      }
    }
  }

  .img-placeholder {
    display: block;
    margin: 124px auto 0 auto;
    width: 32px;
  }

  .new-resource-icon {
    display: block;
    margin: 116px auto 0 auto;
    width: 38px
  }

  .user-resource {
    width: 100%;
  }
}

#CanvasWrap {
  margin-top: 35px;
}

#CanvasWrap.fixed {
  position: fixed;
  top: 0;
}

.canvas {
  display: block;
}

.card-manager-controls {
  .view-selector {
    border: 1px solid #000;
    display: inline-block;
    margin-top: -1px;

    .view {
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      font-size: 20px;
      border-left: 1px solid #000;

      &.first {
        border-left: none;
      }

      &.selected {
        background-color: #555;
        color: #fff;
      }
    }
  }
}

#GeneratorControls {
  max-width: 425px;

  .img-selector {
    max-height: 230px;
    overflow: auto;
  }

  .fields {
  }

  .label {
    font-weight: bold;
    margin-top: 12px;
  }

  .textarea {
    width: 200px;
    height: 100px;
  }

  .multi-image {
    .img-wrap {
      display: inline-block;
      margin-right: 5px;
      height: 45px;

      &.selected {
        background: #757575;
      }
    }

    .img {
      height: 100%;
    }
  }
}

.thumb {
  height: 100px;

  &.selected {
    border: 2px solid #000;
  }
}

.btns-wrap {
  background-color: #ddd;
  border: 1px solid #000;
  display: flex;

  .btn {
    border-right: 1px solid #000;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;

    &.last {
      border-right: none;
    }
  }
}

.server-img {
  margin-top: 20px;
}

.zoom-controls i {
  cursor: pointer;
}

.color-row {
  .color {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;

    &.red {
      background-color: rgb(150, 56, 37);
    }

    &.green {
      background-color: #0e7718;
    }

    &.blue {
      background-color: #1d2999;
    }

    &.selected {
      border: 2px solid #000;
    }
  }
}
