@import "layout_vars.scss";

$featured-card-width: 225;
$featured-card-h-margin: 13;
$featured-card-t-margin: 9;

//---------CARDS----------
.featured-decks {
}

.featured-deck {
  display: inline-block;
  margin: percentage($featured-card-t-margin / $main-col-width) percentage($featured-card-h-margin / $main-col-width) 0 0;
  width: percentage($featured-card-width / $main-col-width);

  &.fourth {
    margin-right: 0;
  }
}

.featured-deck-img {
  height: 100%;
  vertical-align: top;
  width: 100%;
}

$deck-width: 403;
$deck-img-width: 150;
$deck-img-height: 205;
$deck-info-width: 238;
$deck-img-margin: 15;
.deck {
  display: inline-block;
  margin-top: 9px;
  width: $deck-width * 1px;

  &.odd {
//    float: left;
  }

  &.even {
    float: right;
  }
}

.deck-img, .deck-info {
  display: inline-block;
}

.deck-img {
  flex-shrink: 0;
  height: $deck-img-height * 1px;
  margin-right: $deck-img-margin * 1px;
  width: $deck-img-width * 1px;
  vertical-align: top;
}

.deck-info {
  vertical-align: top;
  width: 238 * 1px;
}

.deck-title, .deck-sub {
  color: #262626;
  font-weight: $semibold;
  line-height: 20px;
}

.deck-title {
  font-size: 18px;
}

.deck-sub {
  font-size: 14px;
}

.deck-desc {
  color: #161616;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 10px;
}

$one-col-deck-width: 850;
@media screen and (max-width: $one-col-deck-width * 1px) {
  .deck.even {
    float: none;
  }

  .deck {
    display: flex;
    width: 100%;
  }

  .deck-img {
    float: left;
  }

  .deck-info {
    width: auto;
  }
}

$featured-trans-width: 642;
@media screen and (max-width: $featured-trans-width * 1px) {
  .featured-decks {
    margin: 0 auto;
    width: 307px;
  }

  .featured-deck {
    height: $deck-img-height * 1px;
    margin: 7px 7px 0 0;
    width: $deck-img-width * 1px;

    &.second {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $head-trans-width * 1px) {
  .deck-title, .deck-sub {
    line-height: 17px;
  }

  .deck-title {
    font-size: 14px;
  }

  .deck-sub {
    font-size: 11px;
  }

  .deck-desc {
    font-size: 12px;
  }
}

