#GRAPH_CONTROLS span { cursor: pointer; }
#WRAP { width: 916px; }
#FOODWEB_CONTAINER { width: 600px; height: 600px; border: 3px solid #000; float: left; }
#SIDEBAR { height: 594px; width: 284px; padding: 3px; border: 3px solid #000; float: right; overflow: scroll; }

#SPECIES_LIST { padding: 0; }
.species { list-style: none; text-align: right; border: 1px solid #000; margin-bottom: 2px; height: 40px; }
.species:hover { background-color: #DDD; cursor: pointer; }
.speciesThumbWrap { height: 40px; width: 40px; overflow: hidden; float: left; }
.speciesThumb { float: left; }
.sciName { font-style: italic; }

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
  z-index: 1000;
}

.node.selected {
  stroke: blue;
}

.link {
  stroke: #AAA;
  stroke-width: 3px;
}

#end-arrow {
  fill: #AAA;
}
