@import "shared/layout_vars";

$grade-level-gold: #ccb545;
$grade-level-blue: #3cb4e0;
$grade-level-purple: #a366be;
$grade-level-green: #7ab62d;
$grade-level-red: #ce681a;

$grade-level-bar-height: 34px;

$flp-margin: 13;
$flp-width: 225;

$lesson-plan-icon-size: 141px;
$lesson-plan-icon-size-sm: 113px;

$icon-dark-gray: #515151;
$lesson-plan-border-color: #aaaaaa;

.grade-level-0 {
  background: $grade-level-green;
}

.grade-level-1 {
  background: $grade-level-red;
}

.grade-level-2 {
  background: $grade-level-purple;
}

.featured-lesson-plans {
  margin-top: percentage(15 / $main-col-width);
}

.featured-lesson-plan {
  $text-padding-left: 15px;
  $margin-pct: percentage($flp-margin / $main-col-width);
  display: inline-block;
  margin: $margin-pct $margin-pct 0 0;
  position: relative;
  width: percentage($flp-width / $main-col-width);

  .top-bar {
    color: $white;
    font-size: 14px;
    font-weight: $bold;
    height: 34px;
    line-height: 34px;
    padding-left: $text-padding-left;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .icons {
    color: $icon-dark-gray;
    float: right;
    font-size: 20px;
    height: 100%;
    margin-right: 6px;
    padding-top: 4px;
    text-shadow: none;
  }

  .image-wrap {
    position: relative;
  }

  .image {
    vertical-align: top;
    width: 100%;
  }

  .text-overlay {
    background-color: rgba(20, 20, 20, 0.74);
    bottom: 0;
    color: $white;
    font-size: 16px;
    font-weight: $bold;
    height: 40px;
    left: 0;
    line-height: 40px;
    padding-left: $text-padding-left;
    position: absolute;
    width: 100%;
  }

  &.fourth {
    margin-right: 0;
  }
}

.grade-level-fixed-bar, .grade-level-abs-bar {
  & > .lesson-plan-list {
    padding-top: $grade-level-bar-height;
  }
}

.grade-level-fixed-bar {
  & > .grade-level-bar-outer {
    left: 0;
    padding: 0 $main-col-padding-pct;
    position: fixed;
    top: $topbar-height;
    z-index: 2;
  }
}

.grade-level-abs-bar {
  & > .grade-level-bar-outer {
    bottom: 0;
    position: absolute;
  }
}

.grade-level-bar-outer {
  z-index: 2;
  width: 100%;
}

.grade-level-bar {
  color: $white;
  cursor: pointer;
  font-size: 18px;
  font-weight: $bold;
  height: $grade-level-bar-height;
  line-height: $grade-level-bar-height;
  margin: 0 auto;
  max-width: $main-col-width-px;
  position: relative;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  .chevron {
    position: absolute;
    right: 10px;
    top: 8px;
  }
}

.grade-level {
  clear: both;
  margin-top: 10px;
  position: relative;
}

.lesson-plan-list {
  display: none;
  margin-bottom: -10px;
}

.lesson-plan {
  border-bottom: solid 1px $lesson-plan-border-color;
  border-left: solid 1px $lesson-plan-border-color;
  border-right: solid 1px $lesson-plan-border-color;
  box-sizing: content-box;
  clear: both;
  min-height: $lesson-plan-icon-size;
  padding: 7px 0 7px 7px;
  position: relative;

  $pdf-button-width: 90;

  &.odd {
    background-color: #f5f5f5;
  }

  &.last {
    border-bottom: none;
  }

  .left-wrap {
    padding-right: 5%;
    width: percentage(($main-col-width - $pdf-button-width) / $main-col-width);
  }

  .left-wrap, .pdf-button {
    display: inline-block;
  }


  .pdf-button {
    border-left: solid 1px #e5e5e5;
    color: #262626;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    float: right;
    width: 90px; 
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: percentage($pdf-button-width / $main-col-width);
  }

  .pdf-button-small {
    border: solid 1px #979797;
    clear: both;
    color: #262626;
    cursor: pointer;
    display: none;
    float: left;
    font-size: 14px;
    font-weight: $semibold;
    height: 27px;
    line-height: 27px;
    margin: 7px 0 11px 0;
    text-align: center;
    width: 55px;
  }

  a {
    @include standard-link;
  }

  strong {
    font-weight: $bold;
  }
}

.grade-level.last {
  .lesson-plan.last {
    border-bottom: solid 1px $lesson-plan-border-color;
  }

  .lesson-plan-list {
    margin-bottom: 0;
  }
}

.subject-icon {
  border: solid 1px #212121;
}

.lesson-plan-icon {
  border: solid 1px #979797;
  float: left;
  margin-right: 15px;
  height: $lesson-plan-icon-size;
  vertical-align: top;
}


.lesson-plan-title {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: $bold;
  margin-bottom: 15px;
}

.icon-list-vert, .icon-list-horiz {
  .icon {
    color: #c1c1c1;
    font-size: 21px;
    line-height: 21px;

    &.active {
      color: #1e1e1e;
    }
  }
}

.icon-list-horiz {
  display: none;
}

.icon-list-vert {
  display: inline-block;
  float: left;
  margin-right: 24px;

  li {
    margin-bottom: 7px;
  }
}

.lesson-plan-desc-cont {
  margin-top: 15px;
}

.lesson-plan-desc, .lesson-plan-objectives {
  color: #1f1f1f;
  font-size: 13px;
//  line-height: 1.12;
}

.lesson-plan-objectives {
  list-style: outside disc;
  margin-top: 10px;
  overflow: hidden;
  padding-left: 40px;
  
  .objective {
    text-indent: 0;
    padding-left: 10px;
  }
}

.subject-key-block, .icon-key-block {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

$icon-key-block-width: 293px;
$subject-key-block-width: 600px;

.subject-key-block {
  margin-right: $main-col-width - $subject-key-block-width - $icon-key-block-width;
  width: $subject-key-block-width;
}

.icon-key-block {
  width: $icon-key-block-width;
}

.category-key {
  border: solid 1px #979797;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: block;
  margin: 22px auto 0 auto;
  padding: 17px;
  vertical-align: top;
  width: $subject-key-block-width;
}

.icon-key {
  width: $icon-key-block-width; 

  .icon-row {
    height: 37px;
    line-height: 37px;
  }

  .icon {
    font-size: 25px;
    margin-right: 14px;
  }

  .icon, .icon-desc {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-desc {
    color: #161616;
    font-size: 14px;
    font-weight: $light;
    width: 175px;
  }
}

.grade-level-key {
  width: 226px;

  .grade-level-bar {
    margin-top: 2px;
  }

  .grade-level-0 {
    margin-top: 0;
  }
}

.subject-key {
  .subject {
    display: inline-block;
    width: 33%;

    &.first, &.second {
      margin-bottom: 9px;
    }
  }

  .subject-icon, .subject-name {
    display: inline-block;
    vertical-align: middle;
  }

  .subject-name {
    color: #161616;
    font-size: 14px;
    overflow: visible;
  }

  .subject-icon {
    height: 51px;
    margin-right: 5px;
    width: 51px;
  }
}

.key-tooltip {
  @include standard-link
}

.ui-tooltip, .arrow:after {
  background: $white;
  box-shadow: 0 0 5px #aaa;
}

.ui-tooltip {
  font-family: $open-sans;
  max-width: 1000px; // override default jquery

  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;

    &:after {
      content: "";
      position: absolute;
      left: 20px;
      top: -20px;
      width: 25px;
      height: 25px;
      box-shadow: 0 0 5px 2px #aaa;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.top {
      top: -16px;
      bottom: auto;
      
      &:after {
        bottom: -20px;
        top: auto;
      }
    }
  }
}

@media screen and (max-width: 978px) {
  .subject-key-block, .icon-key-block {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  $lesson-plan-icon-sz: 84px;

  .subject-key, .icon-key {
    width: 371px;
  }

  .subject-key {
    .subject {
      width: 50%;

      &.third, &.fourth {
        margin-bottom: 9px;
      }
    }
  }

  .icon-list-horiz {
    display: block;
    clear: both;
    float: left;
    margin-top: 4px;
    width: $lesson-plan-icon-sz + 15px;

    li {
      display: inline-block;
    }


    .icon-tree {
      margin: 0 10px;
    }
  }

  .icon-list-vert {
    display: none;
  }

  .lesson-plan-title {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .lesson-plan-desc, .lesson-plan-objectives {
    font-size: 10px;
  }

  .lesson-plan-icon {
    height: $lesson-plan-icon-sz;
    width: $lesson-plan-icon-sz;
  }

  .lesson-plan-objectives {
    padding-left: 17px;
  }

  .lesson-plan {
    min-height: 0;
  }

  .lesson-plan .left-wrap {
    padding-right: 2%;
  }

  .lesson-plan-text {
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .subject-key, .icon-key {
    width: 262px;
  }

  .category-key {
    padding: 12px;
  }

  .subject-key .subject-name, .icon-key .icon-desc {
    font-size: 11px;
    font-weight: $light;
  }

  .subject-key {
    .subject-icon {
      margin-right: 3px;
      height: 36px;
      width: 36px;
    }

    .subject.first,
    .subject.third,
    .subject.fifth {
      width: 55%;
    }

    .subject.second,
    .subject.fourth {
      width: 45%;
    }
  }

  .icon-key {
    .icon {
      font-size: 20px;
    }

    .icon-row {
      height: 28px;
      line-height: 28px;
    }
  }

  .lesson-plan {
    $icon-size: 55px;

    .pdf-button-small {
      display: block;
    }

    .lesson-plan-icon {
      height: $icon-size;
      width: $icon-size;
    }

    .pdf-button {
      display: none;
    }

    .icon-list-horiz {
      display: none;
    }

    .icon-list-vert {
      clear: both;
      display: block;
    }

    .icon-list-vert, .lesson-plan-icon, .pdf-button-small {
      margin-right: 9px;
    }
  }
}
