@import "shared/layout_vars";

$grade-level-gold: #ccb545;
$grade-level-blue: #3cb4e0;
$grade-level-purple: #a366be;
$grade-level-green: #7ab62d;
$grade-level-red: #ce681a;

$flp-margin: 13;
$flp-width: 225;

$lesson-plan-icon-size: 141px;
$lesson-plan-icon-size-sm: 113px;

$icon-dark-gray: #515151;
$lesson-plan-border-color: #aaaaaa;

.grade-level-1 {
  background: $grade-level-green;
}

.grade-level-2 {
  background: $grade-level-red;
}

.grade-level-3 {
  background: $grade-level-purple;
}

.featured-lesson-plans {
  margin-top: percentage(15 / $main-col-width);
}

.featured-lesson-plan {
  $text-padding-left: 15px;
  $margin-pct: percentage($flp-margin / $main-col-width);
  display: inline-block;
  margin: $margin-pct $margin-pct 0 0;
  position: relative;
  width: percentage($flp-width / $main-col-width);

  .top-bar {
    color: $white;
    font-size: 14px;
    font-weight: $bold;
    height: 34px;
    line-height: 34px;
    padding-left: $text-padding-left;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .icons {
    color: $icon-dark-gray;
    float: right;
    font-size: 20px;
    height: 100%;
    margin-right: 6px;
    padding-top: 4px;
    text-shadow: none;
  }

  .image-wrap {
    position: relative;
  }

  .image {
    vertical-align: top;
    width: 100%;
  }

  .text-overlay {
    background-color: rgba(20, 20, 20, 0.74);
    bottom: 0;
    color: $white;
    font-size: 16px;
    font-weight: $bold;
    height: 40px;
    left: 0;
    line-height: 40px;
    padding-left: $text-padding-left;
    position: absolute;
    width: 100%;
  }

  &.fourth {
    margin-right: 0;
  }
}

.grade-level-bar {
  color: $white;
  font-size: 18px;
  font-weight: $bold;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.all-lesson-plans {
  .grade-level {
    clear: both;
    margin-top: 10px;
  }

  .grade-level-bar {
    cursor: pointer;
  }
}

.lesson-plan-list {
  display: none;
  margin-bottom: -10px;
}

.lesson-plan {
  border-bottom: solid 1px $lesson-plan-border-color;
  border-left: solid 1px $lesson-plan-border-color;
  border-right: solid 1px $lesson-plan-border-color;
  box-sizing: content-box;
  clear: both;
  min-height: $lesson-plan-icon-size;
  padding: 7px 0 7px 7px;
  position: relative;

  $pdf-button-width: 90;

  &.odd {
    background-color: #f5f5f5;
  }

  &.last {
    border-bottom: none;
  }

  .left-wrap, .pdf-button {
    display: inline-block;
  }

  .left-wrap {
    padding-right: 5%;
    width: percentage(($main-col-width - $pdf-button-width) / $main-col-width);
  }

  .pdf-button {
    border-left: solid 1px #e5e5e5;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: percentage($pdf-button-width / $main-col-width);
  }
}

.grade-level.last {
  .lesson-plan.last {
    border-bottom: solid 1px $lesson-plan-border-color;
  }
}

.lesson-plan-icon {
  float: left;
  margin-right: 15px;
  height: $lesson-plan-icon-size;
  vertical-align: top;
}

.lesson-plan-text {
  vertical-align: top;
}

.lesson-plan-title {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: $bold;
  margin-bottom: 15px;
}

.icon-list {
  display: inline-block;
  float: left;
  margin-right: 24px;

  li {
    margin-bottom: 7px;
  }

  .icon {
    color: #c1c1c1;
    font-size: 20px;
    line-height: 20px;   

    &.active {
      color: #1e1e1e;
    }
  } 
}

.lesson-plan-desc-cont {
  margin-top: 15px;
}

.lesson-plan-desc, .lesson-plan-objectives {
  color: #1f1f1f;
  font-size: 13px;
//  line-height: 1.12;
}

.lesson-plan-objectives {
  list-style: inside disc;
  margin-top: 10px;
  overflow: hidden;
  padding-left: 30px;
}

.pdf-button {
  float: right;
  width: 90px; 
}

.category-key {
  display: inline-block;
  height: 106px;
  margin: 22px 35px 0 0;
  vertical-align: top;
}

.subject-key {
  margin-right: 25px;
}

.icon-key {
  margin-right: 0;
  width: 347px;

  .icon {
    font-size: 25px;
    margin-right: 14px;
  }

  .icon, .icon-desc {
    display: inline-block;
    vertical-align: middle;
  }

  .icon-desc {
    color: #161616;
    font-size: 14px;
    font-weight: $light;
    width: 300px;
  }
}

.grade-level-key {
  width: 226px;

  .grade-level-bar {
    margin-top: 2px;
  }

  .grade-level-1 {
    margin-top: 0;
  }
}

.subject-key {
  margin-right: 0;
  width: 330px;
  
  .subject {
    display: inline-block;
    width: 50%;

    &.first, &.second {
      margin-bottom: 6px;
    }
  }

  .subject-icon, .subject-name {
    display: inline-block;
    vertical-align: middle;
  }

  .subject-name {
    color: #161616;
    font-size: 14px;
    overflow: visible;
    width: 76px;
  }

  .subject-icon {
    height: 50px;
    width: 50px;
  }
}

.key-tooltip {
  @include standard-link
}

.ui-tooltip, .arrow:after {
  background: $white;
  box-shadow: 0 0 5px #aaa;
}

.ui-tooltip {
  font-family: $open-sans;
  max-width: 1000px; // override default jquery

  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;

    &:after {
      content: "";
      position: absolute;
      left: 20px;
      top: -20px;
      width: 25px;
      height: 25px;
      box-shadow: 0 0 5px 2px #aaa;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.top {
      top: -16px;
      bottom: auto;
      
      &:after {
        bottom: -20px;
        top: auto;
      }
    }
  }

  .category-key {
    margin: 0;
  }
}

.pdf-button-small {
  border: solid 1px #979797;
  clear: both;
  color: #262626;
  cursor: pointer;
  display: none;
  float: left;
  font-size: 14px;
  font-weight: $semibold;
  height: 27px;
  line-height: 27px;
  margin: 7px 0 11px 0;
  text-align: center;
  width: 55px;
}


$featured-trans-width: 890;
@media screen and (max-width: $featured-trans-width * 1px) {
  .featured-lesson-plans {
    $container-width: 463;
    margin: 0 auto;
    width: 463px;

    .featured-lesson-plan {
      margin: 13px 13px 0 0;
      width: 225px;

      &.second, &.fourth {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: $head-trans-width * 1px) {
  .featured-lesson-plans {
    $container-width: 305px;
    margin: 0 auto;
    width: 305px;

    .featured-lesson-plan {
      margin: 5px 5px 0 0;
      width: 150px;

      .top-bar {
        font-weight: normal;
        height: 22px;
        line-height: 22px;
        padding-left: 7px;
      }

      .icons {
        font-size: 16px;
        margin-right: 2px;
        padding-top: 2px;
      }

      &.second, &.fourth {
        margin-right: 0;
      }

      .text-overlay {
        font-size: 12px;
        font-weight: $semibold;
        height: 27px;
        line-height: 27px;
        padding-left: 7px;
      }
    }
  }

  .lesson-plan-title {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .lesson-plan-desc, .lesson-plan-objectives {
    font-size: 10px;
  }

  .lesson-plan-icon {
    height: 84px;
    width: 84px;
  }

  .lesson-plan .left-wrap {
    padding-right: 2%;
  }
}

@media screen and (max-width: 350px) {
  .icon-key {
    height: 80px;
    width: 310px;

    .icon {
      font-size: 18px;
      margin-right: 10px
    }

    .icon-desc {
      font-size: 12px;
      width: 270px;
    }
  }
}

@media screen and (max-width: 320px) {
  .lesson-plan {
    $icon-size: 55px;
    min-height: $icon-size;

    .pdf-button-small {
      display: block;
    }

    .icon-list {
      clear: both;
      width: $icon-size;
    }

    .lesson-plan-icon {
      height: $icon-size;
      width: $icon-size;
    }

    .pdf-button {
      display: none;
    }

    .icon-list, .lesson-plan-icon, .pdf-button-small {
      margin-right: 9px;
    }
  }
}
