@import "shared/layout_vars";

$grade-level-gold: #ccb545;
$grade-level-blue: #3cb4e0;
$grade-level-purple: #a366be;

$flp-margin: 13;
$flp-width: 225;

$lesson-plan-icon-size: 140px;
$lesson-plan-icon-size-sm: 113px;

.grade-level-1 {
  background: $grade-level-gold;
}

.grade-level-2 {
  background: $grade-level-blue;
}

.grade-level-3 {
  background: $grade-level-purple;
}

.featured-lesson-plans {
  margin-top: percentage(15 / $main-col-width);
}

.featured-lesson-plan {
  $text-padding-left: 15px;
  $margin-pct: percentage($flp-margin / $main-col-width);
  display: inline-block;
  margin: $margin-pct $margin-pct 0 0;
  position: relative;
  width: percentage($flp-width / $main-col-width);

  .top-bar {
    color: $white;
    font-size: 14px;
    font-weight: $bold;
    height: 34px;
    line-height: 34px;
    padding-left: $text-padding-left;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .image-wrap {
    position: relative;
  }

  .image {
    vertical-align: top;
    width: 100%;
  }

  .text-overlay {
    background-color: rgba(20, 20, 20, 0.74);
    bottom: 0;
    color: $white;
    font-size: 16px;
    font-weight: $bold;
    height: 40px;
    left: 0;
    line-height: 40px;
    padding-left: $text-padding-left;
    position: absolute;
    width: 100%;
  }

  &.fourth {
    margin-right: 0;
  }
}

.all-lesson-plans {
  .grade-level {
    clear: both;
    margin-top: 10px;
  }

  .grade-level-bar {
    color: $white;
    cursor: pointer;
    font-size: 18px;
    font-weight: $bold;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.lesson-plan-list {
  display: none;
}

.lesson-plan {
  clear: both;
  margin-top: 8px;
  min-height: $lesson-plan-icon-size;
}

.lesson-plan-icon {
  float: left;
  margin-right: 12px;
  height: $lesson-plan-icon-size;
  vertical-align: top;
}

.lesson-plan-text {
  vertical-align: top;
}

.lesson-plan-title {
  color: #2f2f2f;
  font-weight: $bold;
}

.lesson-plan-desc {
  color: #1f1f1f;
  font-size: 13px;
  margin-top: 12px;

  &.first {
    margin-top: 5px;
  }

  &.objectives {
    overflow: hidden;
  }
}

.objective-list {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 28px;
}

$flp-trans-width: 463;
@media screen and (max-width: $flp-trans-width * 1px) {
  .featured-lesson-plan {
    $margin-pct: percentage($flp-margin / $flp-trans-width);
    margin: $margin-pct $margin-pct 0 0;
    width: percentage($flp-width / $flp-trans-width);

    &.second {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .lesson-plan {
    min-height: $lesson-plan-icon-size-sm;
  }

  .lesson-plan-icon {
    height: $lesson-plan-icon-size-sm;
    width: $lesson-plan-icon-size-sm;
  }

  .lesson-plan-title {
    font-size: 14px;
  }
}
