@import "shared/layout_vars.scss";

.navbar-outer {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbar {
  background: $white;
  border-bottom: 1px solid $background-gray;
  height: $topbar-row-height;
  line-height: $topbar-row-height;
  margin: 0 auto;
  max-width: $page-width-px * 1px; 
  position: relative;
}

.navbar-top {
  z-index: 2;
}

.navbar-inner {
  height: 100%;
  max-width: $main-col-width * 1px;
  margin: 0 auto;
  position: relative;
}

.title {
  $font-size-px: 12;
  color: $nav-green;
  margin: 0;
  font-size: $font-size-px / $em * 1em;
  font-weight: $semibold;
  line-height: $topbar-row-height;
  text-align: center;
}

.nav-menu {
  cursor: pointer;
  float: left;
}

.nav-menu-eol {
  background: $white;
  color: $eol-green;
  height: $topbar-row-height - 1px; // for some reason, needed to not overlap border of parent
  padding: 0 10px;
  position: relative;
  width: 85px;

  & > a {
    color: $eol-green;
  }

  &:hover > ul {
    display: block;
  }
}

.eol-logo {
  height: 20px;   
  margin-right: 5px;
  vertical-align: middle;
}

.nav-menu-caret {
  color: inherit;
  vertical-align: middle;
}

.nav-menu-caret-lang {
  position: absolute;
  right: 13px;
  top: 8px;
}

.lang-menu {
  $height: 29px;
  background: $white;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(186, 186, 186, 0.5);
  font-size: 14px;
  line-height: $height;
  position: relative;
  user-select: none;

  & > .lang-item-choice {
    display: none;
  }

  &.is-lang-menu-open {
    & > .lang-item-choice {
      display: block;
    }

    & .nav-menu-caret-down {
      display: none;
    }

    & .nav-menu-caret-up {
      display: block;
    }
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
    width: 100%;
  }

  & .nav-menu-caret-down {
    display: block;
  }

  & .nav-menu-caret-up {
    display: none;
  }
}

.lang-menu-nav {
  margin-left: 7px;
  top: 5px;
  width: 160px;
}

.lang-item {
  padding: 0 13px;
}

.lang-item-choice:hover {
  background: $txt-gray; 
  color: $white;
}

.nav-user {
  float: right;
  padding-right: 5px;
  position: relative;
}

.nav-link {
  text-decoration: none;
}

.nav-link-account {
  color: $nav-link-blue;
  font-size: 13px;
  font-weight: $semibold;
}

.nav-link-sign-out {
  color: $nav-link-gray;
  font-size: 12px;
  margin-left: 8px;
}


.nav-menu-eol {
  left: 0;
  top: 0;
}

.nav-menu-user {
  right: 0;
  top: 0;

  & a {
    color: $white;
    height: 100%;
    text-decoration: none;
    width: 100%;
  }
}

.eol-dropdown {
  $eol-link-padding-px: 13;
  $font-size-px: 14;

  display: none;
  width: 220%;
  text-align: left;
  top: $topbar-row-height;
  left: 0;
  position: absolute;

  .eol-link {
    $height-em: 37 / $em;
    background: $background-gray;
    height: 37px;
    line-height: 37px;
    padding-left: $eol-link-padding-px * 1px;

    a {
      color: $eol-link-color;
      text-decoration: none;
    }
  }
}

.eol-link.selected {
  background: $eol-link-selected-bg-color;

  a {
    color: $white;
  }
}

.nav-user-menu-toggle {
  cursor: pointer;
  display: none;

  & > .fa-chevron-up {
    display: none;
  }

  &.is-nav-user-menu-open > .fa-chevron-up {
    display: inline;
  }

  &.is-nav-user-menu-open > .fa-chevron-down {
    display: none;
  }
}

.nav-user-menu, .nav-user-menu-lang-menu {
  & > li {
    border-top: 1px solid $black;
    cursor: pointer;
    overflow: hidden;
    padding: 0 5px 0 10px;
    white-space: nowrap;

    & > a {
      display: block;
      height: 100%;
      text-decoration: none;
      width: 100%;
    }
  }
}

.nav-user-menu {
  background: $navbar-gray;
  display: none;

  position: absolute;
  right: 0;
  width: 180px;

  & > li {
    border-top: 1px solid $black;

    & > a {
      color: $black;
    }
  }
}

.nav-user-menu-lang-menu {
  background: $white;
  overflow: hidden;
  height: 0;

  & > li {
    & > a {
      color: $txt-gray;
    }
  }
}

.slide-menu {
  background: $navbar-gray;
  box-sizing: border-box;
  height: 100%;
  padding: 10px 10px 0 10px;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
}

.lang-menu-slide {
  display: block;
  float: none;
  width: 280px;
}

.user-links-slide {
  margin-bottom: 20px;
  text-align: center;
}

.nav-lnks {
  display: flex;
  justify-content: space-evenly;
}

.nav-lnks-mob {
  display: block;
}

.nav-lnk {
  color: $nav-green;
  cursor: default;
  height: $topbar-row-height;
  line-height: $topbar-row-height;
  padding: 0 12px;
  position: relative;

  & a {
    color: #74a561;
    cursor: pointer;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
  }

  &:hover {
    .nav-lnk-txt, .nav-lnk-txt > a {
      color: $eol-blue;
    }

    .nav-lnk-txt > a {
      text-decoration: underline;
    }
  }
}

.nav-lnk-menu {
  background: $white;
  border: 1px solid $background-gray;
  color: $black;
  display: none;
  line-height: 62px;
  position: absolute;
  text-align: center;
  top: $topbar-row-height - 1px;
  z-index: 2;

  & > li {
    border-top: 1px solid $background-gray;
    padding: 0 8px;

    & > a {
      color: $black;
      text-decoration: none;
    }

    &:hover, &:hover > a {
      text-decoration: underline;
    }
  }
}

  .nav-lnk:hover .nav-lnk-menu {
    display: block;
  }
  
  .nav-lnk-menu-lesson {
    left: 50%;
    margin-left: -100px;
    width: 200px;
  }

  .nav-lnk-menu-partner {
    right: 0;
    width: 400px;
  }

  .nav-lnk-menu-cards {
    left: 0;
    width: 200px;
  }

.nav-lnk-menu-mob {
  padding-left: 14px;
}

.nav-lnks-mob {
  padding-top: 10px;
}

.nav-lnk-mob, 
.nav-lnk-mob a, 
.nav-lnk-menu-mob > li, 
.nav-lnk-menu-mob > li > a {
  color: $black;
  font-size: 14px;
  font-weight: $semibold;
  margin: 14px 0;
  text-decoration: none;
}

.nav-lnk-mob .nav-lnk-txt > a, 
.nav-lnk-menu-mob > li > a {
  text-decoration: underline;
}

@media screen and (max-width: $nav-mobile-width) {
  .nav-user-menu {
    display: block;
  }

  .nav-user-menu-toggle {
    display: block;
  }

  .user-links-nav {
    display: none;
  } 

  .lang-menu-nav {
    display: none;
  }

  .home-lnk > i{
    display: none;
  }

  .nav-menu-eol {
    width: 70px;

    &:hover .eol-dropdown {
      display: none;
    }
  }

  .navbar-bottom {
    display: none;
  }
}

