@import 'shared/layout_vars';

$left-col-width: 72px;
$close-btn-width: 43px;
$ctrl-bar-height: 54px;
$txt-blue: #4a97ca;

.lPodLeft {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: $left-col-width;

  & > img {
    display: block;
    height: $left-col-width;
    width: $left-col-width; 
  }
}

.lPodRight {
  font-size: 12px;
  margin-left: $left-col-width;
  padding: 6px 16px;
  vertical-align: top;
}

.pod {
  background: $white;
  margin-top: 1px;
  min-height: 134px;
  overflow: hidden;
  position: relative;
}

.podTitle {
  font-weight: $semibold;

  & > i {
    font-style: italic;
  }
}

.podPlayer {
  margin-top: 5px;
  max-width: 100%;
}

.podLinks {
  font-size: 11px;
  padding-left: 8px;

  & > li {
    margin-top: 3px;
  }

  & a {
    color: $nav-link-blue;
  }
}

.podCats {
  & > li {
    color: $nav-link-blue;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
  }
}

.ctrlBarOuter {
  position: fixed;
  height: $ctrl-bar-height;
  left: 0;
  line-height: $ctrl-bar-height;
  top: $topbar-height;
  width: 100%;
  z-index: 4;
}

.ctrlBar {
  background-color: #f3f9fb;
  color: $txt-blue;
  height: 100%;
  margin: 0 auto;
  max-width: $main-col-width-px;
  width: 100%;

  & > i {
    line-height: $ctrl-bar-height;
    margin-left: 17px;
    position: relative;
  }
}

.ctrlBarBtn {
  cursor: pointer;
}

.ctrlHdr {
  margin: 0 60px;
  text-align: center;
}

.closeBtn {
  background-color: #e2eaec;
  color: $black;
  cursor: pointer;
  float: left;
  text-align: center;
  width: $close-btn-width;
}

.catIcon {
  color: #b7d9ef;
  float: right;
  margin-right: 16px;
}

.catGrps {
  overflow: hidden;
  padding-top: 0;
}

.catGrpsSide {
  display: none;
  margin: 0 3px;
  vertical-align: top;
  width: 216px;
}

.catGrp {
  margin-top: 2px;
  width: 100%;
}

.catGrpName {
  $height: 46px;
  background: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: $semibold;
  height: $height;
  line-height: $height;
  position: relative;
  text-align: center;
  width: 100%;
}

.cats {
  background: #e4ecef;
  padding: 5px 0 10px 0;

  & > li {
    $height: 30px;
    cursor: pointer;
    height: $height;
    line-height: $height;
    text-align: center;
  }
}

.mainContent {
  padding-top: $ctrl-bar-height;
}

.mainContentCatBar {
  padding-top: $ctrl-bar-height * 2;
}

.search {
  border: none;
  border-radius: 22px;
  display: block;
  height: 40px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 7px;
  width: 70%;
}

.main {
  background: #b7d2d8;
  margin: 0 auto;
  max-width: $main-col-width-px;
  min-height: 500px;
  width: 100%;
}

.catBarOuter {
  position: fixed;
  top: $topbar-height-px * 1px + $ctrl-bar-height;
  height: $ctrl-bar-height;
  line-height: $ctrl-bar-height;
  width: 100%;
  z-index: 4;
}

.catBar {
  background: $white;
  color: $txt-blue;
  cursor: pointer;
  font-size: 18px;
  font-weight: $semibold;
  height: 100%;
  max-width: $main-col-width-px;
  position: relative;
  text-align: center;
  width: 100%;

  & > i {
    left: 22px;
    position: absolute;
    top: 8px;
  }
}

.sort {
  float: right;
  margin-right: 9px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  top: 5px;
  position: relative;
}

.sortLabel {
  margin-right: 5px;
}

.podLinksRight {
  display: none;
}

.catGrpAngle {
  position: absolute;
  right: 22px;
  top: 16px;
}

@media screen and (min-width: $main-col-width-px) {
  .podList {
    display: inline-block;
    height: 60vh;
    min-height: 470px;
    overflow: auto;
    width: 709px;
  }

  .pod {
    margin-top: 3px;
  }

  .catGrpsSide {
    display: inline-block;
  }

  .lPodLeft {
    $width: 127px;
    margin-right: 15px;
    width: 127px;

    & > img {
      height: $width;
      width: $width;
    }
  }

  .podTitle {
    display: inline;
    font-size: 18px;
    margin-right: 18px;
  }

  .podCats {
    display: inline;
  }

  .podLinksRight {
    bottom: 17px;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 10px;

    & > li {
      display: inline;
      margin-left: 5px;
    }
  }

  .podLinksLeft {
    display: none;
  }

  .podDesc {
    min-height: 34px;
  }

  .ctrlBarBtnCat {
    display: none;
  }

}
