@import 'shared/layout_vars';

$left-col-width: 72px;
$close-btn-width: 43px;
$ctrl-bar-height: 54px;

.lPodLeft {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: $left-col-width;

  & > img {
    display: block;
    height: $left-col-width;
    width: $left-col-width; 
  }
}

.lPodRight {
  font-size: 12px;
  margin-left: $left-col-width;
  padding: 6px 16px;
  vertical-align: top;
}

.pod {
  background: $white;
  min-height: 134px;
}

.podTitle {
  font-weight: $semibold;

  & > i {
    font-style: italic;
  }
}

.podPlayer {
  margin-top: 5px;
  max-width: 100%;
}

.podLinks {
  font-size: 11px;
  padding-left: 8px;

  & > li {
    margin-top: 3px;
  }

  & a {
    color: $nav-link-blue;
  }
}

.podCats {
  & > li {
    color: $nav-link-blue;
    display: inline-block;
    margin-right: 5px;
  }
}

.ctrlBar {
  position: fixed;
  height: $ctrl-bar-height;
  left: 0;
  line-height: $ctrl-bar-height;
  top: $topbar-height;
  width: 100%;
  z-index: 5;

  & > div {
    background-color: #f3f9fb;
    color: #4a97ca;
    margin: 0 auto;
    max-width: $main-col-width-px;
    width: 100%;

    & > i {
      line-height: $ctrl-bar-height;
      margin-left: 17px;
      position: relative;
    }
  }
}

.ctrlBarBtn {
  cursor: pointer;
}

.ctrlHdr {
  margin: 0 60px;
  text-align: center;
}

.closeBtn {
  background-color: #e2eaec;
  color: $black;
  cursor: pointer;
  float: left;
  text-align: center;
  width: $close-btn-width;
}

.catIcon {
  color: #b7d9ef;
  float: right;
  margin-right: 16px;
}

.catGrps {
  background: #557a82;
  overflow: hidden;
  padding-top: 0;
  min-height: 300px;
}

.catGrp {
  margin-top: 2px;
  width: 100%;
}

.catGrpName {
  $height: 46px;
  background: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: $semibold;
  height: $height;
  line-height: $height;
  text-align: center;
  width: 100%;
}

.cats {
  background: #e4ecef;
  padding: 5px 0 10px 0;

  & > li {
    $height: 30px;
    height: $height;
    line-height: $height;
    text-align: center;
  }
}

.mainContent {
  padding-top: $ctrl-bar-height;
}

.search {
  border: none;
  border-radius: 22px;
  display: block;
  height: 40px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 7px;
  width: 80%;
}

