@import 'shared/layout_vars';

$left-col-width: 72px;
$left-col-width-lg: 127px;
$close-btn-width: 43px;
$ctrl-bar-height: 54px;
$txt-blue: #4a97ca;

em { 
  font-style: italic;
}

.page {
  background-image: linear-gradient(to bottom, #cde2e7, #94bbca);
}

.lPodLeft {
  float: left;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: $left-col-width;
}

.podImg {
  cursor: pointer;
  display: block;
  height: $left-col-width;
  width: $left-col-width; 

  & > img {
    height: 100%;
    width: 100%;
  }

  & > div {
    background: rgba(.5, .5, .5, .5);
    align-items: center;
    color: $white;
    justify-content: center;
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    position: absolute;
  }

  &:hover > div {
    display: flex;
  }
}

.lPodRight {
  font-size: 12px;
  margin-left: $left-col-width;
  padding: 6px 16px;
  vertical-align: top;
}

.catDesc {
  background: $background-gray;
  font-size: 14px;
  padding: 20px;
}

.pod {
  background: $white;
  min-height: 134px;
  overflow: hidden;
  position: relative;
}

.podTitle {
  font-weight: $semibold;

}

.podPlayer {
  margin-top: 5px;
  max-width: 100%;
}

.podLinks {
  font-size: 11px;
  padding-left: 8px;

  & > li {
    margin-top: 3px;
  }

  & a {
    color: $nav-link-blue;
  }
}

.podCats {
  & > li {
    color: $nav-link-blue;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
  }
}

.ctrlBarOuter {
  height: $ctrl-bar-height;
  line-height: $ctrl-bar-height;
  width: 100%;
  z-index: 4;
}

.ctrlBarOuterFixed {
  position: fixed;
  left: 0;
  top: $topbar-height-px * 1px;
}

.ctrlBar {
  background-color: #f3f9fb;
  color: $txt-blue;
  height: 100%;
  margin: 0 auto;
  max-width: $main-col-width-px;
  width: 100%;

  & > i {
    line-height: $ctrl-bar-height;
    margin-left: 17px;
    position: relative;
  }
}

.ctrlBarBtn {
  cursor: pointer;
}

.ctrlHdr {
  margin: 0 60px;
  text-align: center;
}

.closeBtn {
  background-color: #e2eaec;
  color: $black;
  cursor: pointer;
  float: left;
  text-align: center;
  width: $close-btn-width;
}

.catIcon {
  color: #b7d9ef;
  float: right;
  margin-right: 16px;
}

.catGrps {
  overflow: hidden;
  padding: 0 0 3px 0;
}

.sidebar {
  display: none;
  width: 222px;
  vertical-align: top;
}

.catGrpsSide {
  padding: 0 3px;
  width: 222px;
}

.catGrpsSideFix {
  position: fixed;
  top: $ctrl-bar-height + $topbar-height-px * 1px;
}

.catGrpsSideFixTwoBars {
  top: $ctrl-bar-height * 2 + $topbar-height-px * 1px;
}

.catGrpsSideAbs {
  position: absolute;
  bottom: 0;
}

.catGrp {
  margin-top: 2px;
  width: 100%;
}

.catGrpIcon {
  left: 9px;
  position: absolute;
  top: 7px;
  width: 32px;
}

.catGrpName {
  $height: 46px;
  background: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: $semibold;
  height: $height;
  line-height: $height;
  position: relative;
  text-align: center;
  user-select: none;
  width: 100%;
}

.cats {
  background: #e4ecef;
  padding: 5px 0 10px 0;

  & > li {
    $height: 30px;
    cursor: pointer;
    height: $height;
    line-height: $height;
    text-align: center;
    user-select: none;
  }
}

.search {
  border: none;
  border-radius: 22px;
  display: block;
  height: 40px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 7px;
  width: 70%;
}

.main {
  background: #b7d2d8;
  margin: 0 auto;
  max-width: $main-col-width-px;
  width: 100%;
}

.pastBanner {
  position: relative;
}

.pastBannerOneBar {
  padding-top: $ctrl-bar-height;
}

.pastBannerTwoBars {
  padding-top: $ctrl-bar-height * 2;
}

.bars {
  width: 100%;
  z-index: 4;
}

.barsRel {
  position: relative;
}

.barsFix {
  position: fixed;
  left: 0;
  top: $topbar-height-px * 1px;
}

.barsAbs {
  position: absolute;
  left: 0;
  bottom: 0;
}

.catBarOuter {
  height: $ctrl-bar-height;
  line-height: $ctrl-bar-height;
  width: 100%;
  z-index: 3;
}

.catBarOuterFixed {
  position: fixed;
  top: $topbar-height-px * 1px + $ctrl-bar-height;
} 

.catBar {
  background: $white;
  color: $txt-blue;
  cursor: pointer;
  font-size: 18px;
  font-weight: $semibold;
  height: 100%;
  max-width: $main-col-width-px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;

  & > i {
    left: 22px;
    position: absolute;
    top: 8px;
  }
}

.catBarCatGrp {
  position: absolute; 
  right: 20px;
  top: 9px;

  & > img {
    height: 36px;
  }
}

.sort {
  float: right;
  margin-right: 9px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  top: 5px;
  position: relative;
}

.sortLabel {
  margin-right: 5px;
}

.podLinksRight {
  display: none;
}

.catGrpAngle {
  position: absolute;
  right: 22px;
  top: 16px;
}

.banner {
  background-image: url("images/podcasts/frog_banner.jpg");
  height: 119px;
  width: 100%;
}

.logo {
  background: $white;
  border-radius: 4px;
  margin: 0 auto;
  padding: 15px 0 10px 20px;
  position: relative;
  width: 217px;
  top: 30px;

  & > img {
    margin: 0 auto;
  }
}

.podList {
  & > li {
    margin-top: 1px;
  }
}

@media screen and (min-width: $main-col-width-px) {
  .podList {
    display: inline-block;
    width: 709px;
  }

  .pod {
    margin-top: 3px;
  }

  .sidebar {
    display: inline-block;
  }

  .lPodLeft {
    margin-right: 15px;
    width: $left-col-width-lg;
  }

  .podImg {
    height: $left-col-width-lg;
    width: $left-col-width-lg;
  }

  .podTitle {
    font-size: 18px;
  }

  .podLinksRight {
    bottom: 17px;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 10px;

    & > li {
      display: inline;
      margin-left: 5px;
    }
  }

  .podLinksLeft {
    display: none;
  }

  .ctrlBarBtnCat {
    display: none;
  }
}

.noResults {
  padding: 20px 10px;
  text-align: center;
}

.lightboxImg {
  margin-top: 20px;

  & > div {
    color: $white;
    text-align: center;
  }

  & > img {
    display: block;
    max-width: 100%; 
    margin: 0 auto;
  }
}

