/*
 *= require shared/basic_form
 *= require_self
 */

#Notice {
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  overflow: hidden;
  background: #b3ffe0;
}


.login-msg { margin-bottom: 12px; }
