@import "shared/layout_vars.scss";

$cards-red: #ca6262;
$lessons-green: #60b26a;
$podcasts-blue: #548fd1;
$partner-blue: #6f9fd2;

$min-mobile-width: 320; // The width of the 'mobile' designs in Zeplin, used to calculate percentage values.
$desc-width: 385px;
$desc-trans-width: 540px;
$section-head-height: px-to-rem(35);

// ------------ HOME ----------------
.home-section {
  overflow: hidden; 
}

.home-section-head {
  color: white;
  font-size: px-to-rem(18);
  font-weight: $bold;
  height: $section-head-height;
  line-height: $section-head-height;
  padding-right: 2%;
  text-align: right;
  width: 100%;
}

  .home-section-head-cards {
    background-color: $cards-red;
  }

  .home-section-head-lessons {
    background-color: $lessons-green;
  }

  .home-section-head-tourspods {
    background-color: $podcasts-blue;
    
    font-size: px-to-rem(12);
    line-height: normal;
    padding-top: px-to-rem(2);

    & > div {
      display: inline-block;
      width: px-to-rem(130);
    }
  }

.home-section-content {
  background-size: cover;
  display: block;
  position: relative;
  text-align: right;
  width: 100%;
}

  .home-section-content-cards {
    background-image: image_url("welcome/bg_cards.png");
  }

  .home-section-content-lessons {
    background-image: image_url("welcome/bg_lessons.png");
  }

  .home-section-content-tourspods {
    background-image: image_url("welcome/bg_podcasts.png");
  }


.home-section-img {
  left: 0;
  position: absolute;
  top: px-to-rem(-8);
  transform: rotate(6deg);
  width: 40%;
}

.home-section-desc {
  background: rgba(255, 255, 255, 0.79);
  font-size: px-to-rem(12);
  line-height: 1.68;
  padding: 5% 5% 5% 45%;
  //padding: 10px 14px 10px 167px;
  position: relative;
  text-align: left;
  width: 100%;

  & > p {
    margin: 0;
    text-align: left;
    width: 100%;
  }
}

.home-section-taxon {
  display: none;
}

.home-section-taxon-name > em {
  font-style: italic;
}

.home-section-btns {
  background-color: rgba(233, 240, 239, 0.69); 
  backdrop-filter: blur(1.1px);
  display: flex; 
  justify-content: space-around;
  padding: px-to-rem(8);

  & > li {
    $height: px-to-rem(32);
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(177, 177, 177, 0.5);
    font-size: px-to-rem(12);
    height: $height;
    line-height: $height;
    text-align: center;
    width: px-to-rem(90);
    z-index: 2;

    & > a {
      color: $eol-blue; 
      display: block;
      height: 100%;
      text-decoration: none;
      width: 100%;

      &:hover {
        text-decoration: underline; 
      }
    }
  }
}

.home-section-btns-desc {
  display: none;
  padding: 0;
}

.partner-head {
  $height: px-to-rem(50);
  background-color: $partner-blue;
  color: $white;
  font-size: px-to-rem(20);
  font-weight: $semibold;
  height: $height;
  line-height: $height;
  margin: 0;
  text-align: center;
  width: 100%;
}

.partner-section-head {
  color: $black;
  font-size: px-to-rem(18);
  font-weight: $semibold;
  height: px-to-rem(70);
  padding: px-to-rem(11) px-to-rem(18);
  position: relative;
}

.partner-section-head-text {
  align-items: center;
  display: flex;
  height: px-to-rem(45);
}

.partner-section-head-icon {
  height: px-to-rem(60);
  position: absolute;
  right: px-to-rem(18);
  top: px-to-rem(5)
}

.partner-section-content {
  align-items: center;
  background-size: cover;
  color: $black;
  display: flex;
  height: px-to-rem(170);
  justify-content: center;
}

  .partner-section-content-cnc {
    background-image: image_url("welcome/bg_cnc.png");
  }

  .partner-section-content-bhl {
    background-image: image_url("welcome/bg_bhl.png");
  }

  .partner-section-content-inat {
    background-image: image_url("welcome/bg_inat.png");
  }

.partner-section-desc {
  background-color: rgba(255, 255, 255, 0.79);
  line-height: 1.68;
  margin: 0 auto;
  padding: px-to-rem(10) px-to-rem(18);
  max-width: 67%;
}

@media only screen and (min-width: 500px) {
  .home-section-head-tourspods {
    font-size: px-to-rem(18);
    line-height: $section-head-height;
    padding-top: 0;

    & > div {
      width: 100%;
    }
  }
}


@media only screen and (min-width: $tablet-width) {
  .home-section-content {
    height: px-to-rem(175);
  }

  .home-section-desc {
    border-radius: 0 0 4px 4px;
    display: inline-block;
    min-height: 0;
    padding: px-to-rem(12) px-to-rem(22);
    width: 68%;
  }

  .home-section-btns-desc {
    background: none;
    display: flex;
    margin-top: 12px;
  }

  .home-section-btns-bottom {
    display: none;
  }

  .home-section-head {
    & > div {
      display: inline-block;
      text-align: left;
      padding-left: 2%;
      width: 68%;
    }
  }

  .home-section-head, .home-section-content {
    padding-right: 3%;
  }

  .home-section-img {
    left: 4%;
    position: absolute;
    top: px-to-rem(-10);
    transform: rotate(-8deg);
    width: 25%;
  }

  .home-section-taxon {
    background-color: rgba(#242424, 0.68);
    bottom: 0;
    color: $white;
    display: block;
    padding: px-to-rem(6) px-to-rem(12);
    position: absolute;
    text-align: right;
    width: 100%;

    & > a {
      color:  #b8d7ff;
    }
  }
}

@media only screen and (min-width: 870px) {
  .partner-section {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
  }

  .partner-section-head {
    border-right: 1px solid #ddd;
    font-size: px-to-rem(14);
  }

  .partner-section-content {
    height: px-to-rem(220);
  }
}

/*
@media only screen and (min-width: $full-width) {
  .home-section-head {
    $height: 60px;
    height: $height;
    line-height: $height;
    font-size: 22px;
  }

  .home-section-content {
    height: 202px;
  }

  .home-section-desc {
    font-size: 14px;
    padding: 20px 30px;
    width: 430px;
  }

  .home-section-btns > li {
    font-size: 14px;
    width: 110px;
  }

  .home-section-taxon {
    font-size: 14px;
    padding: 8px 20px;
  }

  .partner-head {
    $height: 80px;
    font-size: 24px;
    height: $height;
    line-height: $height;
  }

  .partner-section-content {
    height: 270px;
  }

  .partner-section-desc {
    font-size: 14px;
  }
}
*/

// ---------  ABOUT  ------------
.about-box {
  margin-top: percentage(37 / $main-col-width);
}

.about-hdr {
  $pad: percentage(4 / $main-col-width);
  background-color: #a9ba30;
  border-radius: 11px 11px 0 0;
  color: $white;
  font-size: 24 / $em * 1em;
  font-weight: $semibold;
  padding: $pad;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.49);
}

.about-content {
  $hpad: percentage(70 / $main-col-width);
  $bpad: percentage(38 / $main-col-width);
  background-color: #f4f4f4;
  border-radius: 0 0 11px 11px;
  height: 100%;
  padding: 0 $hpad $bpad $hpad;
  text-align: center;

  .about-p {
    font-size: 14 / $em * 1em;
    font-weight: $light;
    padding-top: 20 / $em * 1em;
  }
}

.team-head {
  border-bottom: 1px solid $section-border-gray;
  margin: percentage(62 / $main-col-width) 0 0 0;
}

.team-head-title {
  font-size: 20 / $em * 1em;
  font-weight: $semibold;
}

.team-head-content {
  $tpad: percentage(5 / $main-col-width);
  $bpad: percentage(12 / $main-col-width);
  color: #161616;
  font-size: 14 / $em * 1em;
  padding: $tpad 0 $bpad 0;
}

.bio {
  display: flex;
  margin-top: percentage(42 / $main-col-width);
}

$bio-img-width-px: 127;
$bio-img-rmargin-px: 26;
$bio-img-outer-width-px: $bio-img-width-px + $bio-img-rmargin-px;
.bio-img {
  margin-right: percentage($bio-img-rmargin-px / $main-col-width);
  width: $bio-img-width-px * 1px;
  height: $bio-img-width-px * 1px;
  vertical-align: top;
}

.bio-content {
  $width-px: $main-col-width - $bio-img-outer-width-px;
  flex: 1;
}

.bio-head {
  font-size: 18 / $em * 1em;
  font-weight: $semibold;
}

.bio-title {
  display: inline-block;
  font-style: italic;
}

.bio-txt {
  font-size: 14 / $em * 1em;
  line-height: 1.6;
  margin-top: 4 / $em * 1em;
}

@media screen and (max-width: 525px) {
  .team-head-title {
    font-size: 16px;
  }

  .bio-head {
    font-size: 14px;
  }

  .team-head-content, .bio-txt {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .bio-img {
    height: 85px;
    width: 85px;
  }
}
