@import "layout_vars.scss";

$background-width: 1400px;
$background-url: image-url('welcome/sample_background.png');
$col-width: 890px;
$color-bar-height: 8px;
$content-height: 1670px;
$header-height: 150px;
$logo-padding-top: 40px;
$link-blue: #126e94;
$navbar-height: 37px;

$open-sans: 'Open Sans', sans-serif;

$white: #fff;
$black: #000;
$background-gray: #f4f4f4;
$eol-link-color: #2e303d;
$eol-link-selected-bg-color: #a9ba30;
$eol-green: #a9ba30; 
$about-link-gray: #c6c6c6;
$section-border-gray: #979797;
$section-title-gray: #3e3e3e;
$section-intro-gray: #161616;
$nav-overlay-gray: #333;

$section-v-margin: 54;
$section-v-margin-pct: percentage($section-v-margin / $main-col-width);
$single-width-px: 305;
$double-width-px: 622;
$nav-img-height: 305;


@function nav-img-url($img-name) {
  @return image-url("welcome/nav/" + $img-name + ".jpg")
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body, p {
  font: normal 100% $open-sans;
}

#Page {
  max-width: $page-width;
  margin: 0 auto;
}

.main-col, .topbar-inner, .slide-overlay {
  margin: 0 auto;
  max-width: $main-col-width / $em * 1em;
  min-width: 320 / $em * 1em;
  padding: 0 percentage($main-col-padding / ($main-col-width + 2 * $main-col-padding));
}

.topbar-inner {
  height: 100%;
  position: relative;
}

.topbar {
  background: $black;
  color: $white;
  height: $topbar-height;
}

.left {
  float: left;
}

.right {
  float: right; 
}

.nav-link {
  cursor: pointer;
  position: absolute;
  height: 100%;
  text-decoration: none;
  width: 120 / $em * 1em;
}

//.nav-link:hover {
//  background: #c6c6c6;
//}

.eol-nav {
  left: 0;
  top: 0;
  height: $topbar-height;

  &:hover .eol-dropdown {
    display: block;
  }
}

.eol-dropdown {
  $eol-link-padding-px: 13;
  $font-size-px: 14;

  display: none;
  position: absolute;
  font-size: $font-size-px / $em * 1em;
  font-weight: $semibold;
  width: 170 / $font-size-px * 1em;
  top: $topbar-height-px / $font-size-px * 1em;
  left: 0;
  z-index: 2;

  .eol-link {
    $height-em: 37 / $em;
    background: $background-gray;
    height: $height-em * 1em;
    line-height: $height-em;
    padding-left: $eol-link-padding-px / $font-size-px * 1em;

    a {
      color: $eol-link-color;
      text-decoration: none;
    }
  }
}


.eol-link.selected {
  background: $eol-link-selected-bg-color;

  a {
    color: $white;
  }
}

.eol-logo {
  $height-em: 19 / $em;
  position: absolute; 
  height: $height-em * 1em;
  line-height: $height-em;
  left: 38 / $em * 1em;
  top: 8 / $em * 1em;
}

.about {
  $font-size-px: 14;
  color: $about-link-gray;
  font-size: 14 / $em * 1em;
  font-weight: $semibold;
  right: 0;
  top: 0;
  line-height: $topbar-height-px / $font-size-px;
  text-align: center;
}

.title {
  $font-size-px: 20;
  margin: 0;   
  font-size: $font-size-px / $em * 1em;
  font-weight: $semibold;
  line-height: $topbar-height-px / $font-size-px * 1em;
  text-align: center;
}

.title-plus {
  color: $eol-green;
}

.hero-image {
  max-width: 100%;
  max-height: (385px / $unit-px) + em;
  overflow: hidden;
  z-index: 1;
}

.slide {
  position: relative;
}

.image {
  max-width: 100%;
  vertical-align: bottom;
}

.slideshow-img {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(https://placekitten.com/1439/349);
  background-size: cover;
  background-position: center;
  padding-top: 349 / $em * 1em;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  z-index: 1;
}

.slideshow-shim {
  $width: $main-col-width + 2 * $main-col-padding;

  position: relative;
  background-position: center;
  margin: 0 auto;
  max-width: $width * 1px;
  z-index: 2;

  .slideshow-shim-inner {
    margin: 0 auto;
    padding-top: percentage(349 / $width);
    width: 100%;
    background-image: url(https://placekitten.com/1439/349);
    background-size: cover;
    background-position: center;
  }
}


.slide-overlay-wrap {
  background-color: rgba(20, 20, 20, 0.49);
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}

.slide-overlay {
  max-width: $main-col-width / $em * 1em;
}

.slide-overlay-inner {
  color: $white;
  font-family: $open-sans;
  font-weight: $semibold;
  height: 100%;
  padding: percentage(12 / $main-col-width) 0 percentage(47 / $main-col-width) 0;
}

.slide-head-grp {
  $font-size: 20;
  font-size: $font-size / $em * 1em;

  .slide-title, .slide-subtitle {
    display: inline-block;
  }

  .slide-title {
    margin-right: 13 / $font-size * 1em;
  }
}

.slide-desc {
  margin-top: 3 / $em * 1em;
}

.slide-subtitle {
  font-style: italic;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 0;
  padding-bottom: 10px;

  li {
    margin: 0 12px;

    button:before {
      color: rgba(215, 215, 215, 0.19);
      font-size: 15px; // Ususally, we'd use em, but this is a hack to work around slick.
      opacity: 1;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #979797;
    }

    &.slick-active {
      button:before {
          opacity: 1;
          color: $white;
          -webkit-text-stroke-color: $white;
      }
    }
  }
}

.welcome-box {
  text-align: center;
  width: 100%;
  margin-top: percentage(37 / $main-col-width);

  a {
    color: $link-blue; 
    font-weight: $semibold;
    text-decoration: none;
  }
} 

.welcome-content {
  padding-top: 11 / $em * 1em;
}

.welcome-hdr {
  $font-size: 18;
  border-bottom: solid 1px #979797;
  font-size: $font-size / $em * 1em;
  font-weight: $semibold;
  line-height: 40 / $font-size;
}

.welcome-p {
  $font-size: 14;
  font-size: $font-size / $em * 1em; 
  line-height: 1.7;
  padding: 0 percentage(85 / $main-col-width);

  &.hidden {
    display: none;
  }
}

.welcome-more-bar {
  $height: 23 / $em * 1em;
  background-image: radial-gradient(circle at 50% 0, #b3c81d, #cfdd6d);
  border-radius: 0 0 11px 11px;
  height: $height;
  line-height: $height;

  font-size: 14 / $em * 1em;
  font-weight: $semibold;
  text-align: center;
  color: #6f6f6f;
}

.section-head {
  border-bottom: 1px solid $section-border-gray;
  margin: $section-v-margin-pct 0 0 0; // 66, (50 - 12 = 38) / 1179
}

.section-head-top {
  margin-top: percentage(45 / $main-col-width);
}

.section-title {
  color: $section-title-gray;
  font-size: 1.5em;
  font-weight: $semibold;  
  margin-bottom: percentage(5 / $main-col-width);
}

.section-intro {
  color: $section-intro-gray;
  font-weight: $light;
  margin: 1.4419% 0;
}

.nav-items {
  $bar-padding-left: 30;

  position: relative;
  width: 100%;

  a, a:visited {
    text-decoration: none;
  }

  .img-wrap {
    position: relative;
  }

  .nav-img {
    max-width: 100%;
    vertical-align: bottom;
  }

  .nav-overlay {
    color: $white;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.74);
    font-size: 1em;
    font-weight: $semibold;
  }

  .nav-item {
    $margin: percentage(12 / $main-col-width);
    cursor: pointer;
    display: inline-block;
    margin: $margin $margin 0 0; 
    position: relative;
    vertical-align: top;

    &:hover .nav-overlay {
      display: block;
    } 

    .img {
      background-size: cover;
      background-position: center;
    }
  }


  .double-width {
    $padding-left: percentage($bar-padding-left / $double-width-px);

    width: percentage($double-width-px / $main-col-width);

    .bar {
      padding-left: $padding-left;
      width: 100% - $padding-left;
    }

    .img {
      padding-top: percentage($nav-img-height / $double-width-px);
    }
  }

  .single-width {
    $padding-left: percentage($bar-padding-left / $single-width-px);
    width: percentage($single-width-px / $main-col-width);

    .bar {
      padding-left: $padding-left;
      width: 100% - $padding-left;
    }

    .img {
      padding-top: 100%;
    }
  }

  .bar {
    $padding-t-b: 8 / $em * 1em;;
    background: rgba($black, .8);
    color: $white;
    font-size: 1em;
    font-weight: $bold;
    line-height: 1.5em;
    padding-bottom: $padding-t-b;
    padding-top: $padding-t-b;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .memory-games .img {
    background-image: nav-img-url("memory_game");
  }

  .ecosystems .img {
    background-image: nav-img-url("eol_places");
  }

  .lesson-plans .img {
    background-image: nav-img-url("lesson_plans");
  }

  .species-cards .img {
    background-image: nav-img-url("species_cards");
  }

  .biodiv-articles .img {
    background-image: nav-img-url("biodiversity_articles");
  }

  .podcasts .img {
    background-image: nav-img-url("podcasts");
  }

  .google-tours .img {
    background-image: nav-img-url("google_tours");
  }

  .collections .img {
    background-image: nav-img-url("collections");
  }

  .hi-res-images .img {
    background-image: nav-img-url("hi_res_images");
  }

  .inaturalist .img {
    background-image: nav-img-url("inaturalist");
  }

  .coloring-books .img {
    background-image: nav-img-url("bhl_coloring");
  }

  .ecosystems,
  .species-cards,
  .google-tours,
  .hi-res-images,
  .coloring-books {
    margin-right: 0;
  }
}

@media screen and (max-width: 646px) {
  $new-main-col-width: 622;

  .main-col, .topbar-inner, .slide-overlay {
    padding: 0 percentage($main-col-padding / ($new-main-col-width + 2 * $main-col-padding));
  }

  .nav-items {
    $margin-px: 12;
    $width-px: ($new-main-col-width - $margin-px) / 2;

    .single-width, .double-width {
      $width: percentage($width-px / $new-main-col-width);
      $margin: percentage($margin-px / $new-main-col-width);
      width: $width;
      margin: $margin $margin 0 0;
    }

    .nav-item .img {
      padding-top: 100%; // All images are now perfect squares
    }

    .ecosystems .img {
      background-image: nav-img-url("eol_places_single");
    }

    .lesson-plans .img {
      background-image: nav-img-url("lesson_plans_single");
    }

    .google-tours .img {
      background-image: nav-img-url("google_tours_single");
    }

    .inaturalist .img {
      background-image: nav-img-url("inaturalist_single");
    }

    .ecosystems,
    .species-cards,
    .google-tours,
    .collections,
    .coloring-books {
      margin-right: 0;
    }

    .bar {
      padding: 2.597402597% 0 2.597402597% 15.584415584%; // 60 / 385
      width: 84.415584416%;
    }
  }
}


// ---------  ABOUT  ------------
.about-box {
  background: $background-gray;
  height: 100%;
  margin: $section-v-margin-pct 0 0 0;
  padding: 2.544529262087% 8.142493638677%; // 30px 96px (/1179)
  text-align: center;
  width: 83.7150127226%;

  a {
    color: $link-blue; 
    font-weight: $semibold;
    text-decoration: none;
  }
}

//@mixin bg-layer {
//  z-index: 1;
//}
//
//@mixin content-layer {
//  z-index: 2;
//}
//
//// RESET RULES
//body, p { 
//  font-family: $open-sans;
//}
//
//a, 
//a:visited, 
//a:hover {
//  background: transparent;
//  text-decoration: none;
//}
//
//input[type="submit"] {
//  border: 0;
//}
//
//h1, 
//h2, 
//h3 {
//  font-weight: normal;
//  margin: 0;
//}
//
//// GENERIC CLASSES
//
//.txt-wht, 
//.txt-wht a, 
//.txt-wht a:visited, 
//.txt-wht a:hover, 
//.txt-wht input[type="submit"] {
//  color: #fff;
//  font-family: "Open Sans", sans-serif;
//  text-shadow: 0 1px 4px #000;
//}
//
//
///* MISC GLOBAL RULES */
//%bg {
//  @include bg-layer;
//  background: $background-url no-repeat center top;
//  background-size: $background-width;
//}
//
//%bg-abs {
//  @extend %bg;
//  left: 0;
//  position: absolute;
//  top: 0;
//}
//
//.bg {
//  &--main {
//    @extend %bg;
//  }
//
//  &--hdr {
//    @extend %bg-abs;
//    bottom: 0;
//    height: $topbar-height + $header-height;
//    right: 0;
//    
//    -webkit-filter: blur(8px);
//    filter: blur(8px);
//  }
//
//  &--blur {
//    @extend %bg-abs;
//
//    -webkit-filter: blur(10px); 
//    filter: blur(10px); 
//
//    width: 100%;
//  }
//}
//
//.content-grp {
//  @include content-layer;
//  position: relative;
//}
//
///* HEADER */
//.header {
////  z-index: 2;
//}
//
//.left {
//  display: block;
//  float: left;
//}
//
//.right {
//  display: block;
//  float: right;
//}
//
//%btn {
//  color: #FFF;
//  border-radius: 1px;
//  cursor: pointer;
//}
//
//.btn {
//  &--small {
//    @extend %btn;
//    font-size: 13px;
//    line-height: 27px;
//    padding: 0 26px;
//  }
//
//  &--full {
//    @extend %btn;
//    font-size: 18px;
//    height: 44px;
//    line-height: 44px;
//    padding: 0;
//    width: 100%;
//  }
//}
//
//.blue {
//  background: #34ABFE;
//}
//
//.green {
//  background: #6BBF26;
//}
//
//.topbar { 
//  $topbar-padding: 4px;
//  background-color: rgba(12, 47, 57, .38); 
//  height: $topbar-height - $topbar-padding; 
//  padding-top: $topbar-padding;
//}
//
//.header { 
//  background-color: rgba(#5B92A8, .44);
//  height: $header-height;
//}
//
//.logo-pad {
//  padding-top: $logo-padding-top;
//}
//
//.txt-center {
//  text-align: center;
//}
//
//.logo-main {
//  font-family: $hdr-font;
//  font-size: 36px;  
//  line-height: 31px;
//  margin-bottom: 12px; 
//}
//
//.txt-grn {
//  color: #C0D62F;
//  text-shadow: 0 2px 4px #000;
//}
//
//.logo-sub {
//  font-size: 24px;
//}
//
//.ib-list {
//  font-size: 0; // hack to remove space between inline-block elements
//  height: 100%;
//  list-style: none;
//  margin: 0;
//  overflow: hidden;
//  padding: 0;
//
//  li {
//    cursor: pointer;
//    display: inline-block;
//    height: 100%;
//  }
//}
//
//.nav-bar {
//  background: #002238;
//  height: $navbar-height;
//  margin: 0;
//  padding: 0;
//  position: relative;
//  text-align: center;
//  width: 100%;
//}
//
///* Category dropdowns */
//.nav-cats {
//  $nav-item-width: $col-width / 4;
//
//  /* Hide all color bars on hover (the one that is
//   * actually being hovered is shown using a stronger
//   * rule below) */
//  &:hover .color-bar {
//    display: none;
//  }
//
//  .nav-label { 
//    color: #D0D0D0;
//    display: inline-block;
//    font-family: $hdr-font;
//    font-size: 18px;
//    padding-top: 5px;
//    width: $nav-item-width;
//
//    .nav-txt {
//      margin-right: 7px;
//    }
//
//    .nav-arw {
//      position: absolute;
//      top: 4px;
//    }
//  }
//
//  .nav-cat {
//    /* Show the color bar for the category that
//     * is being hovered (all others are hidden using
//     * a weaker rule above) */
//    &:hover .color-bar {
//      display: block;
//    }
//
//    .color-bar {
//      bottom: 0;
//      height: $color-bar-height;
//      position: absolute;
//      width: $nav-item-width;
//    }
//
//    .color-bar.red    { background: #FF1433; }
//    .color-bar.yellow { background: #FF0;    }
//    .color-bar.orange { background: #FF6F00; }
//    .color-bar.green  { background: #30FF00; }
//
//    &:hover > .dropdown {
//      display: block;
//    }
//  }
//
//  .nav-links {
//    padding-top: 50px;
//  }
//
//  .dropdown {
//    background: rgba(#092229, .9);
//    border-bottom: 1px solid #979797;
//    cursor: default;
//    display: none;
//    min-height: 280px;
//    left: 0;
//    padding-top: 50px;
//    position: absolute;
//    top: $navbar-height;
//    width: 100%;
//
//    /* Main nav links (picure with text below) */
//    .nav-link {
//      cursor: pointer;
//      display: inline-block;
//      margin-right: 74px;
//      overflow: hidden;
//      width: 165px;
//
//      a {
//        display: block;
//        font-family: $hdr-font;
//        font-size: 22px;
//        line-height: 26px;
//      }
//
//      img {
//        height: 165px;
//        width: 165px;
//        margin-bottom: 10px;
//      }
//    }
//
//    .nav-link:last-of-type {
//      margin-right: 0;
//    }
//  }
//
//  .about {
//    margin-bottom: 50px;
//    
//    a {
//      text-decoration: underline;
//    }
//
//    p {
//      display: block;
//      font-size: 18px;
//      line-height: 24px;
//      margin: 0 auto 18px;
//      text-align: left;
//      width: $col-width;
//    }
//  }
//}
//
///* LOGIN/REGISTER OVERLAY */
//.account-panel {
//  background: rgba(#092229, .9);
//  color: #fff;
//  display:none;
//  height: $content-height;
//  position: absolute;
//  top: 0;
//  width: 100%;
//  z-index: 100;
//
//  .forgot-password {
//    display: block;
//    margin-top: 3px;
//    text-align: right;
//  }
//
//  .notice {
//    $top-area-height: 70px;
//    font-size: 18px;
//    height: $top-area-height;
//    line-height: $top-area-height;
//    text-align: center;
//  }
//
//  .inner {
//    margin: 0 auto;
//    position: relative;
//    width: $col-width;
//  }
//
//  .col {
//    width: 323px; 
//  }
//
//  .field {
//    $input-width: 323px;
//    margin: 0;
//
//    input {
//      $border-width: 2px;
//      $side-padding: 8px;
//      border-width: $border-width;
//      font-size: 18px;
//      height: 42px;
//      line-height: 42px;
//      padding: 0 $side-padding;
//      width: $input-width - $side-padding * 2 - $border-width * 2;
//    }
//  }
//
//  .error-msg {
//    $padding: 9px;
//    font-size: 15px;
//    min-height: 40px - 2 * $padding;
//    padding: $padding 0;
//  }
//
//  .error-field {
//    input {
//      border: 2px solid #F00;
//    }
//
//    .field-errors {
//      font-family: $open-sans;
//      font-size: 15px;
//      margin: 0 0 10px 0;
//      padding: 0 0 0 20px;
//    }
//  }
//
//  .hdr {
//    font-family: $hdr-font;
//    font-size: 27px;
//    margin-bottom: 40px;
//  }
//
//  label {
//    font-size: 18px;
//    line-height: 37px;
//  }
//
//
//
//}
//
//.close-btn {
//  cursor: pointer;
//  position: absolute;
//  right: 0;
//  top: 20px;
//}
//
///* PAGE BODY */
//.main-content {
//  height: $content-height;  
//  margin: 0 auto;
//  max-width: $background-width;
//  min-width: $col-width;
//  overflow: hidden;
//  position: relative;
//}
//
//.main-col {
//  padding-top: 72px;
//  z-index: 1;
//}
//
//.content-box {
//  @include content-layer;
//  background: radial-gradient(rgba(#FFF, .78), rgba(#FFF, .72));
//  position: relative;
//}
//
//.welcome-hdr {
//  color: #0982A5;
//  font-family: $hdr-font;
//  font-size: 24px;
//}
//
//.welcome-box {
//  margin-bottom: 72px;
//  padding: 31px 72px;
//  text-align: center;
//
//  p {
//    font-size: 20px;
//    line-height: 27px;
//    margin: 22px 0 0 0;
//  }
//
//  a {
//    color: $link-blue;
//    font-weight: bold;
//  }
//}
// 
//.featured-gallery {
//  $hdr-font-size: 18px;
//
//  h3 {
//    font-size: $hdr-font-size;
//    margin-top: 0; 
//  }
//
//  .gallery-item {
//    .topbar {
//      font-family: $hdr-font;
//      font-size: $hdr-font-size;
//      line-height: 34px;
//      padding-left: 35px;
//    }
//
//    .desc {
//      padding: 25px 25px 60px 25px; 
//    }
//  }
//
//  .slick-dots {
//    bottom: 20px;
//
//    li button:before {
//      font-size: 14px;
//    }
//
//    li.slick-active button:before {
//      color: #C0D62F;
//      text-shadow: -1px 0 #64920A,0 1px #64920A,1px 0 #64920A,0 -1px #64920A;
//    }
//  }
//}
//
///* FOOTER */
//.footer {
//  @include content-layer;
//  background: rgba(#FFF, 0.4);
//  border-top: 1px solid #E4E4E4;
//  bottom: 0;
//  color: #555555;
//  font-size: 14px;
//  height: 184px;
//  padding-top: 10px;
//  position: absolute;
//  text-align: center;
//  width: 100%;
//
//  h2 {
//    font-size: 13px;
//    font-weight: 600;
//  }
//
//  a, a:visited, a:hover {
//    color: #636A9F;
//  }
//}
//
//.mcz-logo {
//  margin: 8px 0;
//}
