$background-width: 1400px;
$background-url: image-url('welcome/sample_background.png');
$col-width: 890px;
$color-bar-height: 8px;
$content-height: 1670px;
$header-height: 150px;
$logo-padding-top: 40px;
$link-blue: #126e94;
$navbar-height: 37px;
$hdr-font: 'Montserrat', sans-serif;

$open-sans: 'Open Sans', sans-serif;
$white: #fff;
$topbar-height: 4.25em; // 65px / 16px
$topbar-color: #000;
$semibold: 600;

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body, p {
  font: normal 100% $open-sans;
}

#Page {
  max-width: 90.0625em; // 1441px / 16px
  margin: 0 auto;
}

.main-col, .topbar-inner {
  margin: 0 auto;
  width: 81.8182%;
}

.topbar-inner {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.topbar {
  background: $topbar-color;
  color: $white;
  height: $topbar-height;
}

.left {
  float: left;
}

.right {
  float: right; 
}

.nav-link {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 131px; // Don't let these resize with browser
}

//.nav-link:hover {
//  background: #c6c6c6;
//}

.eol-nav {
  left: 0;
  top: 0;
}

.eol-logo {
  position: absolute; 
  left: 25.1908%; // ((131 - 65 [image width]) / 2) / 131
  top: 30.147%; // ((68 - 27) / 2) / 68
  height: 39.70588%; // 27 / 68
  width: 49.61832%; // 65 / 131
}

.about {
  color: #c6c6c6;
  font-size: 1.125em;
  font-weight: 600;
  right: 0;
  top: 0;
  line-height: 3.7778; // 68px / 18px
  text-align: center;
}

.title {
  margin: 0;   
  font-size: 1.875em; // 30px / 16px
  font-weight: $semibold;
  line-height: 2.2667; // 68px / 30px
  text-align: center;
}

.title-plus {
  color: #a9ba30;
}

.slideshow {
  max-width: 100%;
  max-height: 26.625em; // 426px / 16px
}

.slideshow-img {
  max-width: 100%;
}

.welcome-box {
  background: #f4f4f4;
  height: 100%;
  margin: 4.2408% 0 0 0; // 50px / 1179px
  padding: 2.544529262087% 8.142493638677%; // 30px 96px (/1179)
  text-align: center;
  width: 83.7150127226%;
}

.welcome-hdr {
  font-size: 1.25em;
  font-weight: 600;
}

.welcome-p {
  font-size: 1.125em;
  font-weight: 300;
  margin: 1.75572519084% 0 0 0; // 20.7 / 1179
}

.section-head {
  border-bottom: 1px solid #979797;
  margin: 5.598% 0 3.223070398643% 0; // 66, (50 - 12 = 38) / 1179
}

.section-title {
  color: #3e3e3e;
  font-size: 1.5em;
  font-weight: 600;  
}

.section-intro {
  color: #161616;
  font-weight: 300;
  margin: 1.4419% 0;
}

.nav-items {
  position: relative;
  width: 100%;

  a, a:visited {
    text-decoration: none;
  }

  .image {
    max-width: 100%;
    vertical-align: bottom;
  }

  .nav-item {
    cursor: pointer;
    display: inline-block;
    margin: 1.0102% 1.0102% 0 0;
    position: relative;
    vertical-align: top;
  }

  .last {
    margin-right: 0;
  }

  .double-width {
    width: 66.3273961%; // 782 / 1179

    .bar {
      padding-left: 7.672634271%; // 60 / 782
      width: 92.327365729%;
    }
  }

  .single-width {
    width: 32.654792%; // 385 / 1179

    .bar {
      padding-left: 15.584415584%; // 60 / 385
      width: 84.415584416%;
    }

    .bar.two-line {
      height: 2.5em; // 50 / 20
      line-height: 1.25em; // 25 / 20
      
      // height of bars doesn't scale fluidly, so use em,
      // not %
      // ((75 - 50) / 2) / 20;
      padding-top: 0.625em; 
      padding-bottom: 0.625em; // ((75 - (22.8 * 2)) / 2) / 385
    }
  }

  .bar {
    background: #000;
    color: #fff;
    font-size: 1.25em; // 20 / 16
    font-weight: 600;
    height: 3.75em; // 75 / 20
    line-height: 3.75em;
    overflow: hidden;
    width: 100%;
  }
}

//@mixin bg-layer {
//  z-index: 1;
//}
//
//@mixin content-layer {
//  z-index: 2;
//}
//
//// RESET RULES
//body, p { 
//  font-family: $open-sans;
//}
//
//a, 
//a:visited, 
//a:hover {
//  background: transparent;
//  text-decoration: none;
//}
//
//input[type="submit"] {
//  border: 0;
//}
//
//h1, 
//h2, 
//h3 {
//  font-weight: normal;
//  margin: 0;
//}
//
//// GENERIC CLASSES
//
//.txt-wht, 
//.txt-wht a, 
//.txt-wht a:visited, 
//.txt-wht a:hover, 
//.txt-wht input[type="submit"] {
//  color: #fff;
//  font-family: "Open Sans", sans-serif;
//  text-shadow: 0 1px 4px #000;
//}
//
//
///* MISC GLOBAL RULES */
//%bg {
//  @include bg-layer;
//  background: $background-url no-repeat center top;
//  background-size: $background-width;
//}
//
//%bg-abs {
//  @extend %bg;
//  left: 0;
//  position: absolute;
//  top: 0;
//}
//
//.bg {
//  &--main {
//    @extend %bg;
//  }
//
//  &--hdr {
//    @extend %bg-abs;
//    bottom: 0;
//    height: $topbar-height + $header-height;
//    right: 0;
//    
//    -webkit-filter: blur(8px);
//    filter: blur(8px);
//  }
//
//  &--blur {
//    @extend %bg-abs;
//
//    -webkit-filter: blur(10px); 
//    filter: blur(10px); 
//
//    width: 100%;
//  }
//}
//
//.content-grp {
//  @include content-layer;
//  position: relative;
//}
//
///* HEADER */
//.header {
////  z-index: 2;
//}
//
//.left {
//  display: block;
//  float: left;
//}
//
//.right {
//  display: block;
//  float: right;
//}
//
//%btn {
//  color: #FFF;
//  border-radius: 1px;
//  cursor: pointer;
//}
//
//.btn {
//  &--small {
//    @extend %btn;
//    font-size: 13px;
//    line-height: 27px;
//    padding: 0 26px;
//  }
//
//  &--full {
//    @extend %btn;
//    font-size: 18px;
//    height: 44px;
//    line-height: 44px;
//    padding: 0;
//    width: 100%;
//  }
//}
//
//.blue {
//  background: #34ABFE;
//}
//
//.green {
//  background: #6BBF26;
//}
//
//.topbar { 
//  $topbar-padding: 4px;
//  background-color: rgba(12, 47, 57, .38); 
//  height: $topbar-height - $topbar-padding; 
//  padding-top: $topbar-padding;
//}
//
//.header { 
//  background-color: rgba(#5B92A8, .44);
//  height: $header-height;
//}
//
//.logo-pad {
//  padding-top: $logo-padding-top;
//}
//
//.txt-center {
//  text-align: center;
//}
//
//.logo-main {
//  font-family: $hdr-font;
//  font-size: 36px;  
//  line-height: 31px;
//  margin-bottom: 12px; 
//}
//
//.txt-grn {
//  color: #C0D62F;
//  text-shadow: 0 2px 4px #000;
//}
//
//.logo-sub {
//  font-size: 24px;
//}
//
//.ib-list {
//  font-size: 0; // hack to remove space between inline-block elements
//  height: 100%;
//  list-style: none;
//  margin: 0;
//  overflow: hidden;
//  padding: 0;
//
//  li {
//    cursor: pointer;
//    display: inline-block;
//    height: 100%;
//  }
//}
//
//.nav-bar {
//  background: #002238;
//  height: $navbar-height;
//  margin: 0;
//  padding: 0;
//  position: relative;
//  text-align: center;
//  width: 100%;
//}
//
///* Category dropdowns */
//.nav-cats {
//  $nav-item-width: $col-width / 4;
//
//  /* Hide all color bars on hover (the one that is
//   * actually being hovered is shown using a stronger
//   * rule below) */
//  &:hover .color-bar {
//    display: none;
//  }
//
//  .nav-label { 
//    color: #D0D0D0;
//    display: inline-block;
//    font-family: $hdr-font;
//    font-size: 18px;
//    padding-top: 5px;
//    width: $nav-item-width;
//
//    .nav-txt {
//      margin-right: 7px;
//    }
//
//    .nav-arw {
//      position: absolute;
//      top: 4px;
//    }
//  }
//
//  .nav-cat {
//    /* Show the color bar for the category that
//     * is being hovered (all others are hidden using
//     * a weaker rule above) */
//    &:hover .color-bar {
//      display: block;
//    }
//
//    .color-bar {
//      bottom: 0;
//      height: $color-bar-height;
//      position: absolute;
//      width: $nav-item-width;
//    }
//
//    .color-bar.red    { background: #FF1433; }
//    .color-bar.yellow { background: #FF0;    }
//    .color-bar.orange { background: #FF6F00; }
//    .color-bar.green  { background: #30FF00; }
//
//    &:hover > .dropdown {
//      display: block;
//    }
//  }
//
//  .nav-links {
//    padding-top: 50px;
//  }
//
//  .dropdown {
//    background: rgba(#092229, .9);
//    border-bottom: 1px solid #979797;
//    cursor: default;
//    display: none;
//    min-height: 280px;
//    left: 0;
//    padding-top: 50px;
//    position: absolute;
//    top: $navbar-height;
//    width: 100%;
//
//    /* Main nav links (picure with text below) */
//    .nav-link {
//      cursor: pointer;
//      display: inline-block;
//      margin-right: 74px;
//      overflow: hidden;
//      width: 165px;
//
//      a {
//        display: block;
//        font-family: $hdr-font;
//        font-size: 22px;
//        line-height: 26px;
//      }
//
//      img {
//        height: 165px;
//        width: 165px;
//        margin-bottom: 10px;
//      }
//    }
//
//    .nav-link:last-of-type {
//      margin-right: 0;
//    }
//  }
//
//  .about {
//    margin-bottom: 50px;
//    
//    a {
//      text-decoration: underline;
//    }
//
//    p {
//      display: block;
//      font-size: 18px;
//      line-height: 24px;
//      margin: 0 auto 18px;
//      text-align: left;
//      width: $col-width;
//    }
//  }
//}
//
///* LOGIN/REGISTER OVERLAY */
//.account-panel {
//  background: rgba(#092229, .9);
//  color: #fff;
//  display:none;
//  height: $content-height;
//  position: absolute;
//  top: 0;
//  width: 100%;
//  z-index: 100;
//
//  .forgot-password {
//    display: block;
//    margin-top: 3px;
//    text-align: right;
//  }
//
//  .notice {
//    $top-area-height: 70px;
//    font-size: 18px;
//    height: $top-area-height;
//    line-height: $top-area-height;
//    text-align: center;
//  }
//
//  .inner {
//    margin: 0 auto;
//    position: relative;
//    width: $col-width;
//  }
//
//  .col {
//    width: 323px; 
//  }
//
//  .field {
//    $input-width: 323px;
//    margin: 0;
//
//    input {
//      $border-width: 2px;
//      $side-padding: 8px;
//      border-width: $border-width;
//      font-size: 18px;
//      height: 42px;
//      line-height: 42px;
//      padding: 0 $side-padding;
//      width: $input-width - $side-padding * 2 - $border-width * 2;
//    }
//  }
//
//  .error-msg {
//    $padding: 9px;
//    font-size: 15px;
//    min-height: 40px - 2 * $padding;
//    padding: $padding 0;
//  }
//
//  .error-field {
//    input {
//      border: 2px solid #F00;
//    }
//
//    .field-errors {
//      font-family: $open-sans;
//      font-size: 15px;
//      margin: 0 0 10px 0;
//      padding: 0 0 0 20px;
//    }
//  }
//
//  .hdr {
//    font-family: $hdr-font;
//    font-size: 27px;
//    margin-bottom: 40px;
//  }
//
//  label {
//    font-size: 18px;
//    line-height: 37px;
//  }
//
//
//
//}
//
//.close-btn {
//  cursor: pointer;
//  position: absolute;
//  right: 0;
//  top: 20px;
//}
//
///* PAGE BODY */
//.main-content {
//  height: $content-height;  
//  margin: 0 auto;
//  max-width: $background-width;
//  min-width: $col-width;
//  overflow: hidden;
//  position: relative;
//}
//
//.main-col {
//  padding-top: 72px;
//  z-index: 1;
//}
//
//.content-box {
//  @include content-layer;
//  background: radial-gradient(rgba(#FFF, .78), rgba(#FFF, .72));
//  position: relative;
//}
//
//.welcome-hdr {
//  color: #0982A5;
//  font-family: $hdr-font;
//  font-size: 24px;
//}
//
//.welcome-box {
//  margin-bottom: 72px;
//  padding: 31px 72px;
//  text-align: center;
//
//  p {
//    font-size: 20px;
//    line-height: 27px;
//    margin: 22px 0 0 0;
//  }
//
//  a {
//    color: $link-blue;
//    font-weight: bold;
//  }
//}
// 
//.featured-gallery {
//  $hdr-font-size: 18px;
//
//  h3 {
//    font-size: $hdr-font-size;
//    margin-top: 0; 
//  }
//
//  .gallery-item {
//    .topbar {
//      font-family: $hdr-font;
//      font-size: $hdr-font-size;
//      line-height: 34px;
//      padding-left: 35px;
//    }
//
//    .desc {
//      padding: 25px 25px 60px 25px; 
//    }
//  }
//
//  .slick-dots {
//    bottom: 20px;
//
//    li button:before {
//      font-size: 14px;
//    }
//
//    li.slick-active button:before {
//      color: #C0D62F;
//      text-shadow: -1px 0 #64920A,0 1px #64920A,1px 0 #64920A,0 -1px #64920A;
//    }
//  }
//}
//
///* FOOTER */
//.footer {
//  @include content-layer;
//  background: rgba(#FFF, 0.4);
//  border-top: 1px solid #E4E4E4;
//  bottom: 0;
//  color: #555555;
//  font-size: 14px;
//  height: 184px;
//  padding-top: 10px;
//  position: absolute;
//  text-align: center;
//  width: 100%;
//
//  h2 {
//    font-size: 13px;
//    font-weight: 600;
//  }
//
//  a, a:visited, a:hover {
//    color: #636A9F;
//  }
//}
//
//.mcz-logo {
//  margin: 8px 0;
//}
