@import "layout_vars.scss";

$single-width-px: 305;
$double-width-px: 622;
$nav-img-height: 305;

@function nav-img-url($img-name) {
  @return image-url("welcome/nav/" + $img-name + ".jpg")
}

@mixin nav-item-dimensions($item-width, $over-txt-width, $col-width) {
  $bar-padding-left: 30; 
  $padding-left: percentage($bar-padding-left / $item-width);

  width: percentage($item-width / $col-width);

  .bar {
    padding-left: $padding-left;
    width: 100%;
  }

  .img {
    padding-top: percentage($nav-img-height / $item-width);
  }

  .nav-overlay-txt {
    width: percentage($over-txt-width / $item-width);
  } 
}

// ------------ HOME ----------------
// SLIDESHOW
.slide-overlay {
  @include main-col-horiz;
}

.slide {
  position: relative;
}

.slide-overlay-wrap {
  background-color: rgba(20, 20, 20, 0.49);
  bottom: 0;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}

.slide-overlay {
  max-width: $main-col-width / $em * 1em;
}

.slide-overlay-inner {
  color: $white;
  font-family: $open-sans;
  font-weight: $semibold;
  height: 100%;
  padding: percentage(12 / $main-col-width) 0 percentage(47 / $main-col-width) 0;
}

.slide-head-grp {
  $font-size: 20;
  font-size: $font-size / $em * 1em;

  .slide-title, .slide-subtitle {
    display: inline-block;
  }

  .slide-title {
    margin-right: 13 / $font-size * 1em;
  }
}

.slide-desc {
  margin-top: 3 / $em * 1em;
}

.slide-subtitle {
  font-style: italic;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 0;
  padding-bottom: 10px;

  li {
    margin: 0 12px;

    button:before {
      color: rgba(215, 215, 215, 0.19);
      font-size: 15px; // Ususally, we'd use em, but this is a hack to work around slick.
      opacity: 1;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #979797;
    }

    &.slick-active {
      button:before {
          opacity: 1;
          color: $white;
          -webkit-text-stroke-color: $white;
      }
    }
  }
}

// NAV SECTIONS
.nav-items {
  $bar-padding-left: 30;

  position: relative;
  width: 100%;

  a, a:visited {
    text-decoration: none;
  }

  .img-wrap {
    position: relative;
  }

  .nav-img {
    max-width: 100%;
    vertical-align: bottom;
  }

  .nav-overlay {
    color: $white;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.74);
    font-size: 1.125em;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    $margin: percentage(12 / $main-col-width);
    cursor: pointer;
    display: inline-block;
    margin: $margin $margin 0 0; 
    position: relative;
    vertical-align: top;

    &:hover {
      .nav-overlay {
        display: flex;
      }

      .bar {
        display: none;
      }
    } 

    &.border {
      border: 1px solid $black;
    }

    .img {
      background-size: cover;
      background-position: center;
    }
  }


  .double-width {
    $over-txt-width: 422;
    @include nav-item-dimensions($double-width-px, $over-txt-width, $main-col-width);
  }

  .single-width {
    $over-txt-width: 203;
    @include nav-item-dimensions($single-width-px, $over-txt-width, $main-col-width);
  }

  .bar {
    $padding-t-b: 8 / $em * 1em;;
    background: rgba($black, .8);
    color: $white;
    font-size: 1em;
    font-weight: $bold;
    line-height: 1.5;
    padding-bottom: $padding-t-b;
    padding-top: $padding-t-b;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .memory-games .img {
    background-image: nav-img-url("memory_game");
  }

  .ecosystems .img {
    background-image: nav-img-url("eol_places");
  }

  .lesson-plans .img {
    background-image: nav-img-url("lesson_plans");
  }

  .species-cards .img {
    background-image: nav-img-url("species_cards");
  }

  .biodiv-articles .img {
    background-image: nav-img-url("biodiversity_articles");
  }

  .podcasts .img {
    background-image: nav-img-url("podcasts");
  }

  .google-tours .img {
    background-image: nav-img-url("google_tours");
  }

  .collections .img {
    background-image: nav-img-url("collections");
  }

  .hi-res-images .img {
    background-image: nav-img-url("hi_res_images");
  }

  .inaturalist .img {
    background-image: nav-img-url("inaturalist");
  }

  .coloring-books .img {
    background-image: nav-img-url("bhl_coloring");
  }

  .ecosystems,
  .species-cards,
  .google-tours,
  .hi-res-images,
  .coloring-books {
    margin-right: 0;
  }
}

// RESPONSIVE TRANSITIONS
@media screen and (max-width: $main-col-with-padding-width * 1px) {
  .nav-items {
    .nav-overlay {
      font-size: 14 / $em * 1em;
    }
  }
}

@media screen and (max-width: 740px) {
  .nav-items {
    .nav-overlay {
      font-size: 12 / $em * 1em;
    }
  }
}

@media screen and (max-width: 646px) {
  $new-main-col-width: 622;

  .main-col, .slide-overlay {
    padding: 0 percentage($main-col-padding / ($new-main-col-width + 2 * $main-col-padding));
  }

  .nav-items {
    $margin-px: 12;
    $width-px: ($new-main-col-width - $margin-px) / 2;

    .single-width, .double-width {
      @include nav-item-dimensions($width-px, 203, $new-main-col-width);

      $margin: percentage($margin-px / $new-main-col-width);
      margin: $margin $margin 0 0;
    }

    .nav-overlay {
      font-size: 14 / $em * 1em;
    }

    .ecosystems .img {
      background-image: nav-img-url("eol_places_single");
    }

    .lesson-plans .img {
      background-image: nav-img-url("lesson_plans_single");
    }

    .google-tours .img {
      background-image: nav-img-url("google_tours_single");
    }

    .inaturalist .img {
      background-image: nav-img-url("inaturalist_single");
    }

    .ecosystems,
    .species-cards,
    .google-tours,
    .collections,
    .coloring-books {
      margin-right: 0;
    }
  }

  .slide-head-grp {
    font-size: 1em;
  }

  .slide-desc {
    display: none;
  }

  .slick-dots {
    padding-bottom: 2px;

    li {
      margin: 0 6px;

      button:before {
        font-size: 12px; // Ususally, we'd use em, but this is a hack to work around slick.
      }
    }
  }
}

@media screen and (max-width: 525px) {

  .nav-items {
    .nav-overlay {
      font-size: 12 / $em * 1em;
    }
  }
}

@media screen and (max-width: 450px) {
  .nav-items {
    .nav-overlay {
      font-size: 10 / $em * 1em;
    }

    .bar {
      font-size: .75em;
    }
  }
}

@media screen and (max-width: 440px) {
  $new-main-col-width: 440;

  .slide-overlay-inner {
    padding-bottom: percentage(30 / $new-main-col-width);
  }
}


// ---------  ABOUT  ------------
.about-box {
  margin-top: percentage(37 / $main-col-width);
}

.about-hdr {
  $pad: percentage(4 / $main-col-width);
  background-color: #a9ba30;
  border-radius: 11px 11px 0 0;
  color: $white;
  font-size: 24 / $em * 1em;
  font-weight: $semibold;
  padding: $pad;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.49);
}

.about-content {
  $hpad: percentage(70 / $main-col-width);
  $bpad: percentage(38 / $main-col-width);
  background-color: #f4f4f4;
  border-radius: 0 0 11px 11px;
  height: 100%;
  padding: 0 $hpad $bpad $hpad;
  text-align: center;

  .about-p {
    font-size: 14 / $em * 1em;
    font-weight: $light;
    padding-top: 20 / $em * 1em;
  }
}

.team-head {
  border-bottom: 1px solid $section-border-gray;
  margin: percentage(62 / $main-col-width) 0 0 0;
}

.team-head-title {
  font-size: 20 / $em * 1em;
  font-weight: $semibold;
}

.team-head-content {
  $tpad: percentage(5 / $main-col-width);
  $bpad: percentage(12 / $main-col-width);
  color: #161616;
  font-size: 14 / $em * 1em;
  padding: $tpad 0 $bpad 0;
}

.bio {
  display: flex;
  margin-top: percentage(42 / $main-col-width);
}

$bio-img-width-px: 127;
$bio-img-rmargin-px: 26;
$bio-img-outer-width-px: $bio-img-width-px + $bio-img-rmargin-px;
.bio-img {
  margin-right: percentage($bio-img-rmargin-px / $main-col-width);
  width: $bio-img-width-px * 1px;
  height: $bio-img-width-px * 1px;
  vertical-align: top;
}

.bio-content {
  $width-px: $main-col-width - $bio-img-outer-width-px;
  flex: 1;
}

.bio-head {
  font-size: 18 / $em * 1em;
  font-weight: $semibold;
}

.bio-title {
  display: inline-block;
  font-style: italic;
}

.bio-txt {
  font-size: 14 / $em * 1em;
  line-height: 1.6;
  margin-top: 4 / $em * 1em;
}

@media screen and (max-width: 525px) {
  .team-head-title {
    font-size: 16px;
  }

  .bio-head {
    font-size: 14px;
  }

  .team-head-content, .bio-txt {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .bio-img {
    height: 85px;
    width: 85px;
  }
}
